[2022-03-22 13:08] hansgschossmann commented on #1640
@karok2m do you have an idea what can be the reason for this issue? @rploeg which version of the deployment script have you used or does "latest bits" mean HEAD of main?

[2022-03-22 13:15] hansgschossmann commented on #1641
@dagefjestad can it be that your server requires username/password authentication? The error message "Endpoint does not support the user identity type provided." sounds like this. Please verify.

[2022-03-22 17:28] dagefjestad commented on #1641
Hi,
Yes - it sounds like this but I tested the endpoint with UAExpert (Client tool) with anonymous - that works.

Is it possible to specify explicit that I want Basic256 and Sign&Encrypt for messages?

Tnks

[2022-03-23 07:55] rploeg commented on #1640
The version of two days ago --> main. I have tried it on another Windows 11 machine and there it was working. So it looks like a problem on one of my machines.

[2022-03-23 07:55] #1640 closed, assigned to nobody

[2022-03-23 13:08] rploeg opened #1648 "Azure Data Explorer - where is it used for?"
I see that Azure Data Explorer is provisioned in the main deployment script. In the architecture sketches I don't see that back yet. Will you move the functions of TSI to Azure Data Explorer?

[2022-03-23 13:12] rploeg opened #1649 "Physical edge deployment with OPC UA server don't get data into the platform"
Hi,

I am running the main 2.81 build and deployed the environment. I have setup a own Azure IoT Edge device (physical) and a OPC UA server. I successfully discovered the server and turned on the nodes:

![image](https://user-images.githubusercontent.com/49752333/159707172-51ea8049-8fee-44b1-9ebc-ad009089c5f9.png)

The nodes are published:

![image](https://user-images.githubusercontent.com/497523

[2022-03-24 13:44] hansgschossmann commented on #1648
@marcschier can you pls answer this one?

[2022-03-24 13:51] hansgschossmann commented on #1649
@rploeg as you can see the issue is because of the following error:
"Endpöoint deos not support the user identity type provided"
So it is because the OPC UA server does not support the user auth which is configured.

@dacolgit can you pls describe which user auth is supported by the Engineering tool?

[2022-03-24 16:53] dacolgit commented on #1649
Engineering tool supports anonymous and username/password user authentication.
By default it uses anonymous authentication.
To use username/password you need to select 'Asset login' and add username and password.
![image](https://user-images.githubusercontent.com/7942439/159967915-637402e6-af71-496b-a1f4-4897368f4285.png)
Credentials are globally defined for all the assets (servers), currently is

[2022-03-24 16:55] rploeg commented on #1649
My server is anonymous so that should work. The discovery is working, but the publisher not. What can be wrong ?

I am running also the simulator from the branch, that one is successfully working, so it's my OPv server
________________________________
From: Daniele Colonna ***@***.***>
Sent: Thursday, March 24, 2022 5:54:06 PM
To: Azure/Industrial-IoT ***@***.***>
Cc: Remco Ploeg ***@***.***>; Men

[2022-03-25 06:22] hansgschossmann commented on #1649
Do you see any logs on the OPC UA server side? They might give you an idea what is wrong? You can also check if changing the security policy/mode has some impact.

[2022-03-25 07:17] A-DavidJeyapaul opened #1654 "Azure IoT Edge OPC publisher Module Not sending the defined parameters"
Hi Team,

We are using IoT Edge OPC publisher Module to publish the data from our OPC server to IoT hub. Initially it was sending the data with the below schema.
<img width="310" alt="image" src="https://user-images.githubusercontent.com/101577249/160072263-adb7226b-25ee-4593-91f8-78fca1f70f64.png">

And Now its not updated to as per the below one.
<img width="313" alt="image" src="https://user-im

[2022-03-25 09:12] cristipogacean commented on #1654
@A-DavidJeyapaul, that's right, we fixed a regression in 2.8.2 related to the EdnpointUrl that leads to this behavior. If you need the ApplicationUri, you can get that adding a cli argument: --FullFeaturedMessage=true (--fm=true). This will add the application uri to the message as well. more details on the telemetry payload [here](https://github.com/Azure/Industrial-IoT/blob/main/docs/dev-guides/

[2022-03-25 09:32] derSchtefan opened #1655 "Breaking Change in OPC Publisher 2.8.2 in way how NodeId is reported back"
**Describe the bug**
OPC Publisher 2.8.2 introduces an undocumented breaking change in which the NodeId is reported back in each measurement. When the subscription to a node is specified in the format `nsu=http://COMPANY.com/MS/Unit;i=6076`, versions prior to 2.8.2 reported back the id in the NodeId element as `http://COMPANY.com/MS/Unit#i=6076` (namespace, hash, id).

With 2.8.2 this was changed

[2022-03-25 09:44] cristipogacean commented on #1655
@derSchtefan, that's right. the background for this change can be found here:  https://github.com/Azure/Industrial-IoT/issues/1385 respectively https://github.com/Azure/Industrial-IoT/pull/1462. We considered the behavior in 2.8.1 (and less)  a bug therefore we fixed it. basically the telemetry will use for nodeId exactly the string configured in the pn.json.
You can still get the same behavior in

[2022-03-25 12:03] karok2m commented on #1592
@aleducq, you can add `--ll=debug` to `Cmd` options of deployment manifest if you have a separate one for deployment of this particular OPC Publisher.

If OPC Publisher is running in orchestrated mode, which I believe is your case, then you can do this for a particular instance either via (1) adding `"LogLevel": "Debug"` to desired properties of module identity twin in IoT Hub or via (2) REST APIs

[2022-03-25 12:55] derSchtefan commented on #1655
We understand why you did this. It is just a bit odd to introduce a change that breaks E2E functionality in a 2.8.1 to 2.8.2 minor release. We also don't see it back in the release notes.

[2022-03-27 19:15] Ilheu opened #1657 "Data publish frequency"
**I'm trying to publish data with the same frequency (every 1 second or every 100 milliseconds or every 200 milliseconds). I need to send data even it doesn't change. So I tried to use heartbeat feature it doe not work properly.**

I tried to set  "--hb=10" in Container Create Options, but it does not send the data every 10 seconds,
I tried to set  ""HeartbeatInterval": 10," in every node but also

[2022-03-28 14:08] cristipogacean commented on #1657
There is no minimum value for heartbeat.

Please note though the --hb/heartbeatinterval are expressed in seconds. if you want to use milliseconds, you need to use  --DefaultHeartbeatInterval instead (e.g. `--DefaultHeartbeatInterval=00:00:00.200`)

We recommend that the HeartbeatInterval is a multiple of PublishingInterval. Please take in the consideration also proper configuration of the Sampling

[2022-03-28 14:32] Ilheu commented on #1657
I'm using version 2.8.2.1.
If the HeartBeatInterval is a multiple of PublishingInterval, it will double a message right? (if heartbeat sends every 1 seconds and PublishingInterval sends every 500 milliseconds, I will receive the same data twice every second).

Another question, can I only use heartbeat without PublishingInterval and SamplingInterval?  I only want to get one value per timestamp...

[2022-03-28 14:39] cristipogacean commented on #1657
Yes, when HeartBeat is enabled, the most recent data-change will be resent with the HeartbeatInterval cycle if the value is static.

If you don't specify publishing or sampling intervals, the default value will be used (1000ms for both).

[2022-03-29 04:49] A-DavidJeyapaul commented on #1654
Thanks for your support @cristipogacean and apologize for delayed response.

[2022-03-29 04:49] #1654 closed, assigned to nobody

[2022-03-29 10:20] felixmondelo opened #1658 "Breaking Change in OPC Publisher 2.8.2 "An item with the same key has already been added""
**Describe the bug**
If we have a duplicated node on publishednodes.json file, the OPCPublisher stops processing the rest of the nodes. In the previous version it doesn't happen, the OPCPublisher continues working.

**To Reproduce**
Steps to reproduce the behavior:
1. Add in publishednodes.json two nodes with the same ID and a third different node.
2. Launch the OPCPublisher, it doesn't subscribe

[2022-03-29 11:14] hansgschossmann commented on #1658
@cristipogacean, @karok2m can you pls take a look at this issue?

[2022-03-29 11:17] hansgschossmann commented on #1641
@dagefjestad just to be sure: you are using OPC Publisher 2.8.2?
cc: @cristipogacean

[2022-03-29 11:19] hansgschossmann commented on #1625
We close this issue for now. Pls reactivate if you hit it again and provide a support-bundle.

[2022-03-29 11:19] #1625 closed, assigned to hansgschossmann

[2022-03-29 11:23] hansgschossmann commented on #1657
@Ilheu looks like @cristipogacean answered your questions. We close this one for now. Please reactivate or open an new issue.

[2022-03-29 11:23] #1657 closed, assigned to nobody

[2022-03-29 11:24] karok2m commented on #1658
@felixmondelo, can you please add your sample `publishednodes.json` file here ?

[2022-03-29 11:27] marcschier commented on #1648
We recommend to move to Azure Data Explorer (ADX), but the work to move the platform to use ADX instead/in addition to TSI is not part of our plans for 2.8.  Therefore we are likely going to remove ADX and TSI from the sample deployment templates for in a future patch release.

[2022-03-29 11:31] cristipogacean commented on #1658
@felixmondelo, indeed, it seems to be a regression. I can replicate this.

[2022-03-29 11:43] rploeg commented on #1648
thanks!

[2022-03-29 11:43] #1648 closed, assigned to nobody

[2022-03-29 12:25] dagefjestad commented on #1641
Yes, I use the Latest. I got some further in the negotiation process with adding the certificate Subject as a UserName. The Server  side gave med a certificate to use for OPCPublisher. The key length of the certificate is 1024. No I got this problem:

12:20:16 ERR Microsoft.Azure.IIoT.OpcUa.Protocol.Services.StackLogger] (Error) The key size (1024) in the certificate is less than the minimum provi

[2022-03-29 13:27] cristipogacean commented on #1641
Hello @dagefjestad,

Unfortunately, it is not possible to explicitly specify the security policy and security mode for an endpoint. The publisher selects automatically the highest available security policy & mode on the server side.

The MinimumCertificateKeySize is referring to the peer certificates only. For the Own Application Certificate the MinimumCertificateKeySize hardcoded to  2048 therefo

[2022-03-29 13:38] dagefjestad commented on #1641
Thanks for your feedback.

I have the following in pn.json:

"OpcAuthenticationMode": "UsernamePassword",
"OpcAuthenticationUsername": "Customer",
"OpcAuthenticationPassword": "",

 I use --aa on my side. I accept everything :-)

 The server side are used by many different clients - so they limited possibilities for adjustments.

The situation now is that I get "BadSessionNotActivated" from them a

[2022-03-29 14:56] hansgschossmann commented on #1641
The username/password and the application certificate are typically used for very different purposes:
- the application cert is use for mutual authenication between the client and the server and encryption of the data communication
- the username/password is used for authentication of a user when the encrypted communication is already established and then used for authorization purposes by the ser

[2022-03-29 15:57] felixmondelo commented on #1658
@karok2m here is a sample:

[code]

[2022-03-29 20:47] dagefjestad commented on #1641
Thank you for the clarification about UserName.

When I dont have something in the UserName the Server respond with "Endpoint does not support the user identity type provided" very early in the negotiation. I asked the server guy about the password - they dont use it. They say that UserName should not be set but they cant explain why I get the identity type error and when I have some value I get f

[2022-03-30 06:01] hansgschossmann commented on #1641
The "BadCertificateHostnameInvalid" message is good to ignore and not concerning. This has to do with the SubjectName in the certificate not matching the actual hostname in the Endpoint URL you use to connect.

Do you use any username/password when connecting with UA Expert or do you use no authentication (means anonymous)?

[2022-03-30 09:44] karok2m commented on #1658
@felixmondelo, the intent here is to get the value of the same node twice with different names, right ?

[2022-03-30 12:30] dagefjestad commented on #1641
No, dont use any username there. I just set
• Security policy: Basic256
• Message Security Mode: Sign & Encrypt

[2022-03-30 13:37] hansgschossmann commented on #1641
Got it. With "UseSecurity": true, we choose the best Security policy/Security mode combination supported by OPC Publisher and the server. Basic256/Sign & encrypt might not be the most secure one, but there might be a more secure one. You should see all the combinations supported by the server in UA expert. Can you try to connect to the most secure one using anonymous?

[2022-03-30 18:48] dagefjestad commented on #1641
I think the problem is that the server failing in negotiation. It is a "home made" server based on the Softing SDK. I have send a mail to the other party and ask them for a meeting with someone who knows the server software.

When I try to establish a connection the server respond after the start of negotiation respond with: “Endpoint does not support the user identity type provided” To get passed

[2022-03-31 07:55] hansgschossmann commented on #1641
Please let us know when zou have more details.

[2022-03-31 10:57] dacolgit commented on #53
in version [2.8.2](https://github.com/Azure/Industrial-IoT/tree/release/2.8.2) QueueSize is configurable for Standalone mode.
For option syntax please look for `DefaultQueueSize` in [publisher-commandline.md](https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publisher-commandline.md) file.

[2022-03-31 15:09] cristipogacean commented on #1658
@felixmondelo, indeed, as I mentioned above, this configuration file is causing an issue with the publisher. This is a bug and we will work on it.

you can alternatively use the following configuration that will achieve the same result as per version 2,8,1

[code]

Here we used the DataSetWriterId to group the nodes in a separate subscription on the OPC UA Server. This allows duplication of nodeId

[2022-04-01 07:49] #1469 closed, assigned to nobody

[2022-04-01 07:56] cristipogacean commented on #1503
Closing for now. Please reopen if needed.

[2022-04-01 07:56] #1503 closed, assigned to cristipogacean

[2022-04-01 07:57] cristipogacean commented on #1492
Fixed in 2.8.2.

[2022-04-01 07:57] #1492 closed, assigned to cristipogacean

[2022-04-04 08:49] karok2m commented on #1649
@rploeg, can you please restart the OPC Publisher and collect the logs from the beginning ? Having a bit more logs might give us a clearer picture. Having a [support bundle](https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2020-11#gather-debug-information-with-support-bundle-command) from the IoT Edge device might be even better.

[2022-04-08 02:51] srjhunjhunwalacorp opened #1662 "Reason=BadCertificateUseNotAllowed 'Usage of certificate is not allowed.'"
**Describe the bug**
While connecting with a OPC UA server I am getting a error "Reason=BadCertificateUseNotAllowed 'Usage of certificate is not allowed.' ", I have used "--aa" parameter already to trust the certificate, but still connection not working, tried moving the cert from rejected/certs to trusted/certs also but results are same.

**Expected behavior**
Connection successful as auto trust.

[2022-04-08 08:30] cristipogacean commented on #1662
@srjhunjhunwalacorp, this typically means the peer's certificate, in this case the server's certificate, is not a valid/compliant OPC UA Certificate. You can find more details on the format of compliant application instance certificates [here](https://reference.opcfoundation.org/v104/Core/docs/Part6/6.2.2/). You may want to try a different generic OPC UA Client like Unified Automation's UA Expert

[2022-04-11 15:38] karok2m commented on #1389
@emulic, sorry for such a late response. I've somehow missed your comment. From the looks of it the error seem to be caused by invalid credentials. If the password is not passed or parsed correctly, then that would cause these `Forbidden` errors when trying to read secrets from Key Vault.

The `values.yaml` file that you provided above looks good and is similar to what we are using for our test de

[2022-04-12 11:03] hansgschossmann commented on #1592
no activity since several weeks: closing

@aleducq pls reactivate if more help is needed.

[2022-04-12 11:03] #1592 closed, assigned to karok2m

[2022-04-12 11:09] hansgschossmann commented on #1641
closing because of no activity.

@dagefjestad pls reopen if there is more help needed.

[2022-04-12 11:09] #1641 closed, assigned to hansgschossmann

[2022-04-12 13:22] karok2m commented on #1389
@emulic, I've also tried the cluster stop/start scenario that you've mentioned with an AKS cluster which uses virtual machine scale set as agent pool type instead of availability set (that is used by `Microsoft.Azure.IIoT.Deployment`). And in my case everything worked as expected. After all workloads were up and running, I've been able to access Engineering Tool and Swagger pages of the microservi

[2022-04-20 14:23] karok2m commented on #1389
#1663 changed `Microsoft.Azure.IIoT.Deployment` to use  [virtual machine scale set](https://docs.microsoft.com/en-us/azure/virtual-machines/flexible-virtual-machine-scale-sets) instead of [availability set](https://docs.microsoft.com/en-us/azure/virtual-machines/availability-set-overview) as type of agent pool used in AKS cluster. That allows for addition of new node pools after cluster creation a

[2022-04-21 06:28] OttoKarlsson opened #1668 "Deployment of OPC Publisher module fails."
**Describe the bug**
I wanted to try and do some work with OPC Publisher but ran into a problem when doing the configuration of the module on the Azure Portal. I followed this documentation on "Specify Container Create Options in the Azure Portal", link: https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publisher.md.
However, when I click "review and create" the module fails to deploy

[2022-04-22 12:01] anil-k-gopalakrishna opened #1670 "Opc publisher truncate decimal points during data ingestion"
**Describe the bug**
I have deployed edge runtime together with opcpublisher, subscribing values from different ignition OpcUa server endpoint URLs. It is observed that, for the float data type tags with  more decimal points (more than 6), the values are getting truncated while sending to Hub. Due to this, on the DB, we are seeing the same values, as the changes on the lower decimal values are not

[2022-04-22 12:11] cristipogacean commented on #1668
@OttoKarlsson, I believe the issue here is that the folder /opcpublisher does not exist on the host machine. Probably you need to create it manually in order to be properly mapped into the container. or you can map an already existing folder on the host system

[2022-04-22 14:11] hansgschossmann commented on #1670
@anil-k-gopalakrishna can you pls also try with 2.8.2 (which is the latest version)?

I see that 2.8.2 emits values with more digits after the decimal points, but i use the PubSub schema for the values:

<7> 2022-04-22 14:10:14.801 +00:00 [VRB Microsoft.Azure.Devices.Device.Client] ["Enter"] Informational: "InternalClient#8622890" "OnModuleEventMessageReceivedAsync" "(transform, Message#57446246)"

[2022-04-25 08:07] OttoKarlsson commented on #1668
@cristipogacean, That works, however the documentation clearly states that the IoT Edge Runtime will create the folder if it doesn't exist.
Documentation reference: https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publisher.md

[2022-04-27 10:31] #1668 closed, assigned to karok2m

[2022-04-28 04:03] hansgschossmann opened #1677 "Validate sampling interval against minimum sampling interval of variable when setting up monitored item (use interval 0 to oversample)"
**Describe the bug**
The documentation states:
        DefaultPublishingInterval=VALUE
                                  Default value for the OPC UA publishing interval of OPC UA subscriptions
                                  created to an OPC UA server. This value is used when no explicit setting
                                  is configured.
                                  Alternative: --o

[2022-04-29 12:52] karok2m commented on #1389
@emulic, I am closing this issue as I was not able to reproduce the problem and the current version seems to behave as expected. Please reopen it if you are still having problems with the deployment.

[2022-04-29 12:52] #1389 closed, assigned to karok2m

[2022-05-02 05:52] barnstee opened #1680 "Support OPC UA PubSub metadata messages in OPC Publisher"
Implement ua-metadata messages as defined in 7.2.3.4.2 of the OPC UA spec (see https://reference.opcfoundation.org/v104/Core/docs/Part14/7.2.3/). These should be sent before sending the corresponding ua-data (telemetry) message and sent in regular intervals to allow OPC UA PubSub subscribers to see them if the Broker doesn't support retaining messages. they should also be sent to a separate Broker

[2022-05-02 12:44] emulic commented on #1389
Just tried to deploy the version 2.8.2 on top of existing IIoT resources by following [this](https://github.com/Azure/Industrial-IoT/blob/main/docs/deploy/howto-add-aks-to-ps1.md) description.
I used aiiot helm chart 0.4.2 from helm repository:
helm repo add azure-iiot https://azure.github.io/Industrial-IoT/helm
helm install aiiot azure-iiot/azure-industrial-iot --namespace aiiot --version 0.4.2 -

[2022-05-04 07:21] developedbymayur opened #1685 "OPC Publisher container stopping"
<img width="959" alt="image" src="https://user-images.githubusercontent.com/87295324/166637839-29b16d58-e854-4546-b596-3e4f74027626.png">

Hi all , we have found that opc container stops timely throwing following error. Your suggestions will be helpful.

[2022-05-04 08:21] cristipogacean commented on #1685
this looks like a connectivity issue between the opc publisher and the OPC UA server. the OPC publisher manages to restore the connection though. Is it possible that the server was restarted in this case?

[2022-05-05 04:18] developedbymayur commented on #1685
No the server was not restarted , what kind of information do you need? can you please let me know

[2022-05-05 04:20] developedbymayur commented on #1685
`Opc.Ua.ServiceResultException: BadOutOfMemory
   at Opc.Ua.ClientBase.ValidateResponse(ResponseHeader header)
   at Opc.Ua.SessionClient.EndPublish(IAsyncResult result, UInt32& subscriptionId, UInt32Collection& availableSequenceNumbers, Boolean& moreNotifications, NotificationMessage& notificationMessage, StatusCodeCollection& results, DiagnosticInfoCollection& diagnosticInfos)
   at Opc.Ua.Clien

[2022-05-05 04:22] developedbymayur commented on #1685
`[08:12:13 INF Microsoft.Azure.IIoT.OpcUa.Protocol.Services.DefaultSessionManager] Session '25e31c4c8a33b7f2046d513d854736e6732c4371' set to refresh due to Keepalive with reported status BadNoCommunication 'Server not responding to keep alive requests.'
[08:12:23 INF Microsoft.Azure.IIoT.OpcUa.Protocol.Services.DefaultSessionManager] Session '25e31c4c8a33b7f2046d513d854736e6732c4371' set to refres

[2022-05-05 10:15] cristipogacean commented on #1685
We will need to understand what exactly is the problem here. From the traces we can see that there is a connectivity issue between OPC publisher and the OPC UA Server that is mitigated and the connection is reestablished. this is perfectly valid functionality so we don't see a problem here.

The really strange thing is the `BadOutOfMemory` status code we receive on the publish response. I looked i

[2022-05-05 10:24] developedbymayur commented on #1685
Hii Sir , It shows connected back but data is not forwarded into output , when the container is restarted it forwards data again.

[2022-05-05 10:28] developedbymayur commented on #1685
Regarding Bad out of Memory : Does RAM of the VM can affect this error?

[2022-05-09 11:54] hansgschossmann commented on #1685
@developedbymayur as @cristipogacean pointed already out our current analysis says that the message contains a status code ("BadOutOfMemory")  which we got back from the server (from the port number this looks like a KepWare server). If we run out of memory in the container. this would surface differently.

Have you been able to check the logs and status of your OPC UA server you are connecting to

[2022-05-11 13:07] karok2m commented on #1677
I think that we need to think about sampling interval coupled with queue size. Default queue size is `1` at the moment. So having sampling interval be half of publishing interval might cause dropped values.

[2022-05-16 06:05] gregeva opened #1701 "OPC Publisher 2.8.2: Could not send worker heartbeat - eventually crashing and not restarting"
**Describe the bug**
Repeatedly receiving the error message "**Could not send worker heartbeat.
System.NullReferenceException: Object reference not set to an instance of an object.**" from the OPC Publisher (version 2.8.2).

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. I had subscribed to around 55 new OPC tags with a 500ms poll rate
2. Updated changes received in the publisher an

[2022-05-16 09:47] gregeva commented on #1701
Subsequent testing has revealed that rolling back to version 2.8.0 using Helm chart 0.4.0 made this issue dissapear.

[2022-05-16 10:03] cristipogacean commented on #1701
@gregeva, thanks for the feedback! this seem to be a regression in 2.8.2 then. Could you give us some details on the job configuration stored in cosmosdb that causes this behavior? Especially on the opc ua connection authentication settings. How did you create the job configuration? was this something that was created with 2.8.2 using the engineering tool? or something different?

I think I have a

[2022-05-16 10:55] gregeva commented on #1701
You're welcome @cristipogacean .  Here is what you're after... let me know what you find
[jobconfiguration.zip](https://github.com/Azure/Industrial-IoT/files/8699407/jobconfiguration.zip)
.

[2022-05-16 14:14] cristipogacean commented on #1701
@gregeva, thanks, this confirmed my original assumption. I just created the PR #1702 that should fix the issue.

It seems that the following section in your job config was causing this regression:

[code]

In our job configuration the above section is left out completely, since it reflects the default setting:  Anonymous Authentication.  You can temporarily try to remove it or tune the API call to

[2022-05-16 14:34] gregeva commented on #1701
Understood.  Thanks for making quick work of this @cristipogacean !

I cannot change the API calls as this would require R&D and QA on our side which is not budgeted.  I'll inform the customer and we'll hold back with 2.8.0 until 2.8.3 is released.

[2022-05-17 11:35] whakey opened #1708 "Can't run OPC UA Publisher standalone module inside IoT Edge Simulator environment (iotedgehubdev)"
[code]

No matter what I try I can't seem to get publisher module to work inside IoT Edge Dev. I created a new iot edge solution with VS Code IoT extension, and that runs no problem. Then I added OPC UA Publisher module to the template with:

[code]
Which works with my actual test device, but gives me above error with simulator.

I see the issue probably has something to do with "Running outside i

[2022-05-18 07:34] kiranpradeep opened #1709 "Full Precision Float/Double Serializer"
**Is your feature request related to a problem? Please describe.**
If opc server has float value of higher precision e.g. 47.446998596191406f, the current opc publisher writes 47.447 as json result. I assume this is for JamesNK/Newtonsoft.Json#2540. This makes it _appear_ like this opc publisher is losing precision.

**Describe the solution you'd like**
Either of option 1 or 2. A fiddle for the [e

[2022-05-18 13:14] marcschier commented on #1708
Duplicate of #1211

[2022-05-18 13:18] marcschier commented on #1709
#1670

[2022-05-18 14:09] dacolgit commented on #1708
Please try the following steps:

tested with opc publisher version 2.8.2, iotedgehubdev version 0.14.14.

Create and edge device in IoTHub

Setup iotedgehubdev:
`iotedgehubdev setup -c "<edge-device-connection-string>"`
Start and debug a single module
`iotedgehubdev start`
Output module credential
`iotedgehubdev modulecred`
Create an EdgeHubConnectionString env variable with the value returned fro

[2022-05-18 15:43] whakey commented on #1708
If I understand correctly this doesn't help me, as I wish to debug a solution containing other modules that use the output of the Publisher module.

I managed to somewhat get around the issue by creating a custom module that generates similar output as this module, but in the future it would be beneficial to be able to use the actual module to have real data when debugging.

If debugging in soluti

[2022-05-18 22:04] microsoft-github-policy-service[bot] opened #1713 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-20 06:27] #1713 closed, assigned to nobody

[2022-05-24 17:32] VikasJaiswal opened #1720 "listKeys(variables('storageResourceId') inside ARM template is throwing exception"
I am trying to deploy the solution but my organisation has set a policy named "deny-storage-allowall" on creation of storage account  due to which deployment failed. To overcome, I have modified the "deploy.minimum.json" ARM template to meet the organisation policy and enabled public network access of the storage account only from selected virtual networks and IP addresses. Then I have kept all th

[2022-05-26 06:30] Vkas47 opened #1723 "Deploying Azure IIoT Solution on Azure Devops"
**Describe the bug**
Hi Team,

When we are trying to deploying the code in Azure Devops we are getting error in e2e-testing files. When we go through the same file there is no x86 mention on the file. We are not aware of what modification need to be done and where we have to recommended things. Below is the error output : -
--------------------------------------------------------------Error-------

[2022-05-27 14:18] hansgschossmann opened #1724 "test"
ignore

[2022-05-27 17:44] hansgschossmann commented on #1724
pls ignore

[2022-05-27 17:47] hansgschossmann commented on #1724
test again

[2022-05-29 15:28] hansgschossmann commented on #1724
test

[2022-05-29 15:35] hansgschossmann commented on #1724
test mention @hansgschossmann

[2022-05-30 09:09] karok2m commented on #1723
@Vkas47, we would need to know a bit more about what you are doing here to be able to help. Execution of our `azure-pipeline.yml` build pipeline does not look like what you are seeing here, please see bellow. And the E2E solution is in general not being built by `azure-pipeline.yml`, that happens in independent pipelines with their own YAML definitions. Were you able to figure out which step is ca

[2022-05-30 09:31] karok2m commented on #1720
@VikasJaiswal, can you please share the error message that you are getting ? `listKeys(variables('storageResourceId'), ...)` function in question here is trying to get Access Keys of a storage account to build a connection string based on that. That is then used for setting `storageEndpoints` details of IoT Hub. Please make sure that the service principal (I am guessing that this will be your user

[2022-05-30 15:12] albandrod opened #1726 "OPC Twin Module in IoT Edge StandAlone"
Hi, I'm just developed an IoT Solution where I have deployed the IoT Edge with OPC Publisher module in standalone mode. Now, what I need is to write some information back to the OPC Server, I now I can do this with the OPC Twin module, I already deployed it in the Edge:

![image](https://user-images.githubusercontent.com/39189511/171020196-8e50a6bd-b977-44c1-a4a4-6ffb971ffdb1.png)

But now, i do n

[2022-05-31 08:03] Vkas47 commented on #1723
Hi @Karok2m  we are trying to deploy this code with master branch. We are using starter pipeline in Azure Devops where default file of azure.pipeline.yml is picked by Azure devops by default and when we trying to run it it says error the following above error.

[2022-05-31 09:34] karok2m commented on #1723
@Vkas47, can you please use `main` branch ? `master` branch is deprecated and not maintained any more. The development now happens in `main` branch. Also, please make sure that the correct pipeline file is picked up, as ours is called `azure-pipelines.yml` with `-` instead of `.`.

[2022-05-31 10:04] karok2m commented on #1726
@albandrod, OPC Twin module is generally supposed to be deployed together with the full IIoT platform. That includes several microservices that run in Azure and communicate with OPC Publisher and OPC Twin modules. The Postman that you are referring to is actually APIs of the OPC Twin Microservice running in cloud. The REST calls against it are then communicated down to OPC Twin module. Please have

[2022-05-31 21:23] hansgschossmann commented on #1724
validate notification

[2022-05-31 21:30] hansgschossmann commented on #1726
@albandrod as our documentation states: https://docs.microsoft.com/en-us/azure/industrial-iot/overview-what-is-industrial-iot the OPC Twin module running standalone is an unsupported scenario.

[2022-06-01 08:10] Vkas47 commented on #1723
Master branch is using in Azure devops @Karok2m, When we clone the repo of Azure- IioT from github it automatically takes the main branch.

[2022-06-01 08:35] karok2m commented on #1723
Please check these steps to change [pipeline default branch](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/pipeline-default-branch?view=azure-devops) in Azure DevOps pipelines. That is configurable for each pipeline.

[2022-06-06 15:49] #1724 closed, assigned to nobody

[2022-06-06 16:27] hansgschossmann commented on #1726
Closing this issue.

[2022-06-07 15:47] daelsala opened #1737 "OPC publisher failures with IoT edge streaming service"
**Describe the bug**
A clear and concise description of what the bug is.
We have a customer who has data flowing from OPC Publisher to AzureSQLEdge, and the data stopped flowing on Fri, May 27, 2022, 12:00 AM (UTC-06:00) Central Time (US & Canada). After digging for a while we found that the streaming status got stuck in starting.

Looking through the support bundle logs with the iot edge team we

[2022-06-10 15:48] hansgschossmann commented on #1737
From looking at the support bundle it seems the customer is using:
mcr.microsoft.com/iotedge/opc-publisher:latest
This is not recommended. The customer should pin to a specific version. 2.8.2 is the most current one. 2.8.3 will be released in the next few days.

OPC Publisher does send some messages as you can see in the logs. The value of  "Outgress IoT message count" is increasing, but maybe not

[2022-06-10 20:45] hansgschossmann commented on #1737
@daelsala the BadRequestTimeout does happen when the OPC UA server does not respond to a request from the client (OPC Publisher) polling for data value changes. Most likely the system running the OPC UA server is too busy with other tasks with higher priorities (for example: if the OPC UA server runs on a PLC it is busy with controlling the system it is connected to, which has higher priority than

[2022-06-14 17:55] daelsala commented on #1737
cx provided the following information, please let me know if this helps or you need further info:
The Pi is updating the server every second or so, maybe faster. So perhaps the server is reading and updating too fast you believe? Then how does that explain that the data is still getting to our datalake in the cloud? This must mean the data is being read from the connector, and just not routed to t

[2022-06-16 19:11] daelsala commented on #1737
@hansgschossmann can you please assist

[2022-06-17 20:10] #1737 closed, assigned to hansgschossmann

[2022-06-21 11:06] hansgschossmann commented on #1662
@srjhunjhunwalacorp since there was no response i assume the issue got resolved. feel free to reactivate if more help required.

[2022-06-21 11:06] #1662 closed, assigned to nobody

[2022-06-21 11:08] hansgschossmann commented on #1685
@developedbymayur there was no response for a while. i assume the issue has been resolved. closing for now. feel free to reactivate if there is still an issue.

[2022-06-21 11:08] #1685 closed, assigned to nobody

[2022-06-21 11:11] hansgschossmann commented on #1677
@karok2m but keeping it the same has taking the nyqist theorem into account more probability to miss value changes.
cc: @cristipogacean

[2022-06-21 11:16] hansgschossmann commented on #1655
We decided not to change this behaviour, but will document the change.

[2022-06-21 11:19] hansgschossmann commented on #1649
@rploeg  there was not response on this for quite a while. closing for now. please reactivate if the issue is still there.

[2022-06-21 11:19] #1649 closed, assigned to nobody

[2022-06-24 06:08] #1701 closed, assigned to cristipogacean

[2022-06-24 06:08] marcschier commented on #1701
In 2.8.3

[2022-06-28 12:42] hansgschossmann commented on #1720
There was no further discussion on this topic for quite a while. Closing for now. @VikasJaiswal please reactivate if you need further help.

[2022-06-28 12:42] #1720 closed, assigned to karok2m

[2022-06-30 09:05] kiran-pradeep-palakkappilil commented on #1709
@cristipogacean is the pr #1711 abandoned ?

[2022-06-30 13:44] cristipogacean commented on #1709
@kiran-pradeep-palakkappilil, yes, we decided to put this on-hold for the moment. The attempt I started here, to fix the encoding of floats and doubles throughout all the IIoT platform, is very likely to cause too much trouble through breaking changes so we need to take a step back and look for an alternative.

[2022-07-05 15:13] hansgschossmann commented on #1655
This change is now documented at: https://github.com/Azure/Industrial-IoT/blob/main/docs/release-announcement.md#backwards-compatibility-notes

[2022-07-05 15:13] #1655 closed, assigned to monikavar

[2022-07-14 08:16] anipuramattom opened #1758 "Skipfirst option in opcpublisher versions above 2.5"
**Is your feature request related to a problem? Please describe.**
I am working on opcpublisher2.8.1 and it seems that "SkipFirst" option has been removed from versions above 2.5.
I am connecting to Ignition OpcServer and it seems that every time I do a restart of publisher, it duplicates the value in my database, which is not expected in subscription mode.

Please suggest if there any other optio

[2022-07-14 08:26] cristipogacean commented on #1758
You're right, the SkipFirst option is still missing in 2.8.x. Unfortunately, there is no alternative option to it available.

[2022-07-15 08:30] hansgschossmann commented on #1758
@anipuramattom  actually the behavior is correct by spec and SkipFirst was a "special" feature added to OPC Publisher < 2.6 to address the side effect you are experiencing.

[2022-07-20 01:37] LanceLiMS opened #1759 "Got BadNodeIdUnknown errors in OPCPublisher"
**Describe the bug**
Hi MS team, our user got an issue and failed to send message to IoT Hub while using OPCPublisher module  (version 2.7.x)
Error message:

2022-07-18 08:11:48.021 +00:00 [WRN] Failed to add new monitored item 'ns=3;b="zC7Ve2pVnEefL/g8/0V2fxIAAAAAAAAA"' due to 'Cannot parse node id text: 'b="zC7Ve2pVnEefL/g8/0V2fxIAAAAAAAAA"''
2022-07-18 08:11:48.022 +00:00 [INF] Added 0 monitore

[2022-07-20 11:52] cristipogacean commented on #1759
The nodeId here is an opaque type one. This means that the identifier itself is a byte array. For the OPC Publisher to properly parse opaque NodeIds defined in the configuration file, the id (byte array that follows the `b=` ) must be the string format of the 64 encoded value applied on the source byte array. No quote characters are expected, just the plain 64bit encoded string.
E.g.: if the opaqu

[2022-07-25 09:13] albandrod opened #1762 "Round Up Decimals"
Is there any method or configuration to round up decimals from OPC? We are receiving values like 2.99999999991, and we want to round up the decimal up to 4. Is it possible? or do we need to tweak the code to achieve this?

[2022-07-25 14:18] hansgschossmann commented on #1762
We do not support rounding up values. You would need to round it up in the cloud or in a module post OPC Publisher.

[2022-07-26 09:08] cristipogacean commented on #1759
Eventually the issue here was the fact that the node configured to be published was only supporting HistoryRead and no CurrentRead access levels. Because of this, the node cannot be monitored respectively subscribed on.

[2022-07-26 09:08] #1759 closed, assigned to cristipogacean

[2022-08-05 09:49] BGbakker opened #1765 "Data delay issues"
We are running into some data delay issues, and were looking for the place where the delay is taking place.

Setup:
We have a single hub with 2 edge devices connected.
The first edge had 5 endpoints connected to an OPC server. The second has 10 endpoints connected to 2 OPC servers (5 each).
We are experiencing a data delay on the second edge that we can’t explain. All data coming over 3 of the 10

[2022-08-05 12:50] cristipogacean commented on #1765
can you please share some details on:
- where you see the delay? is it at edgeHub's level or at IoTHub?
- is it possible that the IoT hub runs out of message quota during the day?
- are the messages pile up in the edgeHub because of upstream limitations?
- how is the configuration of the publishers: e.g standalone or orchestrated, is batching enabled

I think the issue is throughput throttling som

[2022-08-08 11:30] BGbakker commented on #1765
Hi,
First an update: The delay issue resolved itself over all endpoints when we disconnected the device producing excessive data. At this moment we are looking for options to check historic data or points to check when the issue reappears.

We notice the delay when using the data. For use we save the data in a database and record both the time of the data and the time of inserting the data into th

[2022-08-09 08:39] cristipogacean commented on #1765
you can get more information from edgeHub module if you enable the `Debug` log level by adding the `RuntimeLogLevel = Debug` environment variable to the edgeHub's deployment manifest. You ca do this in portal on the edge device's `Set Modules` configuration like in the following print-screen:
![image](https://user-images.githubusercontent.com/14314727/183603206-ca6b222f-1901-4864-93ef-e6d04c27510c

[2022-08-10 09:44] b-enigma-con commented on #1658
Is it correct that this published nodes schema does not work anymore in v2.8.3? I'm not able to supply a json array as mentioned above using the direct methods "PublishNodes" and "PublishNodes_V1". I receive a HTTP 500. Sending a single endpoint works as intended. I did a test with copy pasting the exact JSON as mentioned above using the direct method but to no avail... (http 500).

The reason I t

[2022-08-10 14:00] cristipogacean commented on #1658
@b-enigma-con, PubishNodes_V1 only allows configuring a single endpoint per call. If you need to add more endpoints at the same time, check if [AddOrUpdateEndpoints_V1](https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publisher-directmethods.md#addorupdateendpoints_v1) is a better fit.

[2022-08-11 14:23] b-enigma-con opened #1766 "Interval based send suggestion needed"
Hello all,

We're looking for some suggestions. We want the OPC Publisher to periodically send OPC values to the cloud, and not on a datachange. We have used the heartbeat functionality which seems to be doing more or less what we need, but data changes are sent as well. If we have a heartbeat every 10 seconds and the value changes in between two heartbeats, we receive an extra message for the dat

[2022-08-11 14:56] cristipogacean commented on #1766
Hello @b-enigma-con,

What if you set the PublishingInterval = SamplingInterval = heartbeat interval? e.g. 10 seconds like in your example.
The publisher will then only generate data-changes in the same cycle as heartbeats.

[2022-08-12 08:37] aleducq commented on #1492
Hello @cristipogacean ,
I'm facing a similar issue on one of our iotedge but we are 2.8.3.1.
I've restarted all modules, removing the docker pods to see clearer.
At the first publish, I have this error:
[code]
Can you help ?

[2022-08-12 09:24] dimtix opened #1767 "BadTimeout exception during publish due to sequenceNumber mismatch"
**Describe the bug**
We are using publisher (2.8.2) in standalone mode. After updating the pn.json (same data items, same server, new DataSetWriterId - new test in our E2E test pipeline) we sometimes observe that publishing stops or is no longer possible because a timeout exception is constantly thrown (due to sequenceNumber mismatch?). Restarting of the publisher fixes the problem.

**To Reproduc

[2022-08-12 09:52] cristipogacean commented on #1492
Hello @aleducq,

Can you share some more details on the configuration in this case? so we can understand better the context. For the same reason, it would be helpful if you could share a bigger part of the logs.

I'm not sure it is the same issue as above since this happens on publish #1, that is supposed to transport the initial data-change.

Thank you!

[2022-08-12 10:02] aleducq commented on #1492
I've sent you an email with logs and more details...

[2022-08-12 10:15] cristipogacean commented on #1767
@dimtix, would it be possible for you to try to replicate the same issue with 2.8.3? in case you still see this, please share some more details on the configuration you're using.
BTW, I find a bit strange that the server url points to `localhost`. Isn't this causing connectivity issues?

[2022-08-12 10:44] dimtix commented on #1767
@cristipogacean the server and publisher are running in the same k8s pod - the server is accessible via localhost.
Are the changes from 2.8.2 to 2.8.3 that substantial? Unfortunately it is not so easy to update our test setup. But I would do it of cause if there is any chance that it fixes the issue.

Could you give me any hint on what could be causing this sequenceNumber mismatch? The server publ

[2022-08-12 13:52] cristipogacean commented on #1767
@dimtix, in 2.8.3 the opc ua stack was updated because to some serious security issues. With the new version, we expose now stack logs in publisher's log. This could help us debug further. I have no idea though if updating will help at all for your issue, but it's highly recommended due to the security fixes.

We just had a different issue with publish timeouts and here the cause was apparently th

[2022-08-12 15:09] dimtix commented on #1767
How can you see that the publishing interval is 0?

Indeed with the publishing interval set to 0:
`[
    {
        "EndpointUrl": "opc.tcp://localhost:21878/",
        "DataSetWriterGroup": "SingleWriterWbb2122d3b89d470cbb318f6cb3f537bc",
        "DataSetWriterId": "SingleWriterWbb2122d3b89d470cbb318f6cb3f537bc",
        "OpcNodes": [
            {
                "Id": "nsu=http://test.com;s=33",

[2022-08-26 15:27] codeminic opened #1768 "publisher: Behavior of "OpcSamplingInterval" in pn.json"
**Describe the bug**
Not sure if this is a bug or desired behavior. When setting the `OpcSamplingInterval` to a value lower than the `OpcPublishingInterval`, the module only emits a single value, even if there is more than one change of the value within the time specified in `OpcPublishingInterval`.
The structure of the output allows multiple values for the same `NodeId`, that's why i assumed that

[2022-08-26 15:29] codeminic commented on #1768
@JoshouaDPE FYI

[2022-08-30 07:10] spinshin opened #1769 "OPCPublisher unable to push data to IoT Hub"
I am trying to follow [this guide](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-ingest-opcua-data) to push data to IoT Hub from Prosys Simulation Server. However, the publisher module is not pushing the data into IoT Hub.

<details>
  <summary>iotedge list</summary>

[code]

</details>

<details>
  <summary>iotedge check --verbose</summary>

[code]
</details>

<details>
  <summary>s

[2022-08-30 11:31] b-enigma-con commented on #1766
Sounds like a good suggestion, I will try this and let you know. Thank you.

[2022-08-30 11:49] hansgschossmann commented on #1765
@BGbakker on your second edge device with the delayed data: was all data delayed or only data from certain endpoints? I understand from your description above that it is only certain endpoints data.

You say "disconnected the device producing excessive data." What does excessive data mean? Does device mean OPC UA Server here? If yes: how many endpoints of the 10 endpoints are from this server? Is

[2022-08-30 12:53] BGbakker commented on #1765
Hi,
No not all data was delayed, only data from certain endpoints.

"disconnected the device producing excessive data." does not mean disconnecting the OPC UA server. The OPC Server connects to multiple PLC's. We disconnect the PLC's from the OPC server and remove the corresponding  tags from the endpoint configuration.

If you have any more questions let me know.

[2022-08-30 14:48] hansgschossmann commented on #1768
@codeminic @JoshouaDPE

What you describe is as expected using your configuration.

The behavior is described in more detail in the [OPC UA specification](https://reference.opcfoundation.org/Core/Part4/5.12.1/).

To achieve what you are looking for you need to set the QueueSize parameter in the node configuration. I think this is missing in the documentation of the OPC Publisher configuration on d

[2022-08-30 15:47] hansgschossmann commented on #1769
@spinshin looks like OPC Publisher can not connect using MQTT, which is weird looking at the check results.

What is also a bit strange is that the check is referring to IoT Edge 1.2 terms (config.toml, *-service) but the edgeAgent, edgeHub tags are 1.1.

Can you provide a support-bundle?

[2022-08-30 15:57] hansgschossmann commented on #1767
@dimtix @cristipogacean is on vacation right now.

i think the publishing interval value is the last part of the subscription reported in the log: SingleWriterW3ee5539f421f4972b9a446430f79a0b7_0, but the log after your update gives a different indication.

your log also says "OpcSamplingInterval: 0". be aware that this might kill some OPC UA servers and makes no sense from my point of view, since

[2022-08-30 16:10] hansgschossmann commented on #1765
"only data from certain endpoints.": were those endpoints with the devices generating excessive data changes? sounds like a Denial of service attack, which might cause problems in the OPC UA communication. Do you see any issues on the server when the bad device is attached?

Before checking where the events are piled up, i would use the OPC Publisher diagnostic information to check if "Outgress Io

[2022-08-31 04:15] spinshin commented on #1769
Here it is:
[support_bundle_2022_08_31_03_58_03_UTC.zip](https://github.com/Azure/Industrial-IoT/files/9458384/support_bundle_2022_08_31_03_58_03_UTC.zip)

[2022-08-31 04:37] spinshin commented on #1769
In case you want to see the config file format.
[code]

[2022-08-31 15:07] hansgschossmann commented on #1769
how does your deploment manifest looks like. in your config.toml your are specifying an edgeAgent image of 1.4: "mcr.microsoft.com/azureiotedge-agent:1.4" and your deployment manifest seems to specify "mcr.microsoft.com/azureiotedge-agent:1.1"

To be consistent pls do install the IoT Edge version 1.1 and retry with the deployment manifest you have.

[2022-09-02 08:44] NoTuxNoBux commented on #1512
In case it is relevant: I'm also working on invoking methods on an OPC UA server using OPC Twin, and I got it to work both with a command without arguments, and one with a simple string argument.

However, I'm going through the `TwinModuleClient` that's part of the NuGet packages, not directly to the API. I then use `client.NodeMethodCallAsync` with the appropriate `EndpointApiModel` (with OPC UA

[2022-09-04 04:47] hansgschossmann commented on #1512
@NoTuxNoBux are you using the OPC Twin module standalone? Usage in context of Industrial-IoT is only tested as part of the end-to-end use via the REST API as pointed out [in our documentation](https://docs.microsoft.com/en-us/azure/industrial-iot/overview-what-is-industrial-iot):
OPC Twin: The OPC Twin module enables connection from the cloud to OPC UA server systems on the factory network. OPC Tw

[2022-09-05 05:00] spinshin commented on #1769
Can you have a look at this as well? I made sure that everything has the version 1.4. Data flow messages can be seen in the OPCPublisher logs as well. However, I can't see any data being received by the IoT Hub in the monitor.

<details>
  <summary>sudo iotedge list</summary>

[code]

</details>

<details>
  <summary>sudo iotedge check --verbose</summary>

[code]

</details>

<details>
  <summary>

[2022-09-05 07:13] NoTuxNoBux commented on #1512
Partially, yes, mainly the API client library without the microservice, and I seem to have completely missed that information, thanks.

Right now since we have an Azure Function that needs to talk to the Twin, and the additional microservice seemed an unnecessary cost as it wraps the API client we could instantiate ourselves in a couple of lines, but we can still rather easily insert it as interme

[2022-09-05 08:03] JohannesM24 opened #1770 "OPC Publisher log file is growing full, no next log file is created"
Hey,

we have the problem that once the OPC Publisher log file reaches 1 GB, no more logs are written. Also currently we need to stop the service to rename the old logfile, to enable the writing of a new logfile.

I think there should be an automatic change to write to a new log file, maybe adding the current timestamp to end of the filename.
Also there should be a retention policy, based on size

[2022-09-05 11:57] codeminic commented on #1768
@hansgschossmann explicitly setting the the `QueueSize` to a higher value worked, thanks!

[2022-09-06 14:14] hansgschossmann commented on #1766
@b-enigma-con have you checked out the recommended settings?

[2022-09-06 14:27] hansgschossmann commented on #1769
@spinshin  the support_bundle looks good. With monitor you mean the "Messages used today" count in the Overview of the IoT Hub portal page?

Can you restart edgeHub and provide the first few hunderd lines of log output?

[2022-09-06 14:29] hansgschossmann commented on #1768
good to hear. you are welcome. keeping it open to fix the doc.

[2022-09-06 14:39] hansgschossmann commented on #1770
@JohannesM24 have you checked the section "Option: Adjust log settings for each container module" on [Prepare to deploy your IoT Edge solution in production](https://docs.microsoft.com/en-us/azure/iot-edge/production-checklist?view=iotedge-2018-06)?

[2022-09-06 19:31] spinshin commented on #1769
By monitor, I mean that I can't see any messages being received when I monitor the hub using the az cli:
 `az iot hub monitor-events -n <iot-hub-instance> -t 0`

[code]

[2022-09-07 07:51] b-enigma-con commented on #1766
Not yet (other priorities came up), but will let you know the outcome. I expect to pick this up in the coming 2 weeks.

[2022-09-07 08:24] hansgschossmann commented on #1769
The startup code looks good. Do you also not see any increase of messages in the Azure Portal IoT Hub overview blade?

[2022-09-07 08:53] spinshin commented on #1769
![snip2](https://user-images.githubusercontent.com/108254549/188834201-5a974bed-2c16-4e9d-af17-9fb49533ecd4.png)
![snip1](https://user-images.githubusercontent.com/108254549/188834233-2b5112b6-249b-45d9-9494-88bf39fe0c5d.png)

I can see an increase in message count as depicted above. However, when I monitor using the CLI or by trying to receive Telemetry events through Azure IoT Explorer, I can't

[2022-09-13 13:06] JohannesM24 commented on #1770
Okay, thanks, just had a look, this looks helpful!

[2022-09-13 14:40] JohannesM24 opened #1771 "BadCertificateRevocationUnknown - Unable to connect with using security - OPC Publisher"
**Describe the bug**
When trying to connect to an OPC UA server with using security, we get the following error:

[code]

**Expected behavior**
The connection should also build up with using security (as it is working without security options).

**Desktop:**
 - Windows Server 2019
 - OPC Publisher 2.8.3
 - stand alone mode

**Additional context**
We have checked the certificates and everything loo

[2022-09-13 17:24] javierdve opened #1772 "Does the OPCUA Publisher accepts NodeIds like this: "Data"."scada"."var"[002] ?"
I am trying to connect to an OPC UA Server in an Edge device that uses NodeIds strings like above: "Data"."scada"."var"[004]

If I use UAExpert client I am able to connect but if I try to configure in the config file this type of strings there is an error when parsing the config file by the OPCUA Publisher. Is all naming conventions allowed for NodeIds string or should I use some special character

[2022-09-13 17:40] cristipogacean commented on #1772
Can you try if escaping the `"` characters in the nodeId?
like: `"Id": "ns=5;s=\"Data\".\"scada\".\"var\"[002]\""`

[2022-09-14 08:12] javierdve commented on #1772
The parsers does not provide error but the opcnode is not connected and give back error:
Logs: returned below
Monitored Opc nodes succeeded count:              1
Monitored Opc nodes failed count   :              1

I added two nodes one with "Id": "ns=2;i=2258" and the one with escaping " but does not work although the parser does not provide error in the file.

Thanks a lot

[2022-09-14 11:08] cristipogacean commented on #1772
it might be the last `\"` mark in your example should be deleted:
`"Id": "ns=5;s=\"Data\".\"scada\".\"var\"[002]"`

[2022-09-14 11:58] javierdve commented on #1772
I have tried one without the array staff and does not work. This is the one tried:

`"Id": "ns=5; s=\"Data\".\"scada\".\"temperature\"" `

and does not work. Do you mean to try for example this below?:

`"Id": "ns=5; s=\"Data\".\"scada\".\"temperature" `

The name for OPCUa with UAExpert client is "Data"."scada"."temperature"

thanks a lot

[2022-09-14 14:11] javierdve commented on #1772
I have tried several options as above and none seems working. If I use

`"Id": "ns=5; s=\"Data\".\"scada\".\"temperature"`

it warms "Data"."scada"."temperature is not a Nodeid but if I include the ` \"` it does not work also

[2022-09-14 14:19] cristipogacean commented on #1772
can you try to set the loglevel to debug? maybe we see more details on the error

[2022-09-14 16:47] javierdve commented on #1772
Now it is working properly with \". I think was an issue with ns=. So issue is not real. Thanks a lot.

[2022-09-14 16:47] #1772 closed, assigned to nobody

[2022-09-15 14:44] JohannesM24 opened #1773 "Option to directly enable subscription during create rather than using SetPublishingMode request. (BadNodeIdUnkown OPCPublisher)"
**Describe the bug**
When subscribing to nodes with using the OPCPublisher some MonitoredItems do not work and do not deliver data.

When connecting with a usual client to the OPC UA server, the data is fine.

**Expected behavior**
The subscription and creation of monitoredItems should work fine.

**Screenshots**

[code]

**Desktop (please complete the following information):**
 - Windows Server 2

[2022-09-20 08:24] gibin-francis-maersk commented on #1758
@hansgschossmann but how we can handle thousands of duplicate messages coming from opc module when ever we restart the module ?

[2022-09-20 09:40] felixmondelo opened #1774 "Is it possible to send messages from another module to OPC Twin?"
Hi, I have several modules on our Edge devices (OPC Publisher, OPC Twin, ... and other custom modules).

The output of one of our modules, you have to write the value of the result in the OPC.

We think that the best option is to send a message to the OPC Twin through the edgeHub, but we did not find if this is possible.

Which is the best alternative to do this? Invoke an OPC Twin Direct Method?

[2022-09-20 11:41] endreszilagyi1 opened #1775 "OpcPublisher: Server not responding to keep alive requests"
Hello,

We started to see that for some of our opc-ua servers we are not able to get the any telemetry using opc publisher (version 2.8.3).
Here is a snippet of the log, every 10 second we can see such an entry.

[2022-09-19 15:11:14.294 INF OpcUa] KEEP ALIVE LATE: 50.0120833s, EndpointUrl=opc.tcp://xx.xx.xx.xx:xxxx/, RequestCount=0/4
[2022-09-19 15:11:14.294 INF Microsoft.Azure.IIoT.OpcUa.Protoco

[2022-09-22 15:54] cristipogacean commented on #1773
@JohannesM24, could it be that the namespace index (36 in this case) has been changed in the opc ua server since the publisher was configured?

[2022-09-22 20:56] akkleine1986 commented on #1769
I ran into a similar issue recently and the problem was in the "container create options" within IoT Hub.  Ensuring the hostname for container was different than the host server resolved my issue.

[2022-09-24 08:20] spinshin commented on #1769
Can you please elaborate a bit on the solution?

[2022-09-26 07:49] JohannesM24 commented on #1773
@cristipogacean The namespace index has not changed, we double checked things like that.

Also it used to work sometimes after some restarts of the modules, but we need to find the root cause of this issue.

[2022-09-27 12:55] monikavar commented on #1765
Hope the above suggestion helped. Closing the issue due to inactivity.
Please feel free to re-open if the issue exists.

[2022-09-27 12:55] #1765 closed, assigned to hansgschossmann

[2022-09-27 12:56] monikavar commented on #1766
@b-enigma-con Closing this issue due to inactivity. Please re-open if needed.

[2022-09-27 13:01] monikavar commented on #1770
glad that it helped!

[2022-09-27 13:01] #1770 closed, assigned to hansgschossmann

[2022-09-27 13:20] monikavar commented on #1774
Hi @felixmondelo, to send messages from one module to another, you could use routing in IoT Edge. This doc would be helpful: https://learn.microsoft.com/en-us/azure/iot-edge/module-composition?view=iotedge-1.4#declare-routes

For OPC Twin, this is not supported use case, since it is only supposed to communicate with cloud micro-services.

The description of the issue is in contrast with the title,

[2022-09-27 13:22] monikavar commented on #1773
@JohannesM24 could you please provide the support bundle to investigate further?

[2022-09-27 14:12] monikavar commented on #1771
@JohannesM24  could you please provide the support bundle to investigate this further?

[2022-09-27 14:33] monikavar commented on #1767
Closing due to inactivity. Please reactivate if the issue exists.

[2022-09-27 14:40] hansgschossmann commented on #1773
@JohannesM24 the BadNodeIdUnknown is what we get back from the server when we try to monitor the node via the subscription. Do you see any error on the server side?

[2022-09-27 14:45] felixmondelo commented on #1774
Thank you @monikavar, I know that. My problem is if OPC Twin has any input to receive messages from other modules or not.

[2022-09-27 14:47] monikavar commented on #1774
@felixmondelo no, it has no inputs to receive messages from other modules.

[2022-09-27 15:02] felixmondelo commented on #1774
@monikavar then there isn't any way to communicate with OPC Twin from another module without going to the IoT Hub?

[2022-09-27 18:08] hansgschossmann commented on #1775
@cristipogacean pls update with your findings.

[2022-09-27 18:17] hansgschossmann commented on #1769
@spinshin most likely he meant you should use in the Azure portal not use the hostname of your system you run IoT Edge on as a  name for a module you run in your deployment.

Pls also ensure that you have set your routes correct (use the default) to route all messages upstream.

[2022-09-28 04:27] mregen commented on #1771
Hi @JohannesM24, the error means there is a revocation list missing for a CA certificate on the client side, e.g. if a CA is used in a trusted folder the CRL should be added too. The CRL is hosted in a e.g. `trusted/crl` when the CA cert is under `trusted/certs`.

The default may have been revised since version 2.8.1 in an effort to connect secure by design. Now the default is to reject unknown re

[2022-09-28 15:35] e-augusto opened #1776 "OPC monitored items (monitored) does not increase"
Hi all,

This week I created/published new items, but when I checked in Kusto explorer the new items did not appear.
I checked the OPC and the source, everything is ok with the published tags, then checking the opcPublisher log I noticed that when I created new items, the value of the configured one increased, but the monitored one did not.
Can anyone direct me on how to solve these problems?

![i

[2022-09-29 14:58] emulic opened #1778 "URGENT: Jobs-Orchestrator requests run in 504 Gateway Time-out"
In our production environment the publisher log of all devices have lot of warnings like this:
[code]
Trying to open edge/publisher microservice swagger site (https://****.westeurope.cloudapp.azure.com/edge/publisher/swagger/index.html) is also running in 504 Gateway Time-out after very long loading time.
According to the logs of the everything looks normal:
[code]
Ingress-nginx pods are also full

[2022-09-30 06:13] hansgschossmann commented on #1758
@gibin-francis-maersk there is not really a good work around. The options you have are limited to IoT Edge processing. Routing all OPC Publisher messages to a filter module which tries to detect the connect event might do it. But this can be unreliable since it depends on the quality of the detection logic and adds additional latency, since you need to inspect each event.
Without doubt the right a

[2022-09-30 06:23] hansgschossmann commented on #1774
@felixmondelo OPC Twin has a direct method interface, but this is limited to the use case OPC Twin was built for (being used as the edge side component of the Inudstrial-IoT microservices).

[2022-09-30 07:59] emulic commented on #1778
UPDATE:
Since 07:02 today edge-jobs service is running again. We didn't change anything. We can see bunch of evicted and errored edge-jobs pods in AKS:
[code]
Logs of all evicted pods have the same error:
[code]
And the pods with status error don't have logs:
[code]

The log of the running edge-jobs pod has same content as observed yesterday:
[code]

Please help us to analyze what went wrong here.

[2022-09-30 08:17] hansgschossmann commented on #1776
@e-augusto can you provide us the log of OPC Publisher just when it try to start monitoring the item you have configured? Maybe just restart OPC Publisher then we should get it.

[2022-09-30 10:20] karok2m commented on #1778
@emulic, can you please use `kubectl describe pod` for one of the evicted pods to see what events are reported for it and if there is a reason for eviction. The events should be reported in the end of the command output. And please also run `kubectl get event -n aiiot`, that should give us all the events in the namespace.

I am just guessing here, but one of the reasons for eviction could be high

[2022-09-30 10:34] karok2m commented on #1723
@Vkas47, were you able to change the default branch in Azure DevOps pipeline ? I am wondering if we can close this issue or there is anything else you need to get going.

[2022-09-30 12:15] b-enigma-con commented on #1766
I finally managed to find some time to test this suggestion. I can confirm that it works exactly as I wanted.

[2022-09-30 12:32] emulic commented on #1778
Hi @karok2m, thanks for quick support.

[code]

If I properly understand following 3 lines from pod description result, we had an issue with memory consumption, which for whatever reasons, disappeared after ca. 12 hours?
[code]

We haven't  set any values for requests and limits. We just use Key Vault based minimal aiiot.yaml file as descirbed [here](https://azure.github.io/Industrial-IoT/deploy/h

[2022-09-30 13:18] karok2m commented on #1778
@emulic, yes, you are correct. `MemoryPressure` indicates that the particular node that the pod was running on was running out of memory resources. So setting resource requests and limits would allow Kubernetes to better place the pod on a node that can meet the resource requirements. And you should definitely try that.

One other thing that you can do to increase availability of `edgeJobs` servic

[2022-10-04 15:42] emulic commented on #1778
Hi @karok2m,
Actually I already tried to increase replicas to 2 but this didn't help. Probably because both of them ran into out of memory.
Thanks a lot for supporting us and please feel free to close the issue.

[2022-10-04 17:13] karok2m commented on #1778
@emulic, please let us know if you see the problem again. For the time being I will close this issue. Feel free to reopen it if needed.

[2022-10-05 06:37] felixmondelo commented on #1774
@hansgschossmann the requirement is (all is in the Edge):

1) I have the OPC Module getting signals from OPC
2) The output of the OPC Module goes through a custom module that in some cases changes the value of a signal.
3) That value changed has to be notified to OPC.

My idea was to use OPC Twin to notify OPC that change inside the Edge, but I suppose for your answer that this is not possible.

[2022-10-05 08:43] hansgschossmann commented on #1774
@felixmondelo thanks for explaining your scenario. Are you using only the IoT Edge modules or do you use the full Industrial IoT platform (with cloud microservices)?

[2022-10-05 08:50] felixmondelo commented on #1774
Only the modules :-(

[2022-10-05 13:42] hansgschossmann commented on #1774
Yes, this is indeed not a supported scenario for OPC Twin. You might reach out to your MSFT contact to get an update on the Industrial product roadmap, there might be another solution better fitting your needs than the Industrial-IoT platform.

[2022-10-05 14:51] karok2m commented on #1723
Closing due to inactivity. @Vkas47, please reopen the issue if you need further assistance.

[2022-10-05 14:51] #1723 closed, assigned to karok2m

[2022-10-07 08:26] gibin-francis-maersk commented on #1758
@hansgschossmann Thanks for the reply, Will Wait for the same if that cane be considered as feature request.

[2022-10-07 10:00] NaumannJ opened #1827 "OPCPublisher does not connect to opcua server with username and passwort"
We try to connect to a OPCUA Server with username and password we added to the pn.json :

{
    "EndpointUrl": "opc.tcp://11.111.111.11:4840",
    "UseSecurity": false,
    "OpcAuthenticationMode": "UsernamePassword",
    "Username": "username",
    "Password": "password",
    "OpcNodes": [
.....

The Connection fails with the following lines in the logfile :

[2022-09-29 08:28:22.719 INF OpcUa] C

[2022-10-07 10:15] cristipogacean commented on #1827
Could you try instead of:
[code]

the following construct:

[code]
Examples of pn.json files can be found here:
https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publishednodes_2.8.json

[2022-10-07 10:24] hvetter-de opened #1828 "PublishTime is newer then the actual time for SubscriptionId - Warning"
Last week we updated from Azure Industrial IoT 2.8.0 to 2.8.3.
Now we get these Warnings in the log from the publisher module:

`[2022-10-07 09:00:22.309 WRN OpcUa] PublishTime 10/07/2022 10:07:07 in publish response is newer than actual time for SubscriptionId XXX.`

In the documentation I couldn't find any information about this.
Does the publisher ignore the message or is this just a Warning th

[2022-10-07 11:55] cristipogacean commented on #1828
This warning pops when the clock of the host running the server is out of sync with the clock of the host running the publisher module. With 2.8.3 we enabled the OPC UA Stack's logs in the publisher's log. This is probably the reason these warnings appear only now. Most likely the clocks I mentioned above were out of sync before upgrading as well, just this was not visible.
Anyhow, this warning do

[2022-10-07 12:29] hvetter-de commented on #1828
Thanks for the information. Our client will not change the clock from the host of the Plc server. We will just ignore this warning then.

[2022-10-07 12:29] #1828 closed, assigned to nobody

[2022-10-10 14:14] emulic commented on #1778
Hi again @karok2m ,

Unfortunately, we have the same or similar issue again.
In the meantime, we applied following configuration for  edgeJobs service:
[code]
By opening ```/edge/publisher/swagger/index.html``` in browser we are getting HTTP 504 Gateway Time-out after approximately 10 seconds.

Here are kubectl describe pod results for both edgeJobs pods:

[code]

[code]

And the log of the edgeJo

[2022-10-10 14:38] emulic commented on #1778
@karok2m Update:
I just tried curl of the edgeJobs swagger site direct from cluster internal network and here we get timeout after 129 seconds:
[code]

For me it looks like requests are not reaching the webservice. At least, the edgeJobs pod log is not registering any requests.
Is there any way to increase log level of the service?

[2022-10-11 09:23] emulic opened #1829 "URGENT: Jobs-Orchestrator requests run in 504 Gateway Time-out continuation from #1778"
Hi again @karok2m ,

since I'm not sure if you are getting notifications about new comments in the closed issues (and I'm not allowed to re-open it, since it has been closed by you), I opened a now one as continuation of the issue #1778. You can decide where to follow the discussion, I wrote the same comment there as well.

Unfortunately, we have the same or similar issue as described in #1778 aga

[2022-10-11 10:26] hansgschossmann commented on #1776
@e-augusto I just realized that you are using an old version of OPC Publisher (at least the log looks like this). Please ensure you are using the latest version 2.8.3.

[2022-10-11 10:28] hansgschossmann commented on #1769
Closing this issue due to inactivity. Please reactivate if you still need help.

[2022-10-11 10:28] #1769 closed, assigned to hansgschossmann

[2022-10-11 10:29] hansgschossmann commented on #1773
Closing due to inactivity. Please reactivate if you need further assistance.

[2022-10-11 10:31] hansgschossmann commented on #1774
Closing for now. Please reactivate if you need further assistance.

[2022-10-11 13:41] karok2m commented on #1778
@emulic, how many publishers do have running in orchestrated mode ? I am wondering if you should try to increase `HeartbeatInterval` and `JobCheckInterval` for the publishers to decrease the load on Job Orchestration microservice as described [here](https://github.com/Azure/Industrial-IoT/blob/main/docs/manual/readme.md#troubleshooting-the-opc-publisher-module). Can you also check the status of yo

[2022-10-11 14:28] karok2m commented on #1829
I've reopened #1778. Let's continue the discussion there.

[2022-10-11 15:05] emulic commented on #1778
@karok2m We have 45 publishers but I suppose not all devices are turned on. Some of them are for future purposes.
We don't have any throttled requests in the last days:
![image](https://user-images.githubusercontent.com/19528729/195123187-01ff7cb5-157a-49b2-8122-78a7cead6832.png)

Also latency also seems to not be an issue:
![image](https://user-images.githubusercontent.com/19528729/195123636-d2a7

[2022-10-11 15:48] karok2m commented on #1778
To be honest, I cannot comment on the "firewall" side of things.

Regarding the OPC Publishers with many endpoints, the heartbeat is going to be called by each worker that is active on the OPC Publisher. So if you have an OPC Publisher with `10` workers and processing workload from (let's say) `6` endpoints, then `6` of those workers are going to periodically call Job-Orchestrator to report their

[2022-10-11 15:56] emulic commented on #1778
@karok2m
After writing my last comment, I used Engineering Tool to set values for both HeartbeatInterval and JobCheckInterval to 120 seconds for all publishers. I think 45 minutes pasts since than and I would expect the change to be already propagated to all publishers and they should not produce so much requests to the Orchestrator service anymore. Unfortunately, I'm still getting Gateway time-ou

[2022-10-11 16:01] emulic commented on #1778
@karok2m
Please let me know if you need additional information or even if you believe we need to organize a call, where you could make some checks in the affected environment directly.

[2022-10-11 19:09] karok2m commented on #1778
@emulic, any chance you can get RAM and CPU usage numbers for this pod ? I will check how to enable `DEBUG` logging for it, hopefully that can tell us a bit more about what is going on. If you have Application Insights enabled for your deployment, then the Application Map can be quite useful in understanding how the whole system is behaving. It has a neat way of showing erroneous requests happenin

[2022-10-12 06:04] emulic commented on #1778
@karok2m
[code]

Let me check what I can find in Application Insights.

[2022-10-12 06:55] emulic commented on #1778
It is hard to export Application Map in a meaningful way.
Here are for example details regarding jobs service for 1h time range on 15.09.2022:
![image](https://user-images.githubusercontent.com/19528729/195266456-15b1350d-80b7-4368-b30d-d5a55c547b49.png)
We see 110k requests for this time range and 22 failed requests. Average response time is also fine.
If set filter for the 12 hours, the job serv

[2022-10-12 09:49] MickeyMouseS opened #1839 "Not possible to configure the messaging mode with OPC Publisher working in orchestrated mode"
**Describe the bug**
It is not possible to configure the PubSub messaging mode with the environment variables for the Publisher microservice (PCS_DEFAULT_PUBLISH_MESSAGING_MODE, reference: https://github.com/Azure/Industrial-IoT/blob/main/docs/services/publisher.md) or the environment variables of the Publisher module (https://learn.microsoft.com/en-us/azure/industrial-iot/reference-command-line-a

[2022-10-12 10:01] cristipogacean commented on #1839
Indeed, this is a limitation in functionality for orchestrated mode. For now, the only way to enable PubSub in orchestrated mode is to manually change the configuration in the job configuration in job definition json object in CosmosDB.

[2022-10-14 09:36] ghost opened #1842 "Discovery module not connecting"
**Describe the bug**
When deploying the Discovery module to the edge gateway, it starts, but fails to connect and logs the following error message: "Module [deviceId]_discovery disconnected due to Communication_Error - now Disconnected_Retrying...".

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy module with following create options:
[code]
2. Check logs.

**Expected behavior**
I expe

[2022-10-14 13:31] marcschier commented on #1842
I think this will be related to host mode, remove host network mode and try to deploy again.  It should then find the edgehub.
 Since EEFLOW runs in a vm with switch host mode is not necessary anyway, but you need to define the scan network mask then (like in the windows instructions).

[2022-10-14 13:32] #1776 closed, assigned to nobody

[2022-10-14 13:59] ghost commented on #1842
Okay so I removed the host mode part and deployed it with following create options
[code]
The module actually connects now and it shows up in the Asset Discovery view in the Engineering Tool. I do notice another problem now. My OPC UA server endpoint is at "opc.tcp://10.1.67.169:49320", so in the Effective Configuration for the discovery I updated the 'Mask Address Range' field to 10.1.67.0/24. I

[2022-10-18 02:04] MickeyMouseS commented on #1839
If so, when do you plan to include this functionality?

The default message in orchestrated mode can be a bit verbose, is it possible to reduce the size of this message? For example configuring a reduced format version, like in standalone mode by means of "FullFeaturedMessage=false" environment variable.

In addition, the Samples format in standalone mode does not look consistent with the orchestr

[2022-10-18 13:30] JohannesM24 commented on #1773
Hey, so far the issue has not been resolved. Thanks far for the suggestion to look more into the server side.

We did not find any error there yet, but when analyzing deeper with wireshark we found that the PublishResponse of the Server holds an empty NotificationData inside the NotificationMessage.

![image](https://user-images.githubusercontent.com/18679023/196440526-f0428df7-0a8e-4eb6-9f8a-2d83

[2022-10-18 15:14] JohannesM24 commented on #1771
Hi @mregen ,
thanks for your answer. We have now added the revocation lists for our intermediate and ca cert in the folder structure you suggested. It also seems to get found, as we can see `2022-10-18 16:54:02.867 +02:00 [INF] Trusted peer store has 2 CRLs.`
But even before that already the `BadCertificateRevocationUnkown ` Error happens.

Please find here the longer logs:

[code]

[2022-10-19 05:50] hansgschossmann commented on #1839
@MickeyMouseS we do nto have any plans to add any features to the orchestrated mode. Feel free to add it yourself and raise a PR if it is ready for production use.
If the "status" is bad, then it should be included in the message in standalone mode as well. We had discussions internally already if we should enable this functionality via a global command line switch in the standalone mode. @cristip

[2022-10-19 08:39] MickeyMouseS commented on #1839
Understood. Thank you for your clear answers!

[2022-10-19 08:39] #1839 closed, assigned to nobody

[2022-10-19 15:16] flavoie-robert opened #1869 "Cannot use REST API for Discovery Module"
**Describe the bug**
When attempting to use an API call to use the discovery module of the IIOT edge device, I am unable to connect to the port 9080 of the localhost that is stated in the documentation (https://github.com/Azure/Industrial-IoT/blob/main/docs/api/registry/readme.md)

**To Reproduce**
Steps to reproduce the behavior:
1. SSH onto the Edge Gateway device, here is what I have deployed o

[2022-10-21 07:44] marcschier commented on #1869
If you want to use the micro services on the local host you need to deploy the platform using the -type local parameter and then start all micro services .net projects using e.g., Visual Studio 2022.  Each service then has a dedicated port number, like 9080 for registry.

If you deploy to cloud, use the cloud endpoint url instead of "localhost".  Here you are not talking to a port, but the reverse

[2022-10-21 07:46] #1869 closed, assigned to nobody

[2022-10-24 15:18] CONeal opened #1886 "OPC Publisher Exception using CRL: Failed to decode the X509 signature"
**Describe the bug**
We are running the OPC Publisher as an IoT Edge Module. The connection against to Server uses Username+Password and is protected with an Certificate Handshake.
We added die Root CA, the Client Certificate and die CRL to the pki.  Adding the CRL breaks the publisher with an exception:

System.Security.Cryptography.CryptographicException: Failed to decode the X509 signature.
---

[2022-10-24 16:17] mregen commented on #1886
Hi @CONeal, could you check if your CRL has PEM format?

The certificate validator supports only CRL in the ASN.1 encoding.

This issue contains instruction how to generate a CRL in ASN.1:
https://github.com/Azure-Samples/iot-edge-opc-plc/issues/174

[2022-10-25 09:21] CONeal commented on #1886
Hi @mregen,
yeah you were right, it was in the PEM format and I converted it into ASN.1. It is now possible to load the CRL, but I got  a Certificate Validation failed error.

Certificate Validation failed. Reason=BadCertificateChainIncomplete. [CN=xx] [yy]
[2022-10-25 07:53:30.967 WRN OpcUa]  -- BadCertificateChainIncomplete 'Certificate chain validation failed. PartialChain: unable to get local

[2022-10-25 11:26] mregen commented on #1886
Hi @CONeal, at first, every CA certificate needs a matching CRL. If the chain is incomplete the easiest way to check were to import the chain into a tool like [XCA](http://hohnstaedt.de/xca). The cert validator in the UA stack needs at minimum KeyId extension ,binary matching Issuer/Subject and a valid signature. Hope this helps..

[2022-10-25 12:31] CONeal commented on #1886
Hi @mregen
Thank you very much, I will have a deeper look in it.
The main question / problem is solved. I'll close this issue.

[2022-10-25 12:31] #1886 closed, assigned to mregen

[2022-10-27 07:42] NoTuxNoBux opened #1890 "Subscriptions that become invalid are not detected by OPC Publisher (?)"
**Describe the bug**
Whenever backing OPC UA properties for subscriptions seem to "disappear" (see below), the OPC Publisher does not pick this up, assuming that the subscription is still valid. Changes to these properties are then no longer picked up until the configuration is reloaded or the OPC Publisher is restarted.

**To Reproduce**
This is slightly difficult since it may be a quirk due to t

[2022-10-27 08:03] cristipogacean commented on #1890
@NoTuxNoBux, would it be possible for you to enable debug level logs on the publisher and replicate the steps above? and of course share the logs with us?
The publisher has a mechanism to retry to reconnect broken monitored items. In this case apparently those monitored items are not reported (by server) respectively detected (by publisher) as broken. Maybe the logs can provide a bit more insights

[2022-10-27 08:08] emulic commented on #1778
Just for documentation purposes:
We had a call with @karok2m where we analyzed the whole environment and tried few things to fix the issue but with no success.
Few days later we had a second call, this time with @cristipogacean and we managed to solve the issue by removing two Jobs configuration documents in the Cosmos DB related to one of the publishers. This, combined with recreating edge-jobs p

[2022-10-27 10:08] NoTuxNoBux commented on #1890
We don't currently have access to the physical device any more, but do have an emulator that is designed to behave exactly the same. I will try and test to see if the issue also reproduces there. If it does, it will be easier to debug and test.

It might take some time but I will try to get back with logs.

Does this work using a polling mechanism that works every so often? If so, is this in the m

[2022-10-27 11:49] #1778 closed, assigned to cristipogacean

[2022-10-27 11:49] #1829 closed, assigned to karok2m

[2022-10-27 13:44] NoTuxNoBux opened #1891 "OPC Publisher: Increase BatchTriggerInterval granularity to milliseconds"
**Is your feature request related to a problem? Please describe.**
We have some OPC UA properties in our server that we'd like to sample and publish more often than once per second (positions of a robot that change as it moves); `BatchTriggerInterval` doesn't allow going below one second.

**Describe the solution you'd like**
Support millisecond granularity in `BatchTriggerInterval`.

**Describe a

[2022-10-28 09:40] cristipogacean commented on #1778
@emulic, we managed to replicate inhouse the issue with the dataset provided and a fix is available in the main branch already. This will be integrated in the next release of the iiot platform. At this point in time, we cannot give a clear indication on the timeline of the release.

[2022-10-28 09:42] emulic commented on #1778
@cristipogacean Thanks.

[2022-11-02 14:54] JohannesM24 commented on #1773
Hi @hansgschossmann

The OPC UA server supplier now told us that it is a bug in how their server handles the buildup of subscription and monitoredItem by the OPCpublisher. We are waiting for a fix.

I would still like to ask if there is a possibility to configure OPCpublisher to send the CreateSubscriptionRequest (with PublishingEnabled = True) and afterwards a MonitoredItemsCreateRequest (with Mo

[2022-11-04 10:25] cristipogacean commented on #1827
Closing due to inactivity. Please reopen if required.

[2022-11-04 10:25] #1827 closed, assigned to nobody

[2022-11-04 17:50] Mat-pa commented on #1767
We are also experiencing a strange behaviour with unexpected sequenceNumber

`[2022-11-04 17:44:46.863 WRN Microsoft.Azure.IIoT.OpcUa.Protocol.Services.SubscriptionServices+SubscriptionWrapper] DataChange for subscription '1000_ns=2;s=[redacted identifier]'/'opc.tcp:/[IP:Port, redacted]_1AB1XZ1' has unexpected sequenceNumber 52 vs expected 53, isKeepAlive False, publishTime 11/04/2022 17:45:21
`

[2022-11-04 17:51] Mat-pa commented on #1767
@monikavar please reactivate

[2022-11-08 13:40] marcschier commented on #1891
#1893

[2022-11-08 13:41] marcschier commented on #1842
#1763

[2022-11-09 10:30] cristipogacean commented on #1891
@NoTuxNoBux, can you try adding `BatchTriggerInterval` as environment variable for the publisher module having the value in `TimeSpan` format e.g. 00:00:00.100.
![image](https://user-images.githubusercontent.com/14314727/200806572-ed35e9c4-ef59-46c1-a039-3f583752f2c1.png)

[2022-11-09 15:52] NoTuxNoBux commented on #1891
@cristipogacean From an initial look, this seems to have no effect from my end.

EDIT: I see a command line fix has been merged, which looks to be what I hoped for. Now I just have to wait for the next stable release :slightly_smiling_face: .

[2022-11-10 06:17] #1891 closed, assigned to nobody

[2022-11-11 09:44] murdockcrc opened #1897 "Extending OPC Publisher messages with Application Properties"
Hi,

Is there a way for the messages which the Publisher sends upstream (when running inside IoT Edge as a module) to be extended with [user properties](https://learn.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.client.message.properties?view=azure-dotnet#microsoft-azure-devices-client-message-properties)?

This is because we need this metadata from the messages created by the OPC Publis

[2022-11-14 13:18] marcschier commented on #1897
For best flexibility it is recommend contextualizing the raw publisher data using a secondary IoT Edge module and route the publisher data through this module.  Documentation on how to build a module in a language of your choice you find [here](https://learn.microsoft.com/en-us/azure/iot-edge/module-development?view=iotedge-1.4). This is simple and reliable and can leverage not just twin propertie

[2022-11-15 07:52] murdockcrc commented on #1897
Thx for the reply. What you suggest is a valid option, yes. Our organisation would prefer to not introduce another piece of custom code into the environment, that's why we would like to suggest for the Publisher to support such a scenario. But yes, the second module you suggest should be a pretty simple one to develop.

I noticed later in the docs that you do support adding an application property

[2022-11-15 09:58] cristipogacean commented on #1897
@murdockcrc, indeed, `EnableRoutingInfo` is probably what you're looking for:
[code]
Please note that you can configure multiple `DataSetWriterGroups` even for the very same server endpoint if you need different telemetry streams routed to different destinations from the very same OPC UA server.

[2022-11-18 14:55] mwiot opened #1902 "Register UA Server: "ProcessErrorMessage(BadServiceUnsupported 'Error received from remote host""
Hi,

I am getting an error when trying to add a new UA server. How do I go about troubleshooting this further?
Running version 2.8.1.2.

[14:48:14 ERR Microsoft.Azure.IIoT.OpcUa.Protocol.Services.StackLogger] (Error) Channel 24: ProcessErrorMessage(BadServiceUnsupported 'Error received from remote host: ')

`[14:48:14 INF Microsoft.Azure.IIoT.OpcUa.Edge.Discovery.Services.ProgressPublisher] 6be1cd

[2022-11-21 07:26] mwiot commented on #1902
FYI: The endpoint Im trying to add "opc.tcp://10.0.1.10:4980/Softing_dataFEED_OPC_Suite_Configuration1" is working fine in other UA clients.

[2022-11-21 07:47] marcschier commented on #1902
The error you see in the first case is expected.  The discovery operation is sending a FindServersOnNetwork request to see if the endpoint is an LDS-ME and thus can export not just local servers, but servers on the network that have registered with it.  Since an entry was uploaded, I do assume the first run worked and should show this server in the registry (maybe with some delay caused by process

[2022-11-21 10:17] mwiot commented on #1902
Hi again. The strange thing is that it didnt work in case 1. It is never registered, even if it says 1 result uploaded.
There is some issue here as i mentioned with "BadServiceUnsupported" being displayed in the log before the result is uploaded. I would perhaps expect something like this if the discoveryuri was invalid. Say that url endpoint string was incorrectly specified. Example: "opc.tcp://1

[2022-11-21 12:04] marcschier commented on #1902
Strange indeed, but the only reason I can think of here is that the onboarding processor did compare it to the existing and did not see a need to change anything (because it is already there), or it did not catch up to processing the event in time and eventually will add it.  If it never happens something in the processor or eventhub side is down or blocked as the "uploaded" log means the event wa

[2022-11-22 08:49] emulic opened #1909 ""Invalid URI: The hostname could not be parsed" error in metricscollector module"
After fresh deployment of new IIoT Edge device the metricscollector module is not properly working.
Following error can be found in the module log file:
[code]
The module shuts down few times and after that it appears with the status "Error" in the list of modules in the Azure Portal.

**To Reproduce**

- Add required IioT tags (__type__: iiotedge and os:Linux) on an Edge Device and wait for deplo

[2022-11-22 12:28] b-enigma-con opened #1912 "Get timestamp of OPC Publisher host in pubsub telemetry (as opposed to OPC server timestamp)?"
Hello all,

We are running OPC Publisher 2.8.3 together with a custom developed IoT Edge module which formats the OPC UA telemetry pubsub JSON to a custom format. The flow is OPC Publisher -> custom developed module -> IoT Hub. We use a polling-like mechanism to gather the data; publishing interval = sampling interval = heartbeat interval.

We use the default telemetry buffering time of the OPC Pu

[2022-11-24 10:15] marcschier commented on #1909
Will be in 2.8.4 release

[2022-11-24 10:15] #1909 closed, assigned to marcschier

[2022-11-24 10:18] marcschier commented on #1902
@mwiot, since we cannot repro this here, case 3 was a workaround for you, and since case 2 is fixed in 2.8.4, I will close this issue unless you have more information to add (in which case please re-open)

[2022-11-24 10:18] #1902 closed, assigned to marcschier

[2022-11-24 13:20] emulic commented on #1909
Thanks Marc.

[2022-11-24 13:26] #1334 closed, assigned to mregen

[2022-11-24 13:26] marcschier commented on #1334
Close stale issue

[2022-11-24 15:16] cristipogacean commented on #1912
Hello @b-enigma-con,

All the Timestamps that we set inside of the IoTMessage Body (SourceTimestamp, ServerTimestamp, (Publishing)Timestamp), are generated at the OPC UA Server's side to ensure time consistency, so are not matching your requirement.

In this case I would firstly disable batching (default telemetry buffering time) so that 1 IoT Hub Message contains exactly 1 OPC UA PubSub Telemetry

[2022-11-29 10:23] rmonvfer opened #1917 "Official documentation on how to setup the OPCPublisher edge module with X.509 certificates"
**Is your feature request related to a problem? Please describe.**
Yes, the lack of official documentation regarding this topic has been a constant issue for quite some time, forcing me to rely on unofficial / unchecked sources.

**Describe the solution you'd like**
I'd like to be able to find documentation on how to configure the OPC Publisher edge module in order to use X.509 certificates for OP