[2019-03-26 08:32] #219 closed

[2019-03-27 13:05] #211 closed

[2019-03-28 11:00] anhame opened #220 "Add support for running the publisher as a windows service"
In our environment it is necessary to run the publisher as a standalone application without a user being logged in.
Therefore it would be necessary to launch it as a windows service.
It would be great if this could be added.
best regards
Hartmut

[2019-04-01 06:59] dcrupel opened #221 "BadSubscriptionIdInvalid for nodes with SamplingInterval of 100ms"
Hi,

![badsubid](https://user-images.githubusercontent.com/35105327/55308940-7f3ded00-545c-11e9-97e5-d00fde47530a.png)

After running without problems for months the publisher stops monitoring the Tags with a sampling interval of 100ms, the ones with sampling interval of 1000ms keep coming in.

So, the subscription of the 100ms nodes is stopped, the other one (1000ms sampling interval) remains.

A

[2019-04-05 06:47] sandervandevelde opened #222 "Make QueueSize configurable"
We use the OPCPublisher now in production at our customer to read ~16 values from a plc every 50 milliseconds.

We monitor the ingest and everything seems to works fine except for one thing: once every minute (on average) several node values are skipped. We know this because the values produced contain a counter.

We traced this back to the QueueSize:

https://github.com/Azure/iot-edge-opc-publish

[2019-04-05 08:32] DunRemko opened #223 "Not all nodes sending data to IoTHub"
We have a running OPCPublisher with the following pn.json file:
[
  {
    "EndpointUrl": "opc.tcp:// x.x.x.x:xxxx ",
    "UseSecurity": false,
    "OpcNodes": [
      {
        "Id": "ns=2;s=DL_01.NI_0001.HValue"
      },
      {
        "Id": "ns=2;s=DL_01.NI_0001.Value"
      },
      {
        "Id": "ns=2;s=DL_01.NI_0002.HValue"
      },
      {
        "Id": "ns=2;s=DL_01.NI_0002.Value"

[2019-04-06 09:28] DunRemko commented on #223
turned on --fn and --fd : now seeing an error:
2019-04-06 09:26:39.351 +00:00 [DBG] OPC: ***EXCEPTION*** BadNodeIdUnknown
2019-04-06 09:26:39.352 +00:00 [ERR] Failed to monitor node 'ns=1;s=DL_01.NI_0002.HValue' on endpoint 'opc.tcp://xx.x.x.x:xxxx'.
2019-04-06 09:26:39.352 +00:00 [ERR] OPC UA ServiceResultException is 'BadNodeIdUnknown'. Please check your publisher configuration for this node.
20

[2019-04-08 13:50] sandervandevelde commented on #222
Pull request https://github.com/Azure/iot-edge-opc-publisher/pull/225 fixes this.

[2019-04-09 12:07] ddobric commented on #213
Thanks. This works.
It would be great to update documentation, so we can peek the right configuration easier.

[2019-04-09 12:07] #213 closed

[2019-04-10 07:49] HenryVanBragt opened #226 "Publishing subitems of OPC UA Node"
I want to communicate subitems of my OPC UA objects to Azure.
The configuration:
An OPC UA server on a Ewon Flexy contains a node ("s=PulseBit"). This node has several subitems like "isKPI" and "tagID".
Is it possible to communicate this items as subitems of "PulseBit"?

[2019-04-17 11:59] BewaControl-ReneDivossen opened #229 "Update to latest IotHubSDK"
Can you please update to the latest IotHubSDK.
There have been some fixes that should make AMQP more stable and should allow reconnecting after failure.

Versions:
Microsoft.Azure.Devices 1.17.3
Microsoft.Azure.Devices.Client 1.20.0

[2019-04-23 11:35] BewaControl-ReneDivossen commented on #229
@hansgschossmann - Any timeline on this ?

[2019-04-23 14:45] hansgschossmann commented on #229
@markusstuhler - do you already know when we are going to update?

[2019-04-30 05:02] jmbrunskill opened #230 "'BadEncodingLimitsExceeded ' received when creating subscriptions"
We have OPC Publisher 2.3.3 running on iotedge 1.0.6.1 (3fa6cbef8b7fc3c55a49a622735eb1021b8a5963)

On startup up of the Publisher we are getting a  'BadEncodingLimitsExceeded ' error.

How should we go about debugging/resolving this issue?

[code]

I have tried removing the tags that are reporting errors but it appears to just report the next tag as error'd after this.

This error is also mentione

[2019-04-30 07:42] markusstuhler commented on #230
It looks as if you were trying to publish ~60000 nodes. The payload of setting up such a subscription request is too large for the client to encode based on it's limits.

Is it really necessary to monitor that amount of items or can you limit the number to the nodes that are interesting to you? Can you give as more information about you scenario you're using publisher? That would help us define ou

[2019-04-30 07:42] markusstuhler commented on #229
This will be part of the 2.3.7 release which we aim to release by the end of this month.

[2019-04-30 07:48] BewaControl-ReneDivossen commented on #229
@markusstuhler - does "end of this month" mean today ?  Or are you in some part of the world where it is already Mai 1st ?

[2019-04-30 08:09] markusstuhler commented on #221
Hi @dcrupel,  we'll look into this.

[2019-04-30 08:11] markusstuhler commented on #220
Hi @anhame, our priority is to support IoT Edge as hosting environment and that is why this is not a high priority for us, but contributions are certainly welcome.

[2019-04-30 08:15] markusstuhler commented on #217
Hi @Eichi87, it doesn't look like an issue as the publisher reconnects when the server is coming back online.

[2019-04-30 08:15] #217 closed

[2019-04-30 08:20] markusstuhler commented on #204
Hi @CHBrianLiu, can you confirm that the updated documentation fixes the issue?

[2019-04-30 08:23] markusstuhler commented on #200
Hi @clemensv, this is currently not on our roadmap to support, but we are working on some refactorings that will allow to easily replace transportation layer. However, we have no timeline for this yet.

[2019-04-30 08:23] #200 closed

[2019-04-30 08:26] jmbrunskill commented on #230
We are setting up a Industrial Historian Solution for a manufacturing business.

The expectation is to be able to support 200k nodes per site (we currently have just 1 IoT Edge per site)

I'm pretty sure we already have a site running with over 100k but perhaps it has to do with the length of the node names? Maybe they are longer at this side.

If this size is indeed the issue, perhaps the OPC Pub

[2019-04-30 08:29] #192 closed

[2019-04-30 08:30] #174 closed

[2019-04-30 08:44] markusstuhler commented on #121
Hi @remcoploeg, does it work on windows or linux? If it does not work on windows or linux, please reopen.

[2019-04-30 08:44] #121 closed

[2019-04-30 08:55] #106 closed

[2019-04-30 09:00] markusstuhler commented on #100
Closing due to inactivity/solved issue.

[2019-04-30 09:00] #100 closed

[2019-04-30 09:01] #74 closed

[2019-04-30 12:15] markusstuhler commented on #229
My mind was already in the next sprint ;) So I meant end of May.

[2019-04-30 12:17] BewaControl-ReneDivossen commented on #229
OK. Thanks for clarification.
I'll be waiting for the release.

[2019-04-30 21:50] jmbrunskill commented on #230
These logs show a site running with 167568 nodes subscribed, so don't think it is purely a issue with the number of nodes?

The published nodes file for this site is 34 M which is more than the 11M for the site we are having the 'BadEncodingLimitsExceeded' issue one

[code]

[2019-05-01 21:03] jmbrunskill commented on #230
It turns out there was a typo in the node path which was causing this error.

@markusstuhler  Do you think if all 60k node id's were returning an error status that could be what was causing the encoding limits to be hit?

Is there any plans to add a feature where opcpublisher can report errors or OPC Status for configured nodes? Currently if we have miss configuration it's hard to know why it is n

[2019-05-02 11:45] markusstuhler commented on #226
Hi @HenryVanBragt, automatic publishing of subnodes is currently not on our roadmap.

However, could you share some details on how your setup looks like? How did you model the subnodes on OPC UA side? Are they implemented as OPC UA properties?

[2019-05-02 12:01] markusstuhler commented on #230
Hi @jmbrunskill, could you share more information concerning this issue? What did you change so that it worked again? I'd like to reproduce this on my side.

[2019-05-02 12:03] markusstuhler commented on #223
Hi @DunRemko, could you share the metadata of a node that works so that we can find the "difference" between those two nodes? From logging perspective, everything looks normal. How fequently do the values of the node that don't work change?

[2019-05-02 12:03] markusstuhler commented on #221
Hi @dcrupel, could you share which version of the publisher you were using? Did you update at some point in time? Are there any other things that changed?

[2019-05-02 12:07] markusstuhler commented on #214
Hi @bialad, glad to hear that you could solve the first issue like you described. About the query in the message body: messages are batched, therefore the message body is a json array, that cannot be queried directly. However, could you try if it works when you disable batching by running the publisher with the command line option "--ms=0 --si=0"? That forces the publisher to send each message dir

[2019-05-02 12:30] HenryVanBragt commented on #226
Thanks for your reaction.
I have some more knowledge about OPC UA in the meantime.

I want to sketch my case:
I have a PLC (Siemens S7-1500) with data in a DB

STRUCT motor1
       INT actualSpeed
       INT setPoint

I have enabled the OPC UA server, so at the OPC UA interface all tags are nodes (motor1, actualSpeed and setPoint).
When I want to publish Motor1 with it's data to the cloud, I have

[2019-05-03 01:09] jmbrunskill commented on #230
Hi @markusstuhler,

All the node Ids we had configured had path something like this:
'ns=2;s=NZ070_Darfield_NZS070SRV01X.C270.NZ070_B05VA0506_AlmFault'
It turned out this should have been
'ns=2;s=NZ070_Darfield_NZS070**SVR**01X.C270.NZ070_B05VA0506_AlmFault'

I guess to recreate this you'd perhaps need to create a large list of nodeids and subscribe them all with an incorrect node name?

We are us

[2019-05-07 07:58] BewaControl-ReneDivossen commented on #229
@markusstuhler - I've seen that you updated the IotHub SDK in the repository.
I'm sorry to be bothering you again but version 1.20.0 is already deprecated again.
There now is
<PackageReference Include="Microsoft.Azure.Devices.Client" Version="1.20.1" />
That's the version they have used in the 1.0.7 release of IotEdge that was released a couple of days ago.

[2019-05-14 06:25] DunRemko commented on #223
After setting Security = true in pn.json and add --to in container create options we are receiving data.

[2019-05-14 06:25] #223 closed

[2019-05-20 05:51] bialad commented on #214
I've moved on to other projects, and am unable to do further testing.

[2019-05-20 05:51] #214 closed

[2019-05-23 16:50] Engr1979 opened #235 "Using IoTPublisher as Docker on Windows10 VM"
I am trying to setup IoTPublisher as Docker on Windows10 VM. I was able to do it successfully on Windows 10 physical box but on VM when I am trying I am getting error as "The virtual machine could not be started because a required feature is not installed.". Full log is below.
Any suggestions what feature I am missing? I have checked for Hyper-V and it is enabled. Docker utility starts fine too.

[2019-05-28 12:49] mma-mm opened #237 "Does Heartbeat use KeepAlive-Notifications of the OPC-Server?"
Hi,

i'd like to use the heartbeat feature of the publisher. Does the publisher set a time for heartbeat itself, or does it use some opc feature to get notified by the server, that nothing has changed for a while?

Background:
We need to make sure that the values that are transmitted in heartbeat style actually come from the opc-server.

Best regards
Matthias

[2019-05-28 13:26] JuergenKosel opened #238 "opc publisher 2.3.0 fails to connect to edgeHub of edge device"
On one of our edge devices we have the problem, that the publisher fails to connect to the edgeHub.
The log of the publisher container contains the following
[code]

[2019-06-13 15:19] BewaControl-ReneDivossen commented on #229
Version 1.20.2 is out now and should be referenced.

[2019-06-14 07:29] marwaadihu commented on #63
Hey Jayesh, Can you please tell what you corrected in message routing, in my case it is correct routing as per requirement, although I am getting this issue

[2019-06-19 13:04] dagefjestad opened #239 "Array of values"
I have a subscription to an instance of a Matrikom UA Gateway server. For each Node they have set up a array of values. Looks like this is not supported? I dot get anything - but I don't get any errors - just no messages.

[2019-06-19 13:42] SachaLhopital commented on #212
It seems to be a `docker pull` error.
Can you try it with the `latest` docker image instead of the 2.3 ?
Can you try to pull the image yourself ?

[2019-06-20 09:00] krenting commented on #221
Hi @dcrupel,

I had this same problem but only when i connected to the machine via middleware (Kepware). When connected to the machine directly i could use sample rates of 50ms without any problems. Have you done some testing with different OPC UA servers?

Regards

[2019-06-20 09:00] krenting commented on #221
Hi @dcrupel,

I had this same problem but only when i connected to the machine via middleware (Kepware). When connected to the machine directly i could use sample rates of 50ms without any problems. Have you done some testing with different OPC UA servers?

Regards

[2019-06-20 09:01] krenting commented on #221
Hi @dcrupel,

I had this same problem but only when i connected to the machine via middleware (Kepware). When connected to the machine directly i could use sample rates of 50ms without any problems. Have you done some testing with different OPC UA servers?

Regards

[2019-06-20 09:01] krenting commented on #221
Hi @dcrupel,

I had this same problem but only when i connected to the machine via middleware (Kepware). When connected to the machine directly i could use sample rates of 50ms without any problems. Have you done some testing with different OPC UA servers?

Regards

[2019-06-20 09:02] dcrupel commented on #221
Yes, It is a Kepware problem so this has nothing to do with the OPC publisher. I'll close this issue.

[2019-06-20 09:02] #221 closed

[2019-06-20 11:15] krenting commented on #221
I'm in contact with the developers of Kepware on this issue. If there is any progress I'll send you an update.

[2019-06-20 11:57] #239 closed

[2019-06-20 11:57] dagefjestad commented on #239
It works ...

[2019-06-27 13:59] SachaLhopital commented on #122
Many thanks @jmbrunskill ! You helped me very much with this !

🎉  🎉 !

[2019-07-02 08:53] anhame commented on #203
With Devices.Client version 1.20.1 there is a slightly different behavior, it first reports the following for several times:
2019-06-13 23:24:22.941 +02:00 [ERR] Connection status changed to 'Disconnected_Retrying', reason 'Communication_Error'
2019-06-13 23:24:51.081 +02:00 [INF] Connection status changed to 'Connected', reason 'Connection_Ok'

After about 60 disconnected/retries which take place

[2019-07-02 09:29] marcschier commented on #123
This should be in 2.4.x release and given that 2.x is backwards compatible we are not planning to touch 2.1.x releases, unless there is a good reason.   If latter, please re-open.

[2019-07-02 09:29] #123 closed

[2019-07-02 09:33] marcschier commented on #117
IoT Edge now contains support for web proxy:  https://docs.microsoft.com/en-us/azure/iot-edge/how-to-configure-proxy-support.   Closing.

[2019-07-02 09:33] #117 closed

[2019-07-02 09:41] marcschier commented on #229
2.4.x is using the latest 1.21.

[2019-07-02 09:41] #229 closed

[2019-07-12 08:28] quodt commented on #238
I'm having a similar issue. I get more or less the same exception also in version `2.2.0`, `2.3.0` and `2.3.3`.
It looks like the issue is not related to the used protocol because in `2.3.3.` the IoT EdgeHub communication is'Amqp_Tcp_Only' is used.

What i've tried to fix this:

- tried different versions of the publisher
- re-installed iotedge
- re-created the device in the azure portal (got new

[2019-07-12 10:04] quodt commented on #238
I found the problem in my case: I was using a hostname in the iotedge config `/etc/iotedge/config.yaml` which contained an underscore. By altering that to a hostname without the underscore the publisher was working.

[2019-07-16 15:11] btmmf opened #243 "How do I build this as an edge module project in VS Code?"
I successfully followed [Tutorial: Develop IoT Edge modules for Linux devices](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux) from the Azure IoT Edge Documentation, including building, pushing and deploying an edge module to a device using Visual Studio Code.

Now I am trying to to apply this knowledge to the OPC Publisher.
Sadly, the wiki only explains how to build th

[2019-07-17 06:57] marcschier commented on #243
A docker container is all that is needed to run the publisher as part of IoT Edge.

The project file in the repo does not use the IoT Edge VS extension.

However, the docs show a sample module deployment manifest, which you can use to deploy opc publisher into IoT Edge instance, e.g. using the instructions here:  https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-modules-cli.

The repo

[2019-07-17 06:57] #243 closed

[2019-07-24 08:47] MarekLani opened #244 "Using ToUniversalTime conversion in HeartBeat message should be ommited"
https://github.com/Azure/iot-edge-opc-publisher/blob/a82d885971608f928492060c2e54ffb0de315ba4/opcpublisher/OpcMonitoredItem.cs line 618 contains TimeStamp creation for heartbeat message and there ToUniversalTime conversion used:

`HeartbeatMessage.SourceTimestamp = sourceTimestamp.ToUniversalTime().ToString("o", CultureInfo.InvariantCulture);`

This is not in pair with "value change" messages/noti

[2019-07-25 09:26] anhame opened #245 "Cannot connect to OPCUA server when using appcertstoretype=Directory"
Hello,

when I'm using 'Directory' as for the appcertstoretype, the connection to an OPC UA server cannot be established, even though I've copied the certificates to the correct folders. The following errors are logged by the opc publisher:
2019-07-25 09:17:41.079 +02:00 [DBG] OPC: ***EXCEPTION*** BadTcpInternalError 'Could not send an Open Secure Channel request.'
2019-07-25 09:17:41.086 +02:00 [

[2019-07-25 09:49] markusstuhler commented on #245
Hi @anhame
Could you tell me something about your setup in which the publisher is running? (Host OS, IoT Edge/Standalone, Windows/Linux containers, ...)?

Thanks!
Markus

[2019-07-25 09:56] anhame commented on #245
Hi @markusstuhler,
Host OS is Windows7, opc publisher being used as a standalone application, no IoT edge, no containers.
Thanks, Hartmut

[2019-07-25 14:48] ravindra-gaikawad opened #246 "OPC Publisher IotHubCommunicationException While Creating ModuleClient"
I deployed OPC publisher as IotEdge module using [this link](https://github.com/Azure/iot-edge-opc-publisher#using-it-as-a-module-in-azure-iot-edge)

Module fails execution and publisher exists.
Logs are as given below

IoTEdge detected.
[19:49:28 INF] Current directory is: C:\appdata
[19:49:28 INF] Log file is: publisher-publisher.log
[19:49:28 INF] Log level is: info
[19:49:28 INF] OPC Publisher

[2019-07-26 07:47] anhame opened #247 "OpcUaSession.Read/Write methods removed?"
Hello,
in version 2.3.3 of the opc publisher, there were two methods available in OpcUaSession allowing to read and write multiple nodes. I used these methods for implementing some own extensions. In version 2.4.1 these functions have been removed. Would it be possible to make them available again?

best regards
Hartmut

[2019-07-26 15:23] anhame opened #248 "opc publisher 2.4.1 not correctly publishing data with the specified publishing interval"
Hello,
when publishing nodes, the specified OpcPublishingInterval (2000ms) is not correctly recognized can be seen in the following logs snippet:

2019-07-26 17:07:00.820 +02:00 [DBG] Sending 428 bytes to hub.
2019-07-26 17:07:02.727 +02:00 [DBG] Enqueue a new message from subscription 18
2019-07-26 17:07:02.728 +02:00 [DBG]  with publishing interval: 2000 and sampling interval: 1000):
2019-07-26

[2019-07-26 15:37] anhame opened #249 "opc publisher 2.4.1 leaves entries in publishednodes,json after unpublishing all nodes"
Hello,

when unpublishing all nodes or a list of nodes that will finally result in no results being published, the opcpublishednodes.json still contains one entry.

This is the log snippet:
2019-07-26 17:26:35.830 +02:00 [DBG] HandleUnpublishNodesMethodAsync: called
2019-07-26 17:26:35.832 +02:00 [INF] HandleUnpublishNodesMethodAsync: Request to stop monitoring item with NodeId 'ns=5;s=PumpStatus1

[2019-07-30 09:15] richterr opened #250 "Limit publishednodes"
### Issue
After generating a publishednodes.json with >1500 configured tags to monitor I get the following Error Message.

![image](https://user-images.githubusercontent.com/42353719/62116708-ebb9e300-b2ba-11e9-846f-141a320fd1a4.png)

After shortening the list to ~700 tags the error disappears.
What is the limit for the monitored tags? Is it a limitation of the OPC UA Server or the OPC Publisher?

[2019-07-30 09:30] anhame opened #251 "Suggestion for improvement: Enclose the allocation of the RegistryManager with a using block"
In IotHubCommunication.cs, line 98
RegistryManager manager = RegistryManager.CreateFromConnectionString(IotHubOwnerConnectionString);
should be enclosed with using (...){}
since RegistryManager is a disposable object
best regards
Hartmut

[2019-07-30 14:44] #251 closed

[2019-07-30 14:44] anhame commented on #251
Solved by creating a pull request

[2019-07-31 06:46] #248 closed

[2019-07-31 06:46] anhame commented on #248
My bad, this has changed in 2.4.1, the publishing interval is not the same as iothubsendinterval...

[2019-08-01 08:18] markusstuhler commented on #250
Hi @richterr, this error message is coming from the OPC UA Server, not from the publisher.

May I ask which server you are using?

Thanks!
Markus

[2019-08-01 08:22] markusstuhler commented on #237
The publisher is sending the last value with an updated timestamp as heartbeat (from cache, not by reading it again). It's not using any OPC UA server feature.

Thanks!
Markus

[2019-08-01 08:22] #237 closed

[2019-08-01 08:29] markusstuhler commented on #245
Hi @anhame

due to a limitation in the .NET Core and the OPC UA stack, the only supported certificate on windows is X509Store.

Thanks!
Markus

[2019-08-01 08:29] #245 closed

[2019-08-01 08:31] markusstuhler commented on #246
Hi @ravindra-gaikawad,

could you please provide more information about Host OS, Container OS, Container version, deployment manifest (be careful to remove credentials if included)?

Thanks!
Markus

[2019-08-01 08:31] richterr commented on #250
So there is no limit for tags in the publishednodes.json file?
We are running the OPCPublisher against a Siemens S7-1500 with OPC UA Server activated. What causes this kind of error on the OPC UA Server? Is it a performance restriction or some misconfiguration on the server side?
Thanks in advance.

[2019-08-01 08:33] markusstuhler commented on #238
Hi @JuergenKosel,

There were updates in the IoT Hub SDK that fixed issues when connecting to Edge Hub. The updated SDK is included in the latest version of the publisher. Could you try it with that version again?

Thanks
Markus

[2019-08-01 08:46] markusstuhler commented on #250
We're no S7 experts, but it looks like a configuration setting in the S7 or it hits limits what the server can support. Please check the documentation of the server on how many items are supported.

Thanks!
Markus

[2019-08-01 08:46] #250 closed

[2019-08-01 08:49] richterr commented on #250
Alright, thanks a lot.

[2019-08-01 08:52] markusstuhler commented on #247
Hi @anhame
we discussed adding "Write" back, but we decided that we do not want to support this functionality in OPC Publisher because it's never needed. However, if you want to write values to nodes, you can use the OPC stack, which is also used by the publisher.

Thanks!
Markus

[2019-08-01 08:52] #247 closed

[2019-08-01 08:57] markusstuhler commented on #235
The containers we built are for IoT Edge and therefore target Windows 10 1809 LTS (p.e. Windows 10 IoT Core or Enterprise). If you want to run the publisher on Windows 10 Desktop, you can run it as standalone or with linux containers (outside of IoT Edge).

Thanks!
Markus

[2019-08-01 08:59] markusstuhler commented on #230
Just to clarify, can you confirm that your scenario now works after your change?

Thanks!
Markus

[2019-08-03 13:10] marcschier commented on #111
Future versions of publisher will also not have a dependency on iothubowner connection string.

Please consider running a Linux container on mac to work around this issue on the current code base.

[2019-08-03 13:10] #111 closed

[2019-08-03 13:10] #182 closed

[2020-03-16 20:49] pc-avatar-7076 opened #319 "Cannot add Kepware server application when it is remote from the IoT Edge Runtime"
**Describe the bug**
When Kepware (TKS) is installed on a Windows 10 VM (same network / resource group as IoT Edge RT VM) then "add application" fails.

**To Reproduce**
1. Deploy the IIoT 2.6 stack, including an edge with 2.6 modules
2. Install Kepware (TKS) on a Windows 10 VM in the same resource group
3. Update the Kepware configuration to expose a discovery URL to the network
4. Use Postman (o

[2020-03-16 23:22] MikeWilcoxMicrosoft opened #320 "VMAccessLinuxPasswordReset-20200316164544 - Deployment failed"
Used .\deploy.cmd in powershell

New install and encountered this error:

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "code": "Conflict",
      "message": "{\r\n  \"status\": \"Failed\",\r\n  \"error\": {\r\n

[2020-03-19 07:50] #320 closed, assigned to nobody

[2020-03-26 16:08] #319 closed, assigned to cristipogacean

[2020-10-26 09:34] Jan-Olof opened #261 "What version of OPC Publisher should I use?"
I want to use OPC Publisher in IoT Edge as a stand alone module. I am confused as to what version or even repository I should use? (https://github.com/Azure/iot-edge-opc-publisher or https://github.com/Azure/Industrial-IoT.)

Can you help me?

[2020-10-26 21:51] barnstee commented on #261
answered in Industrial-IoT repo

[2020-10-26 21:51] #261 closed

[2020-10-29 11:48] JohannesM24 opened #264 "User authentication via certificate"
Hi,

is there any plan to add user authentication via certificate ?

Currently there is only Anonymous and UsernamePassword supported in contrast to OPC UA specifications.

https://github.com/Azure/iot-edge-opc-publisher/blob/dc6b669bcd7c45437fb1b0aacf77bfb1e98482f5/opcpublisher/OpcAuthenticationMode.cs

[2020-11-03 09:18] FMauroy opened #265 "Is this the very latest version of OPC Publisher?"
Hi, I saw that you recently migrated the code of OPC Publisher to a new repo, this one I presume.
I'm a bit lost now, as I can't be sure this one is the latest one. The doc looks a lot like the one for 2.5.3, which is the one we have used the most (and have slightly customized to our case).
I remember that after 2.5, there was another version, that looked completely different, and was partly compa

[2020-11-03 16:38] tgrusendorf commented on #265
I'm also suffering from version confusion.  If I pull the latest docker image it is 2.5.3, but I see lots of references on the main page of this repo to functionality in versions 2.6 and 2.7.  I'm dealing with heartbeat issues in 2.5.3 that appear to be resolved in a subsequent version.  Is 2.5.3 still the recommended release for production?

[2020-11-05 13:56] fijo1015 opened #266 "Dynamic information model and OPC Publisher"
Hi everyone,

I am using a dynamic OPC UA information model. What I mean by dynamic is, that in the beginning the information model contains a few nodes and some methods. By calling these methods new nodes will be created. So the information model is growing while using it.
I'd like to know, if the OPC Publisher Module can handle nodes that are not present in the beginning. In the configuration fi

[2020-11-06 10:19] jehona-m commented on #264
Hi,
yes, adding user authentication via certificates is on our roadmap. Please reach out to jemorina@microsoft.com, I am the PM prioritizing the OPC Publisher backlog and I would like to understand your use case better.

[2020-11-09 12:10] barnstee commented on #266
This is currently not supported. However, if the server sends out a "DataModelChanged" event (check the OPC UA spec, not sure if the name is 100% accurate), we could hook into this and try to publish the new nodes then.

[2020-11-09 12:11] barnstee commented on #265
We are working on a new OPC Publisher version that combines the features from 2.5.3 (the latest production version from this repo) with the features from 2.7.199 (the latest production version of the OPC Publisher from the IIoT repo). Release date is TBD, we will inform folks through the main readme.md in this repo as soon as we have planned it.
Regarding which version you should use for productio

[2020-11-09 15:09] buzzfrog commented on #265
Thanks for that answer.
Does this means that Configuration of the simple JSON telemetry format via Separate Configuration File will be part of this merged OPC Publisher? Or is it forever a removed feature from OPC Publiser?

[2020-11-09 15:17] buzzfrog commented on #266
Is it this you mean: ModelChangeEvents are generated to indicate a change of the AddressSpace structure.
https://reference.opcfoundation.org/v104/Core/docs/Part3/9.32.1/

[2020-11-09 15:19] barnstee commented on #265
This is exactly what we are trying to determine. We would like to get rid of at least the config file and, if needed, provide the message shaping through other mechanisms. Also, we want to move folks to standardized OPC UA PubSub JSON format, instead of everyone having their own custom format.

[2020-11-09 15:20] barnstee commented on #266
Yep, that's it.

[2020-11-09 15:22] MatthijsvdVeer commented on #265
Does this mean that the configuration through Direct Methods will end up in the IIoT repository? That would be excellent news.

[2020-11-09 15:26] barnstee commented on #265
No, OPC Publisher will continue to be developed in this repo, but yes, the next version will received IoT Hub direct methods support once again.

[2020-11-09 15:26] buzzfrog commented on #265
Thanks Erich.
The problem for me as a user of OPC Publisher a still needs to have this configuration file, because I want to be able to configure a transformation of the messages. So the solution could be that I create my own module, driven with it's own configuration, to do the transformation.

If we should talk about SoC, is this maybe the best way to handle this? So not one module have to much

[2020-11-09 15:28] barnstee commented on #265
Yes, that would be an option. Can you share the transformation you need to do, to see how we can best support you?

[2020-11-09 16:44] tgrusendorf commented on #265
Thank you Erich, your responses are very helpful.  I'm glad to see that 2.7.199 is considered production ready, and that IoT Hub direct method support will be returning.  It is important in our application to be able to update the published nodes remotely, preferably without having to punch holes through firewalls to access the REST API or connect to OPC Publisher's OPC server.

[2020-11-10 08:47] barnstee commented on #265
No (inbound) holes in firewalls required. Are you using the OPC Publisher's OPC Server? Why?

[2020-11-10 11:15] buzzfrog commented on #265
One thing that we want have is an extensible configuration format in the json file. For example, we want to add more metadata to the tag and doing this without having some naming standard for Displayname. In our case we want to register the Machine where the Tags belong to. This because we split up each machine as it's own device into IoT Hub.

[2020-11-10 14:37] tgrusendorf commented on #265
I'm not currently using OPC Publisher's OPC Server.  I was planning to look into using it to control published nodes since the direct methods were removed (and also just for curiosity).  I don't have a specific need for it if I can use direct methods.

[2020-11-10 20:43] barnstee opened #267 "Support IoT Hub routing of OPC UA PubSub JSON messages"
This only entails setting the content type to application/json to allow IoT Hub to interpret the message correctly.

[2020-11-11 09:33] FMauroy commented on #265
In our case, we had to disable the internal OPC server as in some cases (undetermined, happened only at a couple customers), the creation of the self-signed certificate failed (the keys it creates do not match?!?) and made publisher fail to start. I reported it, but never got any answer.
For the message shaping, we use a very simple format composed of 3 items: HardwareId (mapped to the displayname

[2020-11-11 11:25] barnstee commented on #265
Great feedback, thank you. Totally aligned with what we hear from others. We will simplify the publishing/config/deployment story and create better config tools. ETA TBD, but this is our highest priority.

[2020-11-11 13:46] FMauroy commented on #265
Great to hear! Looking forward to testing the next version.
Also, please retain the use of the "store & forward" feature of the edge hub, we've had several occurrences where the network had lapses, and the last thing our customers want is having gaps in their cloud data. On one occasion the problem was in the agent or hub side, publisher was pushing data fine (according to its logs), but the edge

[2020-11-11 13:50] barnstee commented on #265
Yes, please log here: https://github.com/Azure/iot-edge-v1/issues

[2020-11-12 13:40] perttvil opened #268 "Q: When running opc-publisher as Iot Edge Module, do you need to configure connection string to Iot Hub?"
I am running docker container mcr.microsoft.com/iotedge/opc-publisher:2.3.3 as a module inside Iot Edge runtime.
Everything works fine with version 2.3.3.

It does not have any configuration directly to Iot Hub (no connections string) and communication to Iot Hub goes via Iot Edge runtime routes and internal modules.

If I update mcr.microsoft.com/iotedge/opc-publisher:2.3.3 to any newer version,

[2020-11-12 18:49] SandeepThombare opened #269 "Not able to use custom certificate signed by root CA certificate"
I am using OPC publisher 2.5.4 version with latest version of IOT edge daemon.

I have created the root certificate for signing self signed certificate using below instructions,

**Create root certificate and root key**

1. openssl genrsa -out cakey.pem 2048

2. openssl req -new -key cakey.pem -x509 -days 365 -out cacert.pem

**Create certificate files (.der and .pfx)for OPC publisher using above

[2020-11-13 08:25] perttvil commented on #268
I noticed that mcr.microsoft.com/iotedge/opc-publisher:2.5.3 works fine with real iotEdge runtime (1.0.10.2).
The problem is when running inside dev runtime (iotedgehubdev, version 0.14.3).

No idea how to fix the problem though.

[2020-11-13 15:15] fijo1015 opened #270 "Incorrect timestamps using the "SkipFirst" and "HeartbeatInterval" features"
Hi everyone,

during my tests i noticed that the "SkipFirst" (set to false) and the "HeartbeatInterval" is not correct every time. The SourceTimestamps are incorrect by exactly one hour. The following examples will show you the issue:

1.) SkipFirst:
last value:  "Value":{"Value":0,"SourceTimestamp":"2020-11-11T13:03:06.1880000+01:00"}
--> Start OPC Publisher using "SkipFirst" set to "False"
next

[2020-11-13 17:02] perttvil commented on #270
Are u sure there is an issue?
First timestamp timezone is +01:100 and second Utc.

[2020-11-16 07:31] fijo1015 commented on #270
Maybe i misunderstand something. I wonder why there is a usage of different timezones at the same application and data source.

[2020-11-16 07:34] perttvil commented on #268
In version 2.3.3 'IsIotEdgeModule' is detected like this (and it works):
https://github.com/Azure/iot-edge-opc-publisher/blob/2.3.3/opcpublisher/IotEdgeHubCommunication.cs#L19

[2020-11-16 11:12] koepalex commented on #270
The SourceTimestamp is generated by the OPC UA Server the OPC Publisher is connected to.

The field that is containing the timestamp also provides the time zone information (`+01:00`, `Z`). With this timezone information it can be processed by telemetry processor/timeseries database. For example when you use write the teleemetry processor in C# you can use the DateTime class from .NET framework an

[2020-11-16 11:12] #270 closed

[2020-11-16 15:52] fijo1015 opened #271 "OpcPublisher: BadSubscriptionIdInvalid"
Hi,

We are testing OPC Publisher since a few days. If we choose a publishing interval around 200ms we get an BadSubscriptionIdInvalid-Error after a few seconds/minutes and the subscription gets lost.

**error message**
2020-11-16 16:27:10.282 +01:00 [ERR] Exception
Opc.Ua.ServiceResultException: BadSubscriptionIdInvalid
   at Opc.Ua.Client.Subscription.SetPublishingMode(Boolean enabled) in C:\Bui

[2020-11-17 07:56] fijo1015 commented on #271
I forgot to mention the version: We are using v2.4.1

[2020-11-17 10:50] monikavar commented on #271
This is fixed in v 2.5.3. Please retest. Thanks!

[2020-11-17 10:50] #271 closed

[2020-11-17 13:42] fijo1015 commented on #271
Do you mean v2.5.3 of the IIoT repo?

[2020-11-17 17:16] mregen commented on #269
Hi @SandeepThombare, the publisher should have the CA cert as well in pki/issuer/certs as e.g. cacert.der, if it is not there it might cause validation issues because publisher cannot validate his own chain.
Whats unclear to me (and I have a Kepware server running here too) how did you import a CA cert to the Kepware server? I see only import for the server cert.

[2020-11-17 17:25] cristipogacean commented on #269
Does this help: https://github.com/Azure/Industrial-IoT/issues/757?

[2020-11-18 08:46] SandeepThombare commented on #269
@mregen Thanks for your reply.

I tried to test by copying cacert.der to /pki/issuer/certs but still same error. KEPServerEx 6 is not accepting this certificate.it is giving same error mentioned earlier.**Note**:- I am using opc publisher version 2.5.3 for this testing as i am getting some issue with opc publisher version 2.5.4 version on my system. Hope that will not make big difference in this t

[2020-11-19 10:53] mregen commented on #269
Hi @SandeepThombare, regarding:

That's not where you import the root CA. You need to import the root CA to the trusted store of the KepWare server, here:

![image](https://user-images.githubusercontent.com/7962757/99655360-ec502d00-2a5b-11eb-80e3-9c004c953cbc.png)

The explanation is, if a OPC server were to trust all certificates issued by the root CA's in the windows trusted root store, anybody

[2020-11-23 06:38] barnstee commented on #268
Yes, we removed support again in 2.5.4 since we had compatibility issues with the simulation environment. If you are dependent on this, please stay on 2.3.3 for now. We will eval adding this back in in version 3.0 of OPC Publisher.

[2020-11-23 06:45] perttvil commented on #268
Ok. Any ETA for version 3.0? First of year 2021?

[2020-11-23 07:01] barnstee commented on #268
Yeah, in Spring. Don't have an exact date yet.

[2020-11-23 11:01] barnstee commented on #265
Closing since question was answered.

[2020-11-23 11:01] #265 closed

[2020-11-26 15:13] bellenkurt opened #275 "opc publisher error"
Hello we get this error in the output of our opc module

[16:09:03 VRB] OPC: Bytes written: 106
[16:09:03 DBG]    ApplicationUri: urn:BEHQWINFTPRD01:FactoryTalk Linx Gateway OPC UA Server
[16:09:03 DBG]    EndpointUrl: opc.tcp://behqwinftprd01:4990/behqwinftprd01
[16:09:03 DBG]    DisplayName: ns=3;s=DS/RSLE::[PWM002]F21:2
[16:09:03 VRB] OPC: PUBLISH #208 SENT
[16:09:03 DBG]    Value: 458.367676
[

[2020-11-27 08:56] barnstee commented on #275
Note: This happens with OPC Publisher 2.5.4.

[2020-11-27 09:01] bellenkurt commented on #275
what version should we the run, and can you maybe give us the command line to configure this; this is the command line we run now for the current module

mcr.microsoft.com/iotedge/opc-publisher:latest

[2020-11-27 10:50] bellenkurt commented on #275
what version should we the run, and can you maybe give us the command line to configure this; this is the command line we run now for the current module

mcr.microsoft.com/iotedge/opc-publisher:latest

[2020-11-27 13:03] mregen commented on #269
@SandeepThombare please reopen if issue is still not solved...

[2020-11-27 13:03] #269 closed

[2020-11-27 13:55] barnstee commented on #275
Please use 2.5.3-debug and send me the new verbose log, please.

[2020-11-27 13:57] bellenkurt commented on #275
mcr.microsoft.com/iotedge/opc-publisher:2.5.3-debug

like this?

[2020-11-27 15:04] barnstee commented on #275
yep

[2020-11-27 15:12] bellenkurt commented on #275
[publishlog.txt](https://github.com/Azure/iot-edge-opc-publisher/files/5608465/publishlog.txt)
this is the updated log with version 2.5.3 => i still see that error

[2020-11-27 17:08] barnstee commented on #275
With the debug output, we could analyze the issue and it is a rare race condition in the OPC Publisher, which we fixed in subsequent versions. Please try version 2.7.199-debug.

[2020-11-27 17:13] barnstee commented on #275
Also, in some cases, the error is fixed by restarting IoT Edge. Please try this before going to version 2.7.

[2020-11-30 08:24] bellenkurt commented on #275
hello Erich

thank you very much for the help, this solved the issue; just a reboot and restart from the publisher module on the edge device together with the 2.5.3-debug version

thx
kurt

[2020-11-30 08:51] barnstee commented on #275
Ok, good. For performance, feel free to switch back to an optimized/release build, i.e. without the -debug.

[2020-11-30 08:51] #275 closed

[2020-11-30 10:04] martin-weber opened #277 "Group Monitored Items in one structure in standalone publisher with possibility of trigger"
For our use cases we need a set of data points sampled and published in the same message.
Additional, it would be great if all the nodes are publishing when a certain endpoint changes, for example a boolean switching from false to true.

## Grouping

We would like to be able to group nodes in the publishednodes.json config file of the standalone publisher.
The configuration could then look like th

[2020-11-30 10:19] fbeltrao opened #278 "Suggestion: be able to track the active publishednodes.json file version"
In a scenario where an external component is managing the subscription items by modifying the `publishednodes.json` file it would be great to be able to track the version current in use by OPC Publisher.

A possible solution would be to add metadata to the publishednodes.json file with a version number, for example:

[code]

Ways to report the current configuration version (not mutual exclusive):

[2020-12-01 12:34] SandeepThombare opened #279 "Could not pull image of OPC publisher module version 2.5.4"
Hi,

I am trying to deploy the Opc publisher module 2.5.4 version to IoT Edge but getting error and module is not getting created in IoT edge

please see below log of edgeAgent module,
![2 5 4 error](https://user-images.githubusercontent.com/71124513/100740939-7d7db700-33ff-11eb-8be5-03d175fd9a25.JPG)

If i use version 2.5.3, it is working fine and I am able to use opc publisher module version 2.5

[2020-12-01 13:24] franperezlopez opened #280 "error "Could not send worker heartbeat""
Hi,

I've just update my iotedge module, which is built using the image mcr.microsoft.com/iotedge/opc-publisher:latest, and when is deployed in the iotedge device, start failing and doesn't collect any data ... is there any change I need to be aware??

![image](https://user-images.githubusercontent.com/1222398/100746043-78f5d600-33e0-11eb-9bd3-b22ab24b4f91.png)

[2020-12-02 10:59] monikavar commented on #279
The changes are in 2.5.3 and 2.5.4 is no longer necessary and has been removed.

[2020-12-02 10:59] #279 closed

[2020-12-02 11:04] monikavar commented on #280
What is the setup and which version of the OPC Publisher were you using before?

Additionally, are you using industrial IoT microservices?

[2020-12-03 10:25] fijo1015 opened #281 "error message when publishing array of values"
Hi,

I have a subscription to a VariableNode, that consists a onedimensional array of values. In the following there is a code snippet:

	UA_Server *server,
	UA_NodeId ParentNodeId,
	UA_NodeId RefrenceNodeId,
	UA_QualifiedName browseName,
	UA_NodeId typeDefinition,
	UA_NodeId dataType)
	:m_NodeName(nodeName)

The UAExpert shows this node attributes:

![Screenshot_ArrayNode](https://user-images.git

[2020-12-04 17:15] SandeepThombare opened #282 "Telemetry data - OPC publisher version 2.7"
Hi

I am trying to get "EndpointId" field in "ExtensionFields" of telemetry data using standalone OPC publisher module 2.7.

I am expecting data model as shown below,
 **{
    "NodeId": "nsu=ThingWorx Industrial Connectivity;s=Sim.PLC.Ramp1",
    "EndpointUrl": "opc.tcp://192.1.4.4:49320/",
    "ApplicationUri": "urn:opcua:PTC.ThingWorxIC.1:UA%20Server",
    "DisplayName": "Ramp1",
    "Timestamp"

[2020-12-07 14:06] fijo1015 commented on #281
It works ...

[2020-12-07 14:06] #281 closed

[2020-12-09 11:07] barnstee commented on #280
Please get back to our question, or is the issue resolved?

[2020-12-09 11:07] barnstee commented on #280
@franperezlopez

[2020-12-10 20:08] daelsala opened #283 "User is unable to connect from opc publisher to opcua server from aspentech. User Can connect to opcua server from generic client"
Below is the Users JSON configurations along with the error received when attempting to connect:

JSON Config:
`json config

[
  {
    "EndpointUrl": "opc.tcp://PENPPRC23:63500/InfoPlus21/OpcUa/Server",
    "OpcAuthenticationMode": "UsernamePassword",
    "OpcAuthenticationUsername": "domain\\userID",
    "OpcAuthenticationPassword": "password",
    "UseSecurity": true,
    "OpcNodes": [
      {

[2020-12-10 22:54] daelsala commented on #283
@barnstee if you can please assist as soon as possible.

[2020-12-11 10:56] franperezlopez commented on #280
Sorry for the late response,

a) I did additional tests, and the problem seems not related to the opcpublisher version. There is a telegraf module (docker) for ingesting data from opcserver directly to influxdb, and I get this error when opcpublisher and telegraf are working at the same time. if opc publisher is working alone, it works fine
b) I don't know what you mean by Industrial IoT microserv

[2020-12-11 14:10] koepalex commented on #283
The crash is caused by invalid escape sequence, please try `domain\\userID` for "OpcAuthenticationUsername".
Can you verify if this works?

[2020-12-11 14:58] daelsala commented on #283
@koepalex
They can push the keys but don’t know how to confirm if it is working correctly.
Do they need to stop/restart the services.
Is there an output command I can run to provide feedback?

[2020-12-11 15:26] koepalex commented on #283
Restart the publisher: `iotedge restart <publisher-module-name>`
Show the logs: `iotedge logs <publisher-module-name>`

[2020-12-11 16:19] daelsala commented on #283
after customer tested the run:
PS C:\Windows\system32> net stop iotedge
...
The Azure IoT Edge Daemon service was stopped successfully.

PS C:\Windows\system32> net start iotedge
The Azure IoT Edge Daemon service is starting.
The Azure IoT Edge Daemon service was started successfully.

[2020-12-11 16:52] daelsala commented on #283
[OPCTroubleshooting.txt](https://github.com/Azure/iot-edge-opc-publisher/files/5680475/OPCTroubleshooting.txt)

Attached is the log output from cx

[2020-12-11 16:53] daelsala commented on #283
Contains logs for edgeAgent and edgeHub

[2020-12-11 17:10] daelsala commented on #283
Latest Logs after restarting attacehd below
[OPCTroubleShooting2.txt](https://github.com/Azure/iot-edge-opc-publisher/files/5680579/OPCTroubleShooting2.txt)

[2020-12-11 21:43] daelsala commented on #283
Attached are verbose logging files from cx
[OPCTroubleShooting3.txt](https://github.com/Azure/iot-edge-opc-publisher/files/5681723/OPCTroubleShooting3.txt)
[OPCTroubleShooting4.txt](https://github.com/Azure/iot-edge-opc-publisher/files/5681724/OPCTroubleShooting4.txt)

[2020-12-14 09:36] koepalex commented on #283
`Failed to connect to opc.tcp://penpapp23.apm.ascend.com:63500/InfoPlus21/OpcUa/Server: Error establishing a connection: BadNotConnected - try again...`

This indicates that the OPC Publisher is not able to connect to OPC UA Server, it is not related to security settings, otherwise there would be an `SecurityCheckFailed` in the log.

[2020-12-14 09:46] fbeltrao opened #284 "Feature request: Replace published nodes using a single direct method"
To support a scenario where publisher configuration is stored in an external system it would be great to replace the published nodes using direct methods.
Instead of making multiple add/remove node calls a single direct method call would set all the desired nodes to be published.

More details:
* Monitored items would be published using the module identity.
* Direct method call to replace publishe

[2020-12-14 10:48] koepalex commented on #283
How to check the connection to OPC UA server from iot edge host system: `Test-NetConnection -ComputerName "PENPPRC23" -Port 63500 -InformationLevel "Detailed"`

[2020-12-14 11:29] koepalex commented on #283
How to check the connection to OPC UA server from insight OPC Publisher docker container:

`sudo docker exec -it -u root --privileged <publisher-module-name> bash`

[code]

[2020-12-14 18:04] daelsala commented on #283
Closing issue. Not a bug with OPC publisher, root cause was an unrelated connectivity issue

[2020-12-14 18:04] #283 closed

[2020-12-15 19:05] barnstee commented on #280
@franperezlopez , if you are not using industrial IoT services, it explains the error: The worker heartbeat is something the OPC Publisher is trying to send to the industrial IoT services. If you are using a publishesnodes.json file, the OPC Publisher should automatically switch to standalone more, not requiring the industrial IoT services. Do you have one configured?
Not sure how the telegraph mo

[2020-12-17 18:35] franperezlopez commented on #280
there was an error in the configuration of the deployment template, so no configuration file was set. a little bit "bizarre" that because the json file is missing, I get an error of the heartbeat, a warning message would have been more helpful .. but whatever, now is working. thanks for your support

[2020-12-17 18:35] #280 closed

[2021-01-04 11:23] sagarganachari commented on #280
How did you resolve this issue @franperezlopez

https://github.com/Azure/Industrial-IoT/issues/993

[2021-01-04 11:38] franperezlopez commented on #280
@sagarganachari  .. this error was provoked by a typo in my deployment template.

check your published docker in the iotedge device, then open a bash terminal into the running docker (`docker exec ... bash`), and check that the configuration file which you provide as `createOptions` (for example, `--pf=/app/opcserver.json` or whatever you have) actually exists.

[2021-01-04 12:20] sagarganachari commented on #280
@franperezlopez  i checked container option path /app/publishenodes.json exists in linux edge device.

iotedge status showing OPCPublisher running.....
![image](https://user-images.githubusercontent.com/76048188/103534631-28621480-4e87-11eb-9a6d-da3d6cc96c1d.png)

[2021-01-04 12:34] franperezlopez commented on #280
in my case, it didn't matter .. the opc publisher might be running, but the config file might be missing ... as I said in my comments before, the opc publisher does not display an error message if the config file is missing.

if you say that the config file it is on the edge device, that means that you need to bind that volume to the docker, right? again, open a bash console against the running op

[2021-01-04 12:45] sagarganachari commented on #280
@franperezlopez @monikavar

Unfortunately yes i am hitting a different problem

after executing the command i am accessing the path...find screen shot

![image](https://user-images.githubusercontent.com/76048188/103536550-a542bd80-4e8a-11eb-84b7-7b6516225da1.png)

[2021-01-04 13:29] barnstee commented on #280
You just ran that command on the host, you need to run the command *within* the container. That's what @franperezlopez meant with "against the container".

[2021-01-04 13:52] sagarganachari commented on #280
@barnstee

Yes i ran it within container i am getting ls: cannot access /app/publishenodes.json, attached screen shot

![image](https://user-images.githubusercontent.com/76048188/103541907-07ec8700-4e94-11eb-92e9-51396471e0dc.png)

[2021-01-04 13:57] barnstee commented on #280
"No such file or directory" -> There's your problem! Please check the directory mapping to the host.

[2021-01-04 14:06] sagarganachari commented on #280
![image](https://user-images.githubusercontent.com/76048188/103542977-ae855780-4e95-11eb-85d6-43d42895c9f7.png)
![image](https://user-images.githubusercontent.com/76048188/103543073-d4aaf780-4e95-11eb-9850-0039249a4ae3.png)
@barnstee Please find the path screenshots ,directory mapping is that same you are talking about....

[2021-01-04 14:34] barnstee commented on #280
"Binds" in your case should be ["/app:/app"], as you placed your publishesnodes.json in the /app folder on both the host and the container.

[2021-01-05 08:53] sagarganachari commented on #280
I copied the host file inside container and checked the same .but still i get heartbeat model error.find attached screen shots

to copy the host publishenodes.json file to container   /iiotedge/ location i used the command.

$ tar -cv * | docker exec -i OPCPublisher tar x -C /

Is it right to copy ?? after copy i can  access the file inside container.

![image](https://user-images.githubuserconten

[2021-01-05 08:58] barnstee commented on #280
No, copying is not the right solution as the file will be gone when the container restarts. You need to map it as @franperezlopez and I described above. Please read up on principles of Docker containers to get an overview of how they work.

[2021-01-05 11:16] sagarganachari commented on #280
![image](https://user-images.githubusercontent.com/76048188/103639928-0def7000-4f47-11eb-9391-c56c35d92f28.png)

@barnstee  After inspecting the container i can see that volume is mounted on the container,,,,,,but still result remains same
![image](https://user-images.githubusercontent.com/76048188/103640126-632b8180-4f47-11eb-91ad-9912e7ef7ed4.png)

that i cannot access the file with ls /iiotedge

[2021-01-07 21:55] dvanlaerhoven opened #285 "ARM32V7: Not supported anymore"
Hi All!

I've used the OPCPublisher module this summer with succes on an arm32v7 device.
I believe I've done the same thing, but now I get:

[code]

Is arm32v7 not longer supported? I could not find a decapitated message.
Can I build the image myself, what base image should I take?

With Kinds regards

Dries

[2021-01-08 10:58] monikavar commented on #285
Sorry, arm was never officially supported and should not have been released.

[2021-01-13 15:54] subbu-ai opened #286 "OPCPublisher module was running before but do not run after stop and start"
I am running 8 iotedge OPCPublisher modules (latest version) in a Windows 2019 server using windows docker containers.  6 modules are running good. 2 could not start.

To find out the issue,  I tried to stop one of the running OPCPublisher module by setting the Desired Status to “stopped” using Set Modules menu on the device.  The OPCPublisher module stopped with a failure message.  When I again s

[2021-01-14 08:15] barnstee commented on #286
Hi @subbu-ai, what does "setting the Desired Status to “stopped” using Set Modules menu on the device" refer to? Is this some app that came with the gateway device? My hunch is that this is not supported by OPC Publisher. OPC Publisher should be restarted using the iotedge command line, i.e. "iotedge restart OpcPublisher".

[2021-01-14 08:24] barnstee commented on #286
From the separate internal support ticket that was created for this issue, I can see that you are running several OPC Publisher instances on the SAME IoT Edge gateway. This is not supported. Please use a single OPC Publisher instance

[2021-01-14 12:52] subbu-ai commented on #286
Hi Erich,

This is not a gateway device. IoT Edge Modules (OPCPublisher) running in a windows server on premise.

"setting the Desired Status to “stopped” using Set Modules menu on the device" -  This refers to in Azure Portal,  when you click on the Device ID, then you see all the OPCPublisher images that are running.  Then click on the “Set moddules”.  Then click on the  IoT Edge Module (OPCPubl

[2021-01-14 13:42] barnstee commented on #286
Got it, thank you. Yes, using the portal should work and is equivalent to running iotedge restart <module>. That leaves the issue with the multiple instances on the same gateway. Please use a single instance.

[2021-01-14 13:49] subbu-ai commented on #286
Please confirm the following:

edgeHub_1 + edgeAgent_1 + OPCPublisher_1
edgeHub_2 + edgeAgent_2 + OPCPublisher_3
…
…

Is this configuration correct? Can all of them run in a single Windows Server?

Thanks,

From: Erich Barnstedt <notifications@github.com>
Sent: Thursday, January 14, 2021 6:43 AM
To: Azure/iot-edge-opc-publisher <iot-edge-opc-publisher@noreply.github.com>
Cc: Annamalai, Subbu <subb

[2021-01-14 13:51] barnstee commented on #286
No, please use a single IoT Edge Hub, agent and OPC Publisher. We have tested OPC Publisher with up to 70,000 published tags running on a single instance, the bottleneck is always the internet connection.

[2021-01-14 14:01] subbu-ai commented on #286
We have 200 (2 seconds) tags, 400 (5 seconds) tags, 6600 (30 seconds)  = total 7200 tags . Can we put all of them in one OPCPublisher + edgeHub + edgeAgent?  Data Source is single OPC/UA tunnel but multiple devices.

From: Erich Barnstedt <notifications@github.com>
Sent: Thursday, January 14, 2021 6:52 AM
To: Azure/iot-edge-opc-publisher <iot-edge-opc-publisher@noreply.github.com>
Cc: Annamalai, S

[2021-01-14 14:04] subbu-ai commented on #286
We have 200 (2 seconds) tags, 400 (5 seconds) tags, 6600 (30 seconds)  = total 7200 tags . Can we put all of them in one OPCPublisher + edgeHub + edgeAgent?  Data Source is single OPC/UA tunnel but multiple devices.

[2021-01-14 14:08] barnstee commented on #286
Yes, you can.

[2021-01-14 14:12] subbu-ai commented on #286
Thanks.  As we do not want to resample and maintain original sampling provided by the OPC/UA tunnel, we are not mentioning any published_nodes.json file.  Also we have data compression involved in the Pi Server, so it takes care of the heartbeat interval.  So, we do not specify any heartbeat in the published_nodes.json.  Is this agreeable?

[2021-01-14 14:18] subbu-ai commented on #286
In the current container configuration, we do not use any -mm value and we do not receive the String values at IoTHub.

{
  "Hostname": "publisher",
  "Cmd": [
    "publisher",
    "-v c:/iiotedge:c:/appdata",
    "--pf=/appdata/pn_4.json",
    "--sf=True",
    "--aa"
  ],
  "HostConfig": {
    "Binds": [
      "c:/iiotedge:c:/appdata"
    ],
    "ExtraHosts": [
      "localhost:127.0.0.1"
    ]

[2021-01-14 15:13] barnstee commented on #286
Yes, it is acceptable not to specify any heartbeats and there is a default sampling interval in OPC Publisher (1s), if none is specified in the pn.json file. The default can also be overwritten through a command line argument, see oi flag here: https://github.com/Azure/iot-edge-opc-publisher/blob/main/CommandLineArguments.md

[2021-01-14 15:17] barnstee commented on #286
If you do not supply a messaging mode, PubSub is the default. If the Status is not present, the status is good. You only get status when the status is bad. For the issue where strings don't show up in the telemetry stream, please open a separate GitHub issue and attach your pn.json, command line arguments and resulting telemetry message (use IoT Explorer to read it).

[2021-01-15 04:32] subbu-ai commented on #286
How to fix this issue:

[08:00:46 ERR Root] Unable to start metric server. For more info, please check troubleshooting guide for edge metrics collection
System.Net.HttpListenerException (5): Access is denied.
   at System.Net.HttpListener.AddPrefixCore(String registeredPrefix)
   at System.Net.HttpListener.AddAllPrefixes()
   at System.Net.HttpListener.Start()
   at Prometheus.MetricServer.StartSe

[2021-01-15 05:34] subbu-ai commented on #286
Frequently I get Communication errors.  How to fix this?

[12:37:38 INF Microsoft.Azure.IIoT.OpcUa.Edge.Publisher.Engine.DataFlowProcessingEngine]
  DIAGNOSTICS INFORMATION for          : opc.tcp://10.0.3.106:49310_cf9df0a198e2a4285a8571bb30a5d3b70493d245
  # Ingestion duration                 :    00:04:28:57 (dd:hh:mm:ss)
  # Ingress DataChanges (from OPC)     :         13,232 (0.82/s)
  # Ingre

[2021-01-15 07:40] barnstee commented on #286
@subbu-ai, like I mentioned above, please create new issues for these, they have nothing to do with your original issue.

[2021-01-15 07:40] barnstee commented on #286
Closing as the original issue was resolved.

[2021-01-15 07:40] #286 closed

[2021-01-15 10:52] subbu-ai opened #288 "ERR Unable to start metric server"
I am running OPCPublisher version 2.7.199.  I am getting the following error.

How to fix this issue:

[08:00:46 ERR Root] Unable to start metric server. For more info, please check troubleshooting guide for edge metrics collection
System.Net.HttpListenerException (5): Access is denied.
at System.Net.HttpListener.AddPrefixCore(String registeredPrefix)
at System.Net.HttpListener.AddAllPrefixes()
at

[2021-01-15 10:56] subbu-ai opened #289 "OPCPublisher disconnected due to Communication_Error"
I am running OPCPublisher 2.7.199 on Windows VM Windows Container.
Frequently I get Communication errors. How to fix this? Do I loose data?

[12:37:38 INF Microsoft.Azure.IIoT.OpcUa.Edge.Publisher.Engine.DataFlowProcessingEngine]
DIAGNOSTICS INFORMATION for : opc.tcp://10.0.3.106:49310_cf9df0a198e2a4285a8571bb30a5d3b70493d245
Ingestion duration : 00:04:28:57 (dd:hh:mm:ss)
Ingress DataChanges (from

[2021-01-15 11:05] subbu-ai opened #290 "Which OPCPublisher version is stable recommended version"
I am using OPCPublisher 2.7.199.

Which OPCPublisher version is stable recommended version?

[2021-01-15 11:06] monikavar commented on #289
Hey, please provide the full log file with debug log level.

[2021-01-15 11:16] subbu-ai commented on #289
Please find attached. Debug log level is Default.  Please let me know if you want me to set to different log level and also how to set the log level.

From: Monika Varshney <notifications@github.com>
Sent: Friday, January 15, 2021 4:07 AM
To: Azure/iot-edge-opc-publisher <iot-edge-opc-publisher@noreply.github.com>
Cc: Annamalai, Subbu <subbu.annamalai@BakerHughes.com>; Author <author@noreply.githu

[2021-01-15 11:24] subbu-ai commented on #289
[OPCPublisher_1_20210114.log](https://github.com/Azure/iot-edge-opc-publisher/files/5820161/OPCPublisher_1_20210114.log)

Log level Default.  Please let me know if you would like to different log level and let me know how to set the new log level.

[2021-01-15 11:28] monikavar commented on #290
Please use the latest released version. Officially released version can be found [here]( https://github.com/Azure/Industrial-IoT/releases).

[2021-01-15 11:37] monikavar commented on #288
The metrics are exposed using a HttpListener based server. It may throw an access denied exception on Windows if your user does not have the right to open a web server on the specified port. You can use the netsh command to grant yourself the required permissions:
`netsh http add urlacl url=http://+:9702/metrics user=Everyone`

Or, on Windows, please try setting the following in OPC Publisher modu

[2021-01-16 11:39] #290 closed

[2021-01-16 11:40] subbu-ai opened #291 "2.7.206 (latest) version taking MqttOverTcp as default"
I switched to 2.7.206 (latest).  But my default transport connection is showing:
[20:09:39 INF Microsoft.Azure.IIoT.Module.Framework.Client.IoTSdkFactory] Connecting all clients to devcgedge01 using MqttOverTcp.

I expect to connect as AmqpOverTcp.  Please let me know where is the issue?

[2021-01-16 11:53] subbu-ai commented on #291
I noticed 2 issues:
1) The default is MqttOverTcp.  To switch to Amqp, I used "--ih=AmqpOverTcp".
2) The key word is no longer "Amqp_Tcp_Only".  It is now "AmqpOverTcp".

Please confirm.

[2021-01-16 12:01] subbu-ai commented on #291
Microsoft docs is different from github documentation.  Please sync them.
Thanks.

[2021-01-18 04:25] subbu-ai opened #292 "How to override to send values even they are not changed?"
My OPCPublisher version is 2.7.206.  I understand the default behaviour of the OPCPublisher is send only changed values.  How to send the values even if they are not changed.

[2021-01-18 15:37] subbu-ai opened #293 "What does 'BadMonitoredItemIdInvalid', 'Code': 2151809024 mean?"
StatusCode shows 'BadMonitoredItemIdInvalid', 'Code': 2151809024. Good and Bad messages below.
This is a 30 second frequency tag. Does this means the value is not available at the source?

{'NodeId': 'nsu=Industrial Gateway OPC Server;s=Server_9.Device1.devcgepi21.\\\\devcgepi21\\N-PIC-I0831A/PV', 'ApplicationUri': 'urn:DEVCGIGS01.megenergy.dev:Intellution.IntellutionGatewayOPCServer:UA%20Server',

[2021-01-18 15:44] subbu-ai commented on #293
If we do not want the error messages sent to IoTHub,  which parameter in the published_nodes.json or the Container Configuration required?

[2021-01-18 17:38] subbu-ai opened #294 "Data ingestion duration is 25 min. How to speed up or what we are observing is normal?"
Please find attached the log file.  I added more and more tags to OPCPublisher_1 container.  There is only single OPCPublisher we are streaming data.  The log file shows 25 min as  ingestion duration.  What are the implications, can we speed up, or this is normal.  We are using AMQP TCP.  During 25 min the data is continuously going to the IoTHub or it is waiting for the 25 min block to complete?

[2021-01-19 09:47] fijo1015 opened #295 "Modifying node display name / Publish node description"
Hi,

I want to change the display name and/or the description of a node using a method. UAExpert shows the modified names, but the display name in Azure is still the old one. I do not get an error message.

1. Doesn´t OPC Publisher support the modification of the display name?
2. And is it possible to publish the node description as well?

I am using version 2.5.3.

Best regards
jo

[2021-01-19 12:01] barnstee commented on #295
Changing the display name in UA Expert doesn't change it on the server, so what OPC Publisher "sees" stays the same. We do however have the ability to specify a display name in the published nodes JSON, please check the docs on how this can be done.

[2021-01-20 15:47] subbu-ai opened #296 "Is there any format available to send Status Code with message?"
I am using OPC Pub/Sub format which sends the Status Code only when status is bad.  Is there any other format available for selection as --mm parameter to send the Status Code with every message; both good and bad?

[2021-01-20 15:50] subbu-ai opened #297 "How to send 2 sec and 5 sec frequency messages to cloud?"
I have 2 sec and 5 sec messages.  At source OPC/UA Tunnel, we are polling at an interval of 3 sec.  The messages are going to cloud at 10 sec interval and 1 sample is missed.  How to ensure all samples reach cloud at the same source frequency as 5 sec?

[2021-01-20 16:16] monikavar commented on #288
Hope the above guidance has solved your issue.

[2021-01-20 16:16] #288 closed

[2021-01-21 14:20] karok2m commented on #294
@subbu-ai, can you please provide `published_nodes.json` files that you used ? And, which version of the publisher are you using ?

[2021-01-25 11:01] monikavar commented on #296
We don't support this currently.

[2021-01-25 11:01] #296 closed

[2021-01-25 12:12] barnstee commented on #294
To answer your questions: OPC Publisher will send data as fast as your Internet connection allows. To speed up, you will need a faster Internet connection, where faster mainly refers to latency, not throughput. OPC Publisher will also start sending data as soon as it starts processing publishing files (publishednodes.json) or publishing jobs from the cloud. As Karapet mentions, to tell you if the

[2021-01-25 18:16] subbu-ai commented on #296
Is there any option available to STOP the "Bad" messages from being sent to IoTHub?

[2021-01-27 10:09] fijo1015 commented on #295
I am using the following writeDescription method:

When I am reading out the description of the same node, then I get the changed node description. Therefore I am using the following method:

The same procedure can be done using the DisplayName. Are you sure the NodeDescription and NodeDisplayName doesn´t change on the server, when using this methods?

[2021-01-27 11:42] barnstee commented on #295
That really depends on the implementation on the server. If there is a method to update the description/display name, then it is possible, yes.

[2021-01-28 08:03] Prov-Matthias opened #299 "OPC Publisher 2.7.199 + IoT EdgeHub Dev Error: System.AggregateException: One or more errors occurred"
When we running docker container mcr.microsoft.com/iotedge/opc-publisher:2.7.199 as a module inside IoT Edge Hub Dev runtime the following error occurs:

`Unhandled exception. System.AggregateException: One or more errors occurred. (An exception was thrown while activating Microsoft.Azure.IIoT.Module.Framework.Hosting.ModuleHost -> Microsoft.Azure.IIoT.Module.Framework.Client.IoTSdkFactory.)
Autof

[2021-01-28 08:14] barnstee commented on #294
Closing due to inactivity.

[2021-01-28 08:14] #294 closed

[2021-01-28 09:43] #295 closed

[2021-01-28 10:44] monikavar commented on #289
Please provide edgeHub logs as well.

[2021-02-05 12:21] monikavar commented on #289
EdgeHub re-authenticates all connected clients periodically, and if any of them have expired tokens, those connections are dropped. The IoTHub SDKs create tokens of 1 hour duration by default. So unless you are using your own SDK, or overriding the token duration, that would explain why the client connection is being dropped every hour.

But this behavior is completely normal – what is expected is

[2021-02-05 12:21] #289 closed

[2021-02-05 15:10] barnstee commented on #297
Have a look here: https://github.com/Azure/iot-edge-opc-publisher#performance-and-memory-tuning-opc-publisher
You need to tune the si /ms parameter.

[2021-02-05 15:10] #297 closed

[2021-02-09 19:38] geebinge opened #300 "standard_init_linux.go:211: exec user process caused "exec format error""
the latest version mcr.microsoft.com/iotedge/opc-publisher:latest delivers "standard_init_linux.go:211: exec user process caused "exec format error" in Docker during startup.

Version 2.7.199 runs without problems.

Linux RevPi40645 4.19.95-rt38-v7+ #1 SMP PREEMPT RT Tue, 16 Jun 2020 13:25:43 +0200 armv7l GNU/Linux
Docker version 3.0.13+azure, build dd360c7c0de8d9132a3965db6a59d3ae74f43ba7
iotedge

[2021-02-11 11:29] barnstee commented on #299
Thanks Matthias, as discussed on the phone, edgehub dev environment is not supported.

[2021-02-11 11:29] #299 closed

[2021-02-11 11:32] barnstee commented on #300
Marc, please have a look, it appeasers to be an issue with the combined image for 206 and Pi Linux. Probably the missing Arm support.

[2021-02-12 13:42] fijo1015 opened #301 "Cryptic string in json-file"
Hi,

i am using OPC Publisher in combination with the message routing of the IoT Hub. I want to store the incoming messages in a json-file (Blob Storage). When i am doing this, the body of the file is a cryptic string. When i am storing the incoming messages in an avro-file, it works very well. Can anybody tell me, what is the reason for that behavior? What can I do to "see" the data in the json-f

[2021-02-19 10:30] fijo1015 commented on #301
It´s the issue #267. I am closing this issue.

[2021-02-19 10:30] #301 closed

[2021-02-23 10:52] hbunjes commented on #285
According to the Marketplace ARM is still officially supported: https://azuremarketplace.microsoft.com/en-us/marketplace/apps/microsoft_iot.iotedge-opc-publisher

[2021-02-23 16:33] subbu-ai commented on #292
This is important for the tags that has the following behaviour:
1) Setpoint tags that does not change frequently
2) Pi Server implements a concept called compmax parameter (similar to heartbeat).  However, based on my testing, OPCPublisher does not consider the compmax parameter of Pi Server or there is a bug.

[2021-02-23 22:21] ksaye opened #302 "Error: Opc.Ua.ServiceResultException: Cannot access certificate private key"
OPC Publisher Version:  2.7.206.36449
OS: Ubuntu 18.04
hostname of iotedge: home
Module URI:  mcr.microsoft.com/iotedge/opc-publisher:latest
Container Create Options:

[code]

Publishednodes.json:
[code]

Commands to create and copy the certificates:
[code]

Permissions on the private key:
[code]

Error message:
[code]

If I delete my certs and let the opcpublisher create them, it works fine as sh

[2021-02-24 09:04] cristipogacean commented on #302
@ksaye, you can have a look on this one: https://github.com/Azure/Industrial-IoT/issues/757

[2021-02-24 16:19] ksaye commented on #302
I have been basing most of my work on that issue.  Let me add the "-extfile cert.ext" piece and retest.  I would be surprised if the extension issue caused the ```Cannot access certificate private key``` error message.  Will update once I complete the testing.

[2021-02-24 21:24] faroqahmd commented on #301
cryptic message is apparently base64 encoded data. You can use an online base64 to text decoders to observe data

[2021-02-24 23:37] ksaye commented on #302
@cristipogacean, thanks for the comment.  The issue was based on missing extensions, and I have documented the process with the correct extensions here: https://kevinsaye.wordpress.com/2021/02/24/using-custom-x509-certificates-in-iot-edges-opc-publisher/.  Closing this ticket.

[2021-02-24 23:37] #302 closed

[2021-03-01 20:50] subbu-ai commented on #292
@barnstee  Please change this issue from doc to future request.

[2021-03-02 10:31] barnstee commented on #292
This is implemented using the heartbeat functionality. Please check the docs here: https://github.com/azure/iot-edge-opc-publisher#configuration-via-configuration-file

[2021-03-22 13:32] martin-weber opened #303 "Show number of current monitored items as part of diagnostic information"
It would be helpful to show in the diagnostic information output:

- The number of currently monitored items
- (Optional) The total number of configured items
- (Optional) The number of configured items that are not monitored due to failure

This would improve the diagnostic when deploying a new configuration. It would male it much easier to check if the new configuration added / removed monitored

[2021-04-05 21:28] zkaiser-ff opened #305 "IoTCentral flag not working as expected"
I'm using the OPC Publisher module on a linux machine to read tags from an OPC UA server with the intent of publishing them to an IoT Central application. I've used the `--ic` flag and am still getting data unmodeled in IoT Central. I've had no problems connecting to the OPC UA server and tags are publishing with correct values, just not in the format IoT Central requires.

Module config
[code]

p

[2021-04-07 10:27] mwiot opened #306 "Configure publisher from REST Microservice: Authentication: Username/Password"
Hi, this is from the documentation:

**_"Configuration via Cloud-based, Companion REST Microservice
Please note: This feature is only available in version 2.6 and above of OPC Publisher.

A cloud-based, companion microservice with a REST interface is described and available here. It can be used to configure OPC Publisher via an OpenAPI-compatible interface, for example through Swagger."

"By defau

[2021-04-09 09:23] koepalex commented on #306
Please try to add the elevation _header_ as payload to start-publishing `{{baseUrl}}/publisher/v2/publish/{{endpointId}}/start` or bulk-publishing `{{baseUrl}}/publisher/v2/publish/{{endpointId}}/bulk` :

[code]

[2021-04-09 09:39] koepalex commented on #305
The command line argument `--ic` is not supported in OPC Publisher > 2.6, from CLI documentation:

[code]
Maybe using PubSub format `--mm=PubSub` will do what you need:
[code]

[2021-04-09 09:42] koepalex commented on #303
Thanks for the feedback, we will handle this issue as feature request.

[2021-04-09 12:54] zkaiser-ff commented on #305
@koepalex

Thanks for the information! Where are you seeing that documentation? I was looking at the following link for setting it up and that doesn't say anything about the `--ic` flag being legacy.

https://docs.microsoft.com/en-us/azure/iot-accelerators/howto-opc-publisher-run

[2021-04-09 17:10] danhellem opened #307 "Link to TelemetryFormatConfiguration.md is bad"
You are linking to

https://github.com/Azure/iot-edge-opc-publisher/blob/main/TelemetryFormatConfiguration.md

and it should be

https://github.com/Azure/iot-edge-opc-publisher/blob/main/docs/TelemetryFormatConfiguration.md

[2021-04-14 12:25] creationsoft opened #309 "Cannot log into grafana dashboard"
I cannot log into the grafana dashboard, either when running in IoT Edge or a local docker instance.
I have tried changing permissions on the grafana.db file but cannot do this (always get 'operation not permitted')

INFO[04-14|12:20:59] Request Completed                        logger=context userId=0 orgId=0 uname= method=POST path=/login status=401 remote_addr=172.17.0.1 time_ms=10 size=42 refer

[2021-04-15 17:09] ericvruder opened #310 "Issue configuring what nodes to publish"
I have recently set up a IoT Edge up in one of our machines and installed OPC Publisher and connected it to one of our opc-ua servers. I got it publishing the nodes correctly and routing them to the iot hub, so that's awesome. Though I have now run into the following problem:

This is how our node structure looks like atm. (anonymized):

[![Node Structure][1]][1]

And we asked OPC Publisher to pub

[2021-04-15 21:31] #307 closed

[2021-04-17 16:48] tmote opened #311 "Container Create Options Continually Overwritten by Deployment Defaults"
I am new to publishing modules via IOT Edge and fully expect this could be a question for another level within the solution. But since this is only happening with the OPC Publisher module, I am starting here.

I have (re)deployed the OPC Publisher module multiple times to attempt to clear the issue. However, within five minutes of configuring the base "Container Create Options" to provide the stor

[2021-04-17 19:50] pablolaurin opened #312 "Broken link in README.md"
File:
https://github.com/Azure/iot-edge-opc-publisher/blob/a2b6adff3056377f31369a3dabfc8dbc3593fb9a/README.md

Broken link  at this [paragraph](https://github.com/Azure/iot-edge-opc-publisher/blob/main/README.md#configuration-via-command-line-arguments):

https://github.com/Azure/iot-edge-opc-publisher/blob/a2b6adff3056377f31369a3dabfc8dbc3593fb9a/CommandLineArguments.md

[2021-04-29 12:37] ajithkumars commented on #292
@barnstee This is supposed to work but does not in the latest versions.
In brief it works in version 2.5, 2.6 but no later versions (2.7,2,7.183,2.7.206)

Created an issue here since we are using the full setup:
https://github.com/Azure/Industrial-IoT/issues/1133

[2021-05-04 12:27] oliverchristen opened #313 "Feature Request: Option to load published node configuration from module twin"
This has been [requested](https://github.com/Azure/iot-edge-opc-publisher/issues/144) some years ago and I would like to bring it up again. I think it would be much better to be able to manage the pn.json from the cloud. And it would be much easier than using the OPC Twin cloud service.
The module twin size limit of [8kb](https://docs.microsoft.com/en-us/samples/azure-samples/azure-iot-hub-large-t

[2021-05-04 12:35] oliverchristen commented on #311
You probably have an IoT Edge Deployment assigned to that device, do you? When you manually change the device configuration on the Azure portal, this change automatically gets overridden by the deployment. Either you change the edge deployment or you unassign the deployment and configure the device manually on the poral.

[2021-05-04 13:43] tmote commented on #311
I've tried both a deployment and a direct module push. Both do the same thing, within five minutes the settings are reverted. Unlike the Modbus module that I have been testing which allows me to deploy the module and then manage it normally (twin settings) in the same manner but the settings are static.

From: Oliver Christen ***@***.***>
Sent: Tuesday, May 4, 2021 7:36 AM
To: Azure/iot-edge-opc-p

[2021-05-04 14:22] oliverchristen commented on #311
Perhaps there is another deployment which is assigned to this edge device with higher priority. You can check which one is assigned to the edge device in tab "Deployments and Configurations". I assume this is not related to this module but to the IoT hub itself.
If you change anything in the Modbus module twin, this change is not overridden after some minutes?

[2021-05-04 15:00] tmote commented on #311
That's correct - the Modbus module works as part of a deployment (layered and alone) exactly as expected. Initially I did have a layered deployment with Modbus and OPC and backed out of it as an initial troubleshooting effort. I then used a standalone deployment with OPC and the same issue persisted. I backed out of this approach and then proceeded with a direct push to the device using set module

[2021-05-05 05:49] oliverchristen commented on #311
That sounds weird. But anyway I'm quite sure that this is not related to the module itself as it's a functionality of IoT hub which handles module twins. So I recommend to create an issue on the Azure portal for that.

[2021-05-06 13:09] mwiot opened #314 "Update SourceTimestamp using Heartbeat"
Hi,

the heartbeat function is used to publish static values. But the sourcetimestamp is not updated (re-read) at every heartbeat interval. Is this implemented, or will this be implemented in the publisher? The SourceTimestamp is only updated when publisher is restarted.

And have you looked into about the possibility of using a DataChangeFilter with DataChangeTrigger in the UA client?

DataChange

[2021-05-19 14:24] #282 closed

[2021-05-20 09:25] christiancieslar opened #315 "Cannot subscribe on Events"
Hi Everyone,

I'm trying to connect to events of my OPC UA Server. Reading datapoints works fine.
Unfortunately i get an error message each time the OPC Publisher tries to load "complex type system" for the events.

Configuration:
`[
    {
        "EndpointUrl": "opc.tcp://10.34.121.61:4840",
        "UseSecurity": true,
        "OpcAuthenticationMode": "UsernamePassword",
        "OpcAuthenticati

[2021-05-31 15:49] terrymandin opened #316 "The public/private key pair in the certficates do not match."
## Expected Behavior
OPC Publisher moduel should start

## Current Behavior
OPC Publisher module fails with "The public/private key pair in the certficates do not match." error.  The OPC Publisher module installs fine when I install to an Azure VM, but fails when I install on the customer's device.

## Steps to Reproduce
1. Install in a locked down environment with restricted network access and no

[2021-05-31 20:28] terrymandin commented on #316
Also tried setting to X509Store which did not work.  ie.

[code]

[2021-06-02 10:18] koepalex commented on #315
Reading OPCEvents is a specific features, that is currently not implemented, I will see this issue as feature request to support Alarms and Events for OPC Publisher.

[2021-06-02 10:19] koepalex commented on #314
The `SourceTimestamp` should be the value from OPC UA Server when the Value had changed last time. A heartbeat publishing (as feature of OPC Publisher) shouldn't update this data.

_DataChangerFilter_ and _DataChangeTrigger_ are in discussion, therefor I will handle this issue as feature request for them and assign to the right PM.

[2021-06-02 10:24] karok2m commented on #316
@terrymandin, can you please add IoT Edge deployment manifest with container creation options and any storage/networking options that it might have ?

[2021-06-02 10:28] koepalex commented on #316
@terrymandin were do you see the message `The public/private key pair in the certificates do not match` it isn't in the attached log file.

[2021-06-02 10:43] koepalex commented on #316
Running as Linux Docker container, you can map the certificate stores to the host file system by using the Docker volume binding. Did you tested this?

If it is still failing you could generate the application X509 certificate and private key by your own and copy it into the binding folder:

* pki/own/certs X509 certificate as `*.der`
* pki/own/private X509 certificate private key as `*.pfx` (with

[2021-06-02 15:43] terrymandin commented on #316
Thanks for the help @karok2m and @koepalex.

@karok2m, I have asked the customer for the deployment manifest and will attach it shortly.

@koepalex, I think you are not seeing the message as "certificates" is misspelled in the log.  It is "certficates" in the log.  We did try mapping the certificates store to the local drive, but note that these are Windows containers, not Linux containers.  Howev

[2021-06-02 20:13] terrymandin commented on #316
The manifest is below.  Unfortunately I don't think we will be able to copy the certificates over as when we map the directories to our local drive, the certificate directories are not being created.

{
    "modulesContent": {
        "$edgeAgent": {
            "properties.desired": {
                "modules": {
                    "SimulatedTemperatureSensor": {
                        "setting

[2021-06-02 20:28] koepalex commented on #316
Please test with latest OPC Publisher `2.7.206` or at least `2.5.4` which is the latest release from 2.5.x.
Also this are windows container, not Linux. Therefor directory store will not work, the certificates need to be installed in system X509store.

[2021-06-04 15:29] terrymandin commented on #316
Upgrading to OPC Publisher ```2.7.206``` solved the issue.

This customer needed to pull all containers from their own container registry.  Other than the tag names, it was not clear which container I should be pulling from mcr.microsoft.com for edgeAgent, edgeHub, or the OPC Publisher.  Perhaps I missed some documentation, but if not I recommend adding some guidance to our documentation.

Thank y

[2021-06-04 15:29] #316 closed

[2021-06-07 12:29] koepalex commented on #309
@creationsoft please follow the tutorial [Metrics Dashboard](https://github.com/Azure/iot-edge-opc-publisher/blob/main/docs/prometheus-metrics/MetricsDashboard.md) see `Update the environment variables to control access to the Grafana dashboard.`

[2021-06-07 12:34] koepalex commented on #311
@tmote does the error still occur? Could you provide some information

* Container Create Options
* Used Container Versions
* logs from edgeAgent in that case

[2021-06-10 15:57] koepalex commented on #292
Handling this issue as feature request to support Compression of (OSI Soft?) PI Server. Heartbeat bug is tracked in #1133

[2021-06-10 16:05] #293 closed

[2021-06-10 16:36] koepalex commented on #309
Closing the issue; please reopen if there still open

[2021-06-10 16:36] #309 closed

[2021-06-10 16:56] koepalex commented on #305
As you see the whole documentation you linked is marked as outdated:
![image](https://user-images.githubusercontent.com/5366648/121565760-129be100-ca1d-11eb-9927-3b2cf79dfc4d.png)

Closing the issue.

[2021-06-10 16:56] #305 closed

[2021-06-10 17:04] koepalex commented on #311
Closing for new; please reopen if error still exist

[2021-06-10 17:04] #311 closed

[2021-06-11 06:21] #312 closed

[2021-07-29 15:40] Haeavar opened #1306 "Incorrect node is subscribed on aggregation server if the underlying server connects after the publisher."
**Describe the bug**
We are currently using an aggregation OpcUa server (AS) to aggregate multiple underlying OpcUa server (US1, USn) using reverse connect. Each US1 server have its own namespace URIs which will be added to the AS namespace table. This happens only after the first time the US1 has connected to the AS.

If the publisher creates the subscription **before** the US1 has connected to A

[2021-07-30 15:30] sinfergit opened #1308 "OPC Publisher doesn't send data in order as in generated by OPC simulation server"
I have been trying to retrieve sensor data generated by OPC simulation server (data listed in excel file and read by OPC simulation) in to one of the custom modules in Azure IOT Edge. When the data logged in the console it shows me that data has not been logged in order. Following is the JSON for OPC publisher hosted in iot edge as a module

![image](https://user-images.githubusercontent.com/24528

[2021-07-30 16:55] emulic opened #1309 "Changing of the OPC Publisher LogLevel doesn't work"
Once the OPC Publisher module logLevel has been changed via registry microservice, the change can't be applied by the module.
The publisher log contains following error:
[18:37:03 ERR Microsoft.Azure.IIoT.Module.Framework.Hosting.SettingsRouter] Setting LogLevel/"Verbose" unsupported

Steps to reproduce the behavior:
1. Go to registry microservice swagger registry/swagger/index.html and use the PA

[2021-08-02 07:54] emulic opened #1310 "How to use IoT Edge built-in message broker when running OPC Publisher in orchestrated mode?"
**Is your feature request related to a problem? Please describe.**
According to this [document](https://github.com/Azure/Industrial-IoT/tree/main/docs/manual#overview-of-how-standalone-mode-works), when running a OPC Publisher module in orchestrated mode, we can't use built-in IoT Edge routing to route the message to some other module running within the same IoT Edge device or even of the parent I

[2021-08-03 13:00] djwinter29 opened #1311 "connected factory solution accelerator in the architecture diagram"
**Is your feature request related to a problem? Please describe.**
No. But I do confused with what is the connected factory solution accelerator in the https://github.com/Azure/Industrial-IoT/blob/main/docs/media/IIoT-Diagram.png and the project https://github.com/Azure/azure-iot-connected-factory.

**Describe the solution you'd like**
Is there any examples of how to deploy a connected factory sol

[2021-08-05 09:40] gerhswitsiem opened #1312 "Missing example for string based OPC-UA addressing"
**Sample for string based OPC-UA addressing is missing**
In [this file](https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publisher.md#configuration-via-configuration-file) there is an example for connecting an OPC-UA server. The addressing in the sample is numeric based. In practise the customer values are string based addressed. Please add an example for this use case.

Sample of th

[2021-08-05 10:55] gerhswitsiem opened #1313 "Missing file: publishednodes.json"
**Describe the bug**
In the documentation [here ](https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publisher.md#configuration-via-configuration-file) the file is missing or the link is not working. Please add the sample file or update the link.

[2021-08-05 13:15] marcschier commented on #1310
Hi @emulic , if you need to customize the iot edge deployment manifest to change there routing you need to make the edge deployment "unmanaged".  This is explained in the doc and requires you to tag the device twin of the gateway with unmanaged: true.  Then you can deploy the your module, plus publisher, twin and discovery modules with a custom manifest through portal or az cli when the edge gatew

[2021-08-05 13:15] marcschier commented on #1310
Please close if this helps.

[2021-08-05 13:25] marcschier commented on #1311
Please see https://www.azureiotsolutions.com/Accelerators.

[2021-08-05 13:25] #1311 closed, assigned to nobody

[2021-08-05 13:31] marcschier commented on #1306
Thanks for the contributed fix @Haeavar !

[2021-08-05 14:49] hansgschossmann commented on #1310
As an additional info: OPC Publisher in Orchestrated mode is not supported in a nested Edge configuration. We have validated OPC Publisher standalone in nested Edge deployments. If your network configuration allows to reach the IoT Platforms HTTP endpoints this might work, but we have not validated it, since this not a typical ISA-95 network configuration.

[2021-08-05 14:51] emulic commented on #1310
Hello @marcshier.  Thank you for your response.
I'm actually aware of "unmanaged" tag and I often used it to combine additional custom modules with IIoT modules.
But if the information presented in this [image](https://github.com/Azure/Industrial-IoT/blob/main/docs/manual/media/image3.png) is true, this won't help. My custom manifest can help to define routing between the edge modules but it doesn

[2021-08-05 14:56] emulic commented on #1310
Hi @hansgschossmann,
thanks for clarification regarding nested Edge deployment. Assuming we have a flat Edge deployment without Edge nesting, and Publisher is  running in Orchestrated mode, will I be able to configure routing of the messages from Publisher to my custom modules running on the same Edge device?

[2021-08-05 15:26] djwinter29 commented on #1311
I believe this the link you are provided is only an automated deployment for [this ](https://github.com/Azure/azure-iot-connected-factory) project.  The last update of this project is 17 month ago, and the project has use quite a few libraries which is obsoleted and heavily coupled with time series insights v1, I don't think there is a easy way to connected to [Industrial-IoT](https://github.com/A

[2021-08-05 16:29] maalliet opened #1314 "Question on upgrading to 2.8"
First of all, thanks to the team for releasing a LTS version of Industrial IoT solution!

We have deployed the 2.7.206 version of the solution and want to upgrade this to 2.8.
From a quick glance to the changes, it seems that the major part of the new features & bug fixes took place in the edge modules and/or cloud services. Other azure resources used in the solution don't seem to change (again, f

[2021-08-06 11:44] emulic opened #1315 "Make the IIoT Operations Manual document more visible"
The IIoT project provides lot of documentation. Unfortunately, this documentation is not always perfect, fully correct and up-to-date.
From my point of view, the most detailed document giving a real good overview how the solution works and how all solution components tights together, is the [Operations Manual](https://github.com/Azure/Industrial-IoT/tree/main/docs/manual) document.
However, this d

[2021-08-06 14:11] maalliet commented on #1314
found following info at the bottom of operation document:

In the context of the Azure Industrial IoT Platform, version upgrade relates to upgrading cloud microservices to newer versions. The exact mechanism depends on the deployment method and can be accomplished in 2 ways:

Update of components using Helm CLI for deployments into an AKS cluster using Helm chart.

Update of components through cha

[2021-08-06 14:11] #1314 closed, assigned to nobody

[2021-08-06 14:39] monikavar commented on #1312
For string based OPC UA addressing you would to use "s" like this:
`{ "Id": "ns=2;s=Siemens S7 TCP..." }`

Will update the docs.

[2021-08-07 13:44] marcschier commented on #1310
Whether data is sent to iot hub or other modules is determined by the route configuration in the manifest.  The default one is set so messages go directly to cloud.  Custom manifests can change this regardless of the cloud side created and configured device identities for the subscriptions.  The route definition supports wildcards, etc. as described in the official documentation for IoT Edge.

[2021-08-09 08:39] gerhswitsiem commented on #1312
Hello,

Thanks for the quick response. I tried the new configuration on my docker container. Unfortunatly this recommendation doesn't work. I got the following error:

`[08:29:37 WRN Microsoft.Azure.IIoT.OpcUa.Protocol.Services.SubscriptionServices+SubscriptionWrapper] Error monitoring node ns=2;s=Siemens S7 TCP.PLC_1.Motor_Simulation.M1.Motor_Drehzahl due to BadNodeIdUnknown in subscription opc.t

[2021-08-09 09:23] Haeavar commented on #1312
I would recommend using the "nsu=...;s" syntax to prevent failures due to changed namespace index.

`"nsu=http://trumpf.com/TRUMPF-Interfaces/;s=179"`

@monikavar I would recommend to change this as well in the documentation.

[2021-08-09 09:40] gerhswitsiem commented on #1312
@Haeavar
Thank you for your reply but I also got an error on this configuration:

`"Id": "nsu=2;s=Siemens S7 TCP.PLC_1.Motor_Simulation.M1.Motor_Drehzahl"`

`[09:29:11 WRN Microsoft.Azure.IIoT.OpcUa.Protocol.Services.SubscriptionServices+SubscriptionWrapper] Error monitoring                                                                                                                         node

[2021-08-09 10:29] monikavar commented on #1312
@gerhswitsiem
`nsu` is the namespace uri. In a server the namespace URIs may not change, but the position of a certain namespace URI in the namespace array may change.

So in your case, you should use something like this:
`"Id": "nsu=http://opcfoundation.org/Quickstarts/ReferenceApplications;s=Siemens S7 TCP..."`

Hope this helps!

[2021-08-09 13:01] gerhswitsiem commented on #1312
I tried the configuration from the first suggestion again. Anyway, now the configuration works and I can **successfully load the data**. So to summarize this up:

If you want to read data out of an local OPC-UA server the string based addressing should be like this:
`"Id": "ns=2;s=Siemens S7 TCP.PLC_1.Motor_Simulation.M1.Motor_Drehzahl"`

Just a final hint: I tested also the direct connection betw

[2021-08-10 16:01] sinfergit commented on #1308
I have attached the log files of iot edge modules
[IoTedgeLogs.zip](https://github.com/Azure/Industrial-IoT/files/6962873/IoTedgeLogs.zip)

[2021-08-11 11:27] koepalex commented on #1308
The same payload (e.g. batch of message 1,2 and 3) was over `3581` times in the log, made it hard to analyze. But already shows an error, each message should be only handled once in the pyhton client.

Let's have a look of the raw message content:

Content of message 1,2,3:
[code]

Content of message 4,5:
[code]

As you can see the OPC Publisher delivered correct all the values (and in order) e.g.

[2021-08-11 15:12] sinfergit commented on #1308
@koepalex Please give me some time to test it again and will update you within next few hours

[2021-08-11 15:46] monikavar commented on #1312
Glad it helped!

Updated the docs as well.

[2021-08-11 15:46] #1312 closed, assigned to monikavar

[2021-08-11 15:49] monikavar commented on #1313
Publishednodes.json file is added now.

[2021-08-12 02:37] sinfergit commented on #1308
@koepalex I updated the python client code as following.

![image](https://user-images.githubusercontent.com/24528193/129128925-d1a68272-2a0b-4ea2-8716-71222c04d5be.png)

My requirement is to get one message payload(tag 11,12,13) at once as a data row of three variables and send it to a dashboard chart to be updated. I don't want to sample the data, just get one by one(one record of tag 11,12,13).

[2021-08-12 02:41] sinfergit commented on #1308
[python_test_module_log.zip](https://github.com/Azure/Industrial-IoT/files/6972471/python_test_module_log.zip)

[2021-08-12 02:43] sinfergit commented on #1308
@koepalex Stackover flow question
https://stackoverflow.com/questions/68591571/opc-publisher-doesnt-send-data-in-order-as-in-generated-by-opc-simulation-serve/68628907#68628907

[2021-08-12 03:35] sinfergit commented on #1308
the first message batch i got (2 messages)
[

    {
        "MessageId":"8",
        "MessageType":"ua-data",
        "PublisherId":"opc.tcp://XXXXX:XXXXX/IntegrationObjects/ServerSimulator_fb8261f4290d7d30e3bcb407ee8df1f3c5118a77",
        "DataSetWriterGroup":"opc.tcp://XXXXX:XXXXX/IntegrationObjects/ServerSimulator_fb8261f4290d7d30e3bcb407ee8df1f3c5118a77",
        "Messages":[
            {

[2021-08-12 08:21] #1313 closed, assigned to monikavar

[2021-08-12 12:29] koepalex commented on #1308
If you want only one IoT Hub message containing the values from all 3 tags, you need to set the batch size to 1 (and maybe the batch interval to 1s).

I see in your log, that message id started again by 1 this only happens if the OPC Publisher was restarted, so it is not continously

[2021-08-12 16:58] sinfergit commented on #1308
@koepalex I want only one message at a time from OPC publisher to my python module so that i can send them to a dashboard one by one in real time and update the widgets.  Can you please advice me on how to set the batch size and batch interval to 1s for OPC publisher?
Is there any chance that same message id re-appears again and again since OPC UA server simulator re-reads the old values from the

[2021-08-13 17:31] nelsonmorais opened #1320 "Support subscribing to Nodes where NodeClass is Object (recursively to all HasComponent variables underneath)"
**Describe the bug**
Note: Using OPC Publisher (latest = 2.8) in Standalone mode.

If an OPC-UA Server exposes an Address Space where under the Objects folder is an Object and that Object has (as a simple example) one Variable as a child, trying to subscribe to the Object on the OPC Publisher using the publishednodes.json configuration file fails to subscribe to the Node.

However, subscribing to

[2021-08-13 17:44] nelsonmorais opened #1321 "OPC Publisher (publishednodes.json) request support for regular expressions on NodeId"
**Is your feature request related to a problem? Please describe.**
In cases where we need to subscribe to multiple Nodes with the same settings and where a regular expression to identify all those Nodes could be used it would be great if we could specify the regex instead of having to identify each and every one NodeId.

**Describe the solution you'd like**
I'd like to have the option to specify a

[2021-08-13 23:31] marcschier commented on #1320
Only node classes with a value attribute are supported.

Events are not yet supported but a preview implementation can be found in the feature/alarmsandevents branch.  Browsing based node selection and subscription is not yet supported.  See #47 for a similar request.

[2021-08-13 23:34] marcschier commented on #1320
#1219

[2021-08-14 10:32] koepalex commented on #1308
In general no, the OPC Publisher generate a unique message id (auto increment) for an OPC UA endpoint. As long as the publishing job is active and the message id will increase, independent from the actual values. The only chance to reset the message id is to restart the OPC Publisher. I assume the OPC Simulation will not terminate the connection, once all values are read? It should not stop increa

[2021-08-14 12:12] koepalex commented on #1308
I think the additional command line arguments `--bs=1 --BatchTriggerInterval=00:00:01.000` will do what you expect.

[2021-08-15 09:19] #1315 closed, assigned to monikavar

[2021-08-16 00:24] sinfergit commented on #1308
I assume what you said about OPC publisher getting reconnected after some time again and again is right. I noticed a error occurring in OPC publisher edge module. will attach the logs.
I have updated the `--bs=1` in and now getting one message at a time. But now the order is mixed again. will attach the python client log as well. I tried connecting to the OPC simulation server with UAExpert OPC cl

[2021-08-16 06:46] #1309 closed, assigned to monikavar

[2021-08-16 15:19] koepalex commented on #1308
@sinfergit please add a timestamp (incl. milliseconds) to the log of the python module.

Currently it looks that the python log and the opc publisher log are not for the same timestamps. Also the values change every second, but in the screenshot you have shared the values should only change every 5 seconds.

Could you please restart all and create a fresh recording and then provide the support bun

[2021-08-16 15:21] koepalex commented on #1310
@emulic was the information from marc sufficient or do you need further support?

[2021-08-17 02:43] sinfergit commented on #1308
@koepalex will update with the latest logs

[2021-08-18 15:28] koepalex commented on #1308
Tested with:
* iot-edge-opc-plc
  * 3 OPC UA nodes, that changes value every second
* OPC Publisher 2.8
  * PubSub format
  * batch size 1
* custom python module

All messages are in order:

[code]

[2021-08-18 15:55] sinfergit commented on #1308
@koepalex
[Support bundle for opc and python module.zip](https://github.com/Azure/Industrial-IoT/files/7008500/Support.bundle.for.opc.and.python.module.zip)

Hi i checked again and it seems i get more than 100 values per one second when logged with the time stamp in the python module.
![image](https://user-images.githubusercontent.com/24528193/129931055-99766c62-d8a4-43dd-a48d-aa805a62c903.png)

[2021-08-18 16:13] sinfergit commented on #1308
Is there any possibility i can look into your setup for the OPC publisher module with configuration and python module because i have been stuck with this for days now and still struggling to find the issue here. Anyway i tried OPC server simulator free edition from here [Integration objects OPC server simulator](https://integrationobjects.com/company/news-events/integration-objects-latest-release-

[2021-08-18 16:54] koepalex commented on #1308
Please find the code I used and verified:
[IoTEdgePythonClient.zip](https://github.com/Azure/Industrial-IoT/files/7008835/IoTEdgePythonClient.zip)

* use Visual Studio Code with `Azure IoT Tools` extension
* create local a docker volume named `pytest`
* create a pn.json in volume `pytest`
* call "Build and Run IoT Edge in Simulator" based on `deployment.debug.template.json`

content of pn.json:
[c

[2021-08-18 17:08] sinfergit commented on #1308
Can you please share the OPC publisher module settings and the routing you have used to send messages retrieved from OPC publisher to python module?

[code]

Can you please verify if my routing is ok? seems there is a issue at first route right?

[2021-08-19 00:53] sinfergit commented on #1308
@koepalex Routing was the issue for me. in the first route i have not mentioned the OPC publisher module specifically. After mentioning to route messages from OPC publisher now it seems to work without any issue.
Thanks a lot.

[2021-08-19 06:58] koepalex commented on #1308
I'm happy that your problem was solved and that I was able to support.

To help also others it would be great if you could tag your stack overflow question also with the tag `azure-industrial-iot` and mark my updated comment as answer.

[2021-08-19 06:58] #1308 closed, assigned to koepalex

[2021-08-19 10:29] koepalex commented on #1306
@Haeavar with the PR you submitted is this issue solved and can be closed?

[2021-08-20 13:01] mwiot opened #1328 "Add "issues" from the old publisher repo?"
Hi,

I am missing the issues section in the previous publisher repo: https://github.com/Azure/iot-edge-opc-publisher-v1.
That repo is now "read only".
Will you add the old "issues" here or make them available some other way?

Best regards

[2021-08-20 13:03] mwiot commented on #1328
It seems this has been done already. Couldn't find a previous issue, but it turned up after a bit more searching.

[2021-08-20 13:03] #1328 closed, assigned to nobody

[2021-08-20 15:03] sinfergit commented on #1308
Sure will do

[2021-08-23 10:45] michielvanschaik opened #1330 "Incorrect documentation of supported --mq command line argument for OPC Publisher v2.7 and above"
**Describe the bug**
The current documentation at [reference-command-line-arguments](https://docs.microsoft.com/en-us/azure/industrial-iot/reference-command-line-arguments) states that the --mq (or --monitoreditemqueuecapacity) option is only available for OPC Publisher versions 2.5 and below. However, from v2.7, this option is a supported feature of OPC Publisher.

**To Reproduce**
1. Start OPC P

[2021-08-23 10:58] koepalex commented on #1310
Closed due to inactivity, please reopen if necessary

[2021-08-23 10:58] #1310 closed, assigned to jehona-m

[2021-08-23 11:00] koepalex commented on #1330
Also this page need to be updated: https://github.com/Azure/Industrial-IoT/blob/main/docs/modules/publisher-commandline.md

[2021-08-24 06:20] mregen opened #1333 "System.InvalidOperationException: Subscriber list is modified while subscriptions are removed"
**Describe the bug**
Publisher imposes exception in the Opc.Ua.Client because a list with subscriptions which is passed in an API is modified while the  client API processes it.

**To Reproduce**
Steps to reproduce the behavior:
1. Start publisher, publish
2. Restart a OPC Server from which data is being published
3. Eventually exception is hit

**Expected behavior**
- No Exception, no lists are m

[2021-08-24 06:46] MSasurinen opened #1334 "Subscribing to complex datatypes"
Currently, the OPC publisher IoT edge module is a great tool for simple data like a sensor value here and there. But if you try to subscribe to a complex data type such as a custom struct, the messages coming from the module are a mixture of json and uadb (or plain uadb depending on the cmd-line arguments). An example of such a message, containing two nodes, one bool, and one custom struct:

[code

[2021-08-24 14:19] koepalex commented on #1334
@Mkasakka which version of OPC Publisher are you using? Do you use it standalone (which I expect) or as part of Industrial IoT Platform?

Please try to use `--mm PubSub` and also paste the output

[2021-08-25 05:33] MSasurinen commented on #1334
Hi, yes you are correct I am using the Publisher in standalone mode. The current version is 2.7 and the output in the initial post is now with the message mode "PubSub".

[2021-08-25 09:46] koepalex commented on #1334
I've tested the OPC Publisher in standalone version 2.8.0 with the complexe data type of iot-edge-opc-plc (with --ctb) and the complexe data type is working:

[code]

So it could be that the OPC UA stack (complexe data type) can't decode your custom type. Would it be possible that you provide an public available endpoint of the OPC UA server, that we can connect and check the data type definitions

[2021-08-25 10:41] MSasurinen commented on #1334
Hi, sadly I can not provide access to the server. Maybe these help? The first is the description of the node that I try to subscribe to (the above output is was for a test node, the same problem though). And the second one is the definition of ST_Mess_Latest. If there is a problem with encoding custom data types, how would one address it?
![image](https://user-images.githubusercontent.com/78678451

[2021-08-25 12:02] koepalex commented on #1334
@mregen is this information sufficient or do we require something else?

[2021-08-25 14:39] mregen commented on #1334
Hi @Mkasakka, what you get in the Body of the JSON message is the binary encoding of the structure.
Looks like the complex type decoder cannot specifically handle this Array of structures in a structure of complex type.
Please help by getting me the description of the DataTypeDefinition from the server for the missing type.
As a sample here is the BoilerType we used above:

Find the DataType in Ty

[2021-08-25 15:35] MSasurinen commented on #1334
Hi, sure thing!
Here is the structure of which the array is composed.
![image](https://user-images.githubusercontent.com/78678451/130820676-ce707ef5-b58c-48e7-adf2-dd9476af6480.png)

[2021-08-26 14:27] BjornO95 opened #1341 "How to set queue length for OPC MonitoredItem?"
Hi, From a glance at the opc ua code in the Visual Studio solution, it seems that the queue parameter is provided.
How can this parameter be set using the orchestrated installation of the OPC UA Publisher?
By default the value 1 is used and I would like to have multiple samples being sent to the cloud after each publishing interval.
When currently having set a sampling interval several times lower

[2021-08-27 08:21] koepalex commented on #1341
Hi @BjornO95 it is currently not possible to set the QueueSize in the orchestrated mode of OPC Publisher.

@jehona-m this would be a feature request

[2021-08-27 08:22] koepalex commented on #1306
Thanks for your contribution, I will close the issue for now. Please reopen if necessary

[2021-08-27 08:22] #1306 closed, assigned to nobody

[2021-09-02 07:15] mregen commented on #1334
Hi @Mkasakka , based on the screenshot I cannot root cause the issue. By any chance, could you provide the Nodeset2 or other model files? Is this a custom model or companion spec?
As its a nested data structure its hard to tell for me where the code fails here.

[2021-09-07 11:30] hansgschossmann commented on #1321
@nelsonmorais  although i like the idea you are proposing it is high risk to implement it, since it has certain performance implications due to its non-deterministic result. Imagine you configure "*" at the root of the server or the address space is dynamically changing and many new nodes are added matching the regex.
I would propose you are browsing the address space and build up a list of nodes

[2021-09-07 11:33] hansgschossmann commented on #1320
@nelsonmorais pls check my proposed solution for this scenario in #1321

[2021-09-13 17:50] pratson20 commented on #221
Hi @marcschier , i am also looking for dead-band functionality as well. is that support available now?

Also OPC publisher to support synchronous communication?

Regards,
Prateek

[2021-09-13 17:54] pratson20 opened #1379 "Deadband support"
Hi,
I am looking for two major feature for customer which is not available in IIoT solution-

1. Dead-band
2.  Synchronous communication through OPC Publisher.

Can you please guide if this available or not?

Regards,
Prateek

[2021-09-13 19:56] mgustafson94 opened #1380 "Module Stops working after 630 nodes are added"
**Describe the bug**
As soon as I add ~>630 tags the module stops working. I have checked to make sure are no bad tags. If I add them all in smaller groups, it works, but as soon as I add them all it does not. I have checked the stats of the VM running Azure Edge, and it it is nowhere close to full.

Steps to Reproduce
1. The OPC publisher is running, then I add the additional nodes to the publish

[2021-09-15 08:51] MSasurinen commented on #1334
Sure anything you need! As I understand it is a custom model, can you elaborate on what file you need?

[2021-09-15 11:49] hansgschossmann commented on #1379
@pratson20 thanks for you request. Can you provide a few more specific details on "Synchronous communciation through OPC Publisher"

[2021-09-15 12:00] koepalex commented on #1380
Please retest with latest official version 2.8.0 (LTS), what is using the latest OPC Foundation Stack NuGet.
We currently running OPC Publisher 2.8.0 with 20k tags subscribed.

[2021-09-15 12:31] mgustafson94 commented on #1380
If we pull from "mcr.microsoft.com/iotedge/opc-publisher:latest" will that put 2.8 on? How do I tell on the IoT Edge that it is running 2.8 vs 2.7?

Matt Gustafson
Configuration Analyst - Manufacturing Technology | Bell
Office: +1-817-280-8935
bellflight.com<https://nam02.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.bellflight.com%2F&data=02%7C01%7Cmgustafson%40bellflight.com%7C4050e2730

[2021-09-15 12:34] koepalex commented on #1380
latest tag should point to 2.8.0 if you pulled in the last 2 months

[2021-09-15 13:05] hulseware opened #1382 "All endpoints are showing Disconnected via the Engineering tool"
When I run the engineering tool and look at the Browse tab, I see my Endpoints, but they all show Disconnected. If I browse the Twin, Gateway and Publisher they are all showing connected.

Can anyone suggest something to look at to determine why the endpoints show disconnected?

[2021-09-15 21:06] hulseware commented on #1382
Further update: I had to re-discover the opc.tcp uris to wake them up. They are now operating as expected. Was that because of the symmetric keys expiring? I did have to trust a number of apparently new certificates.

But if that is the case, why did the devices go to Disconnected status rather than NoTrust?

[2021-09-15 21:06] #1382 closed, assigned to nobody

[2021-09-16 08:48] dacolgit commented on #1380
Have you tried to test with publisher 2.8.0?
If you still have the issue could you send the following data:
- configuration of Kepware server (you can export the device configuration of the server as csv file)
- publishednodes.json file
- container create option for the publisher

[2021-09-16 12:12] mgustafson94 commented on #1380
I have not yet. Because it is a production box, I have to wait until I get all the proper approvals. That should be done early next week. I will let you know then.

Matt Gustafson
Configuration Analyst - Manufacturing Technology | Bell
Office: +1-817-280-8935
bellflight.com<https://nam02.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.bellflight.com%2F&data=02%7C01%7Cmgustafson%40bellflight

[2021-09-21 05:13] mregen commented on #1334
Hi @Mkasakka , there might be files with extension *.nodeset2.xml in your plc project. Some are used for companion specs and are included by others, very likely there are some files which describe e.g. `ST_MESSAGE_INFO`.

[2021-09-22 10:11] MSasurinen commented on #1334
Hi, sorry to say this but I do not find any files with that suffix. Could it have something to do with the fact that I am using the Opc ua server from Beckhoff?

[2021-09-22 12:15] pratson20 commented on #1379
@hansgschossmann  Need to read bulk of OPC UA tags data at every minute. There is one option to read asynchronously that   OPC Publisher supports .
e.g I need to read 1000 tags data every one minute.

[2021-09-22 12:16] pratson20 commented on #1379
Can you please if can be achieve dead-band filter in Azure OPC, Absolute and percentage dead-band?

[2021-09-22 14:55] TechPreacher opened #1384 "OpcTwin module doesn't stop trying to connect to an invalid OpcUa server when asked to browse."
**Is your feature request related to a problem? Please describe.**

When sending a "Browse_V2" direct method request to an OpcTwin edge module containing an invalid Opc Ua server address, it will retry connecting after a 5 second timeout until the edge module is restarted. This is not a big problem but if the logs from OpcTwin are collected, this will cause a lot of redundant data.

Tested version

[2021-09-23 10:25] nelsonmorais commented on #1321
Hi @hansgschossmann,
Sorry for the late response.

I see and understand the problem, but I still think this kind of option could be of interest to have it directly implemented on the OPCPublisher instead of us having to implement this on our own.

To overcome some the performance implication, an option would be to have for regex an extra set of parameters for:
- the interval that the regex express

[2021-09-23 15:45] nelsonmorais commented on #1320
Hi @marcschier,

Sorry for the late response.
Clear that only Node Classes with a Value attribute are supported. Any plans to support Node Classes of Type Object?
Regarding the Events and the branch feature/alarmsandevents any ETA for this to be released? Is there any documentation available regarding this feature?

@hansgschossmann Thanks, I replied to you comment on that thread.

[2021-09-24 14:50] alevincenzi opened #1385 "Missing EndpointUrl in telemetry format"
**Describe the bug**

With opcuaPublsher:2.8.0, the telemetry output (json) does not match [the online documentation](https://docs.microsoft.com/en-us/azure/industrial-iot/reference-opc-publisher-telemetry-format).

Moreover, changes in the command line option `--mm` has no effect on the telemetry messages.

**To Reproduce**

* Run a plc simulator with `docker run --rm -it -p 50000:50000 -p 8086:8

[2021-09-24 16:48] marcschier commented on #1384
Thanks @TechPreacher, you are correct, the retry is expected, and the retries should stop after some time, but that time is not configurable. Also we had feedback about the logging strategy before, including allowing configuration of trace level for area, etc. and we believe that makes sense.  I am tagging it as feature request and happy to take contributions here.

[2021-09-27 17:04] cristipogacean commented on #1385
Hi @alevincenzi, thank you for bringing up these topics.

Firstly, our documentation is a bit misleading, I would highly recommend you take the guthub documentation as reference and not the docs.microsoft.com. Particularly for the telemetry format, please have a look here: https://github.com/Azure/Industrial-IoT/blob/main/docs/dev-guides/telemetry-messages-format.md. The default --mm is "Samples".

[2021-09-28 10:10] lucarv opened #1387 "Discovery Service not working with Nested Edge"
I have a nested edge setup where the child edge is able to scan a network and find all OPC UA servers. I can see that the scanning works correctly and telemetry is sent to IoT Hub. However, no assets are registered and therefore I can't activate and subsequently browse the Assets.
If I have a non-nested edge concurrently installed in the same network, the discovery process is able to register asse

[2021-09-28 15:42] alevincenzi commented on #1385
Hello @cristipogacean

thank you for the reply and for pointing out the good documentation. Yes, we gave it a second try.

With the option (extracted from the deployment manifest)

[code]

we get messages like these

[code]

and we deduce that the defaults are "Samples" messages without the "full featured payload". They are both the default behaviour.

With the options

[code]

we see

[code]

whi

[2021-09-29 08:13] hansgschossmann commented on #1387
@lucarv Thank you for reporting this issue.  We do not yet support Nested Edge deployments in Industrial-IoT platform and will fix this bug when we are going to support it.

[2021-09-29 12:19] cristipogacean commented on #1385
Hello @alevincenzi,

Indeed I can replicate the issue with --fullfeaturedmessage=true. This seem to be a bug related to string lowercase comparison of the arguments name since the --FullFeaturedMessage=true works fine. As you said, the same issue might be the issue with other arguments you have been using.

We will fix this long-names issue as well as the default mismatch in the documentation of t

[2021-09-29 14:00] hansgschossmann opened #1388 "test"
pls ignore

[2021-09-29 14:00] #1388 closed, assigned to nobody

[2021-09-29 18:18] emulic opened #1389 "TLS certificate broken after upgrading of the AKS cluster"
**Describe the bug**
After upgrading of the Kubernetes version the AKS cluster and nodes are running on to 1.19.13, the TLS certificate for the domain of the IIoT microservices (including the Engineering Tool UI) is broken. The Kubernetes Ingress Controller Fake Certificate seems to be used by Ingress Nginx controller:
![image](https://user-images.githubusercontent.com/19528729/135321747-2b8466e3-

[2021-09-30 10:16] suneetnangia opened #1398 "Add StyleCop to improve PR request experience and styling consistency"
**Is your feature request related to a problem? Please describe.**
Currently, we do not have a way to allow styling rules to stay with the code, this results in OSS devs ending up with PRs having trailing whitespaces or files without blank lines at the end. Getting those right first time on the local machine will help reducing the unwanted round trips and improve overall dev experience/enforcement

[2021-10-01 13:39] alevincenzi commented on #1385
Hello!

thank you for he update.

We'll be waiting for the next release. As for today, we are gong to use the command line options in short format.

Regarding the other open points about the payload,

The missing MonitoredItem is not a problem. I reported it just to list the differences with the documentation.

The expansion of the NodeId can be problematic for us. We use the DisplayName whenever

[2021-10-01 15:24] karok2m commented on #1398
@suneetnangia, for the further development we wanted to use a ruleset defined in `.editorconfig` and the StyleCop rules from `stylecop.json` file to have the best possible support to follow the conventions by the IDE. So I was thinking that maybe we should have a a solution-wide `stylecop.json` file. Though, from what I understand, having a solution-wide `stylecop.json` file would actually mean th

[2021-10-04 12:13] jehona-m commented on #1380
Closed due to inactivity. If the issue reoccurs after trying version 2.8.0, please reopen it.

[2021-10-04 12:13] #1380 closed, assigned to dacolgit

[2021-10-05 15:28] karok2m commented on #1389
@emulic, the approach that you used for the upgrade of the cluster is totally correct. We are using the same mechanism when upgrading our internal clusters and so far that worked without a problem. So that should not be the culprit.

By IIoT Deployment Tool you are referring to [Microsoft.Azure.IIoT.Deployment](https://github.com/Azure/Industrial-IoT/blob/main/docs/deploy/howto-deploy-aks.md), rig

[2021-10-05 17:11] emulic commented on #1389
Thanks for explanation @karok2m.

In the meantime, we were able to get our DEV environment working again, by creating a new Cluster on top of the existing services by following this [instructions](https://github.com/Azure/Industrial-IoT/blob/main/docs/deploy/howto-add-aks-to-ps1.md). The old AKS cluster is still there, but it is stopped (at least when the new one is running).

Yes, we used Microso

[2021-10-05 17:28] emulic commented on #1389
Addendum:
To get the logs you asked for, I stopped the new cluster and started the old one again. After putting all information to my previous post, I wanted to revert back to the new, working one, so I stopped the old cluster and started again the new one.
Now we have the same "Your connection isn't private" issue in the new cluster too. It looks like the issue occurs after restarting the cluster

[2021-10-06 08:10] emulic commented on #1389
I can see the same error in the new clusters cert-manager-cainjector:
[code]
I tried to delete tls-secret but in contrast to the behavior you described, it was not recreated in our cluster.

In the logs of cert-manager and cert-manager-webhook I can also see the following warning:
[code]

But since you have those warnings too in your logs, I suppose, this is normal.

[2021-10-06 08:56] cristipogacean commented on #1387
Closing since we cannot replicate the issue. The reason for this issue seem to be the upstream connectivity in the nested edge infrastructure.  Please reopen if necessary.

[2021-10-06 08:56] #1387 closed, assigned to cristipogacean

[2021-10-06 16:02] karok2m commented on #1389
@emulic, can you please use a namespaces version of `kubectl get certificate` command ? Here is the output of that and the `describe` commands for me.

[code]

From what I understand from the `describe` command, custom resource of `Certificate` kind references the secret that then contains the actual details of the issued certificate. So it is possible that you do not see a resource of `certificat

[2021-10-12 00:08] kyichii opened #1425 "[CSS] OPCPublisher marketplace module: Error 500 Executing command for operation ["create"] failed."
As requested by the IIoT PM for the OPCPublisher Module, I am creating this issue on behalf of a customer that is encountering the following error with the Market Place OPC Publisher module.

Currently, the customer cannot get the module to be started. After some initial troubleshooting where we resolved a DNS configuration issue we end up with the following error in the logs.

[code]

Please see

[2021-10-12 18:43] daelsala commented on #1425
@cristipogacean any updates on this?

[2021-10-12 22:18] cristipogacean commented on #1425
@kyichii, the exception generated by the edgelet is rather generic and is not providing a clear root for this failure :
`Error calling Create module OPCPublisher: Could not create module OPCPublisher caused by: Could not get module OPCPublisher`

One possible cause of the opc publisher module start failure is that the "binds" in the "Container Create Options" setting fails either due to lack of ac

[2021-10-14 01:24] kyichii commented on #1425
@cristipogacean Thank you for the follow-up. I have asked the customer to make the changes that you requested and it appears that we are still receiving the same `Error calling Create module OPCPublisher: Could not create module OPCPublisher caused by: Could not get module OPCPublisher` error.

I can see that in the logs, it appears to successfully pull the image, but it cannot connect to it.

I h

[2021-10-14 09:34] logg-sar opened #1426 "Download latest release via script"
**Feature request**
I have to install Industrial-IOT on a small devices without git.
So I´m downloading the latest release unzip it and call the deploy-script

**Describe the solution you'd like**
According to https://docs.github.com/en/repositories/releasing-projects-on-github/linking-to-releases the latest release should be available via https://github.com/USER/PROJECT/releases/latest/download/p

[2021-10-15 05:16] kyichii commented on #1425
@cristipogacean Any additional insight into this matter?

[2021-10-15 09:41] marcschier commented on #1426
Hi @logg-sar, we release security fixes for older releases the same way as we release them for newer, so the history in the "releases" tab is not necessarily in order, and we also release helm charts, etc.  Therefore, today the last release is a patch release of OPC Publisher 2.5.5, it might be a helm chart update tomorrow.  I am not aware of a way to change this on GitHub.

Unfortunately, we also

[2021-10-15 09:41] #1426 closed, assigned to nobody

[2021-10-15 13:08] ahe27 opened #1428 "Communicate with OPC Twin Module"
We have some issues integrating the OPC Twin Module (not available in Marketplace) on our Edge-Device in the Azure IOT-Hub.
We installed the OPC Twin with the following settings onto our Edge-Device in out network:
<img width="172" alt="1" src="https://user-images.githubusercontent.com/92585483/137490873-277a6eb4-b7a9-492b-ae00-58c0c6c3fb49.png">
<img width="215" alt="2" src="https://user-images.g

[2021-10-15 20:07] cristipogacean commented on #1425
Hi @kyichii,

I retested the same scenario in our environment and cannot replicate this issue. The configuration of the OPC publisher seem to be fine and normally it should work without issues. As I mentioned previously the exceptions logged in the traces of edgeAgent respectively iotedge daemon are rather generic and do not provide a clear information on the cause.

Doing further investigations i

[2021-10-18 08:23] karok2m commented on #1389
@emulic, were you able to fix the issue with `cert-manager` ?

[2021-10-18 10:27] emulic commented on #1389
Hi @karok2m.
not yet. We just were able to get everything working again by cleaning the whole cluster and setup it again by executing most of the steps described in this [instructions](https://github.com/Azure/Industrial-IoT/blob/main/docs/deploy/howto-add-aks-to-ps1.md). I'm trying to find some time slot to try out your recommendations, to avoid disturbing somebody else using the environment.
Ple

[2021-10-18 13:53] emulic commented on #1389
Hi @karok2m.

Just like by the first stop/start, the TLS certificate issue happened again after restarting the cluster.
Please find below requested outputs from our new cluster after cluster restart:

[code]

[code]

[code]

There is still no certificate or certificaterequest after deleting cert-manager pods, neither in aiiot nor in cert-manager namespace.
And here is cert-manager eventlog after d

[2021-10-18 16:26] emulic commented on #1389
@karok2m
We are able to solve the TLS certificate issue by uninstalling the IIoT deployment from aiiot namespace and installing it again:
[code]

Here is the content of the aiiot.yaml:
[code]

After that the TLS certificate issue is fixed but Engineering Tool is not working (500 Internal Server error).
Here is log of the aiiot-engineering-tool pod:
[code]
This issue can be solved by passing the co

[2021-10-19 02:44] kyichii commented on #1425
Thank you for the assistance, we were able to resolve the issue by updating the container to 1.1.7, it appears to have been related to that bugfix.

[2021-10-19 02:44] #1425 closed, assigned to cristipogacean

[2021-10-19 07:43] marcschier commented on #1428
Hi @ahe27, to communicate with the OPC Twin you need to deploy the cloud services (incl. OPC Twin services), which then expose the REST API's allowing you to communicate with the devices behind the edge gateway (running OPC Twin module). This is documented here: https://github.com/Azure/Industrial-IoT/blob/main/docs/deploy/readme.md. The engineering tool provides a good sample application that is

[2021-10-19 11:27] hansgschossmann commented on #1428
Since OPC Twin is not a standalone offering it is not recommended that customers are using it standalone. It is integrated part of the Industrial-IoT Platform. If you do not want to deploy the full platform, you need to wait till we offer a standalone “OPC Twin like” interface at the edge or do it at your own risk since this is not a supported scenario.

Closing this issue for now. Please reactiva

[2021-10-21 07:40] mwiot opened #1434 "Discovery module not reporting results back to Azure. Scan results empty in engineering tool"
Hi,
This issue seems to be the same as reported in a closed case #395. [](https://github.com/Azure/Industrial-IoT/issues/395) that was closed without solution.

I am running 2.8.0 (all in one services, engineering tool and modules are the same version) and still experiencing the problem described in this post. How can I go about troubleshooting this?

The discovery is running a scan, UA server is

[2021-10-21 07:52] cristipogacean commented on #1434
Hi, Can you give us some details regarding your edge host environment? like host's OS, docker engine in use? It seems in this case the upstream telemetry from the discovery is not reaching the IoT Hub and we need to identify the reason.

[2021-10-21 08:08] mwiot commented on #1434
Hi, we are running:

OS: Ubuntu 20.04.3 LTS
Docker engine: moby-engine/bionic,now 20.10.9+azure-1 amd64

I agree that it seems like the upstream telemetry is not reaching the iot hub.

[2021-10-21 08:58] mwiot commented on #1434
Solved it. The fallback route was for some reason disabled. Enabling this flag in the IoTHub -> Message Routing-> Enable fallback route.

Sceenshot of fallback route enabled:

![image](https://user-images.githubusercontent.com/82022527/138245070-342ce667-2049-4624-9793-70b402983d4f.png)

Engineering tool scan reporting results:
![image](https://user-images.githubusercontent.com/82022527/138245532-

[2021-10-21 09:21] cristipogacean commented on #1434
thank you very much for the feedback!
closing this for now.

[2021-10-21 09:21] #1434 closed, assigned to nobody

[2021-10-21 14:05] mwiot opened #1437 "Orchestrated Publisher: Container create option "--mm=PubSub" not working."
Hi,
I am having trouble getting the container create options to work properly for the publisher module when using the cloud orchestrated solution. Specifically I am trying to get the option "--mm=PubSub" to work, but I am not sure that any of the container create options are being used when using the orchestrated publisher.

- How can I get PubSub format when using the orchestrated publisher? Is i

[2021-10-21 17:11] JCrezelius opened #1438 "Update opcpublisher configuration without reconnect"
**Is your feature request related to a problem? Please describe.**
When updating the configuration of opcpublisher using either the configuration file or direct method opcpublisher is reconnecting all configured OPC nodes, even if only a subset of the configured nodes was changed.
This reconnect can cause unintended data loss of all OPC nodes, due to restart / reconnection time.

**Describe the so

[2021-10-21 17:37] vslepakov commented on #1438
@karok2m @marcschier

[2021-10-26 07:28] mwiot commented on #1437
Hi again,
any news on this? Have I ran into a bug, or am I configuring pubsub the wrong way?
Should be easy to reproduce the two cases with the [OpcPlc UA simulator](https://github.com/Azure-Samples/iot-edge-opc-plc)

Best regards

[2021-10-26 07:45] cristipogacean commented on #1437
Hi,
Unfortunately the -mm argument is only valid for publisher running in standalone mode. For orchestrated publisher the message mode is delivered within the job definition and is defaulted to Samples and there is no public API to change it. The only way to set message mode to PubSub is by manually changing the job definition in the cosmos DB  storage.

We would highly appreciate if you could sha

[2021-10-27 08:12] mwiot commented on #1437
Hi again,
thanks for the reply.
I have tried to do this in cosmosDB without luck. Have you tried to test your own suggestion to make sure that is works?

Steps (in cosmosdb)
- set throughput to 1000 RU/s (in order to run update)
- manually set messagemode to "PubSub" ( see screenshots)

When I switch to "messagingMode": "PubSub", the telemetry stops running.
When I switch back to "messagingMode":

[2021-10-27 14:03] cristipogacean commented on #1437
Hi @mwiot,

It looks like you have just run in a regression. I can confirm that everything you did is correct and I can also replicate the issue. This bug will be fixed soon.

Thank you for your support!

[2021-10-29 09:54] VidarAndersstuen commented on #1437
Hi @cristipogacean ,

I thought I would share some background info on our use-case ...

We have a long history of being a supplier of turn-key solutions for Automation Control Systems with SCADA for operational services running on-prem inside the client's facilities.

We are mainly operating in the industries of Critical infrastructure for public sector and Smart Buildings
- Water and wastewater p

[2021-10-30 08:02] derSchtefan opened #1445 "Feedback / Message / Metric on OPC Server down or wrong credentials provided in OPC Publisher 2.8+"
**Is your feature request related to a problem? Please describe.**
It is currently not possible to determine whether OPC Publisher was able to connect to a server, lost the connection, received bad credentials, etc. Since we are deploying and updateing the full IoT solution from the cloud, soon to thousans of devices with 1-20 OPC servers each, we have no way of manually checking each username/pas

[2021-11-01 09:00] MarekLani opened #1446 "Error setting modules when deploying Microsoft OPC Publisher - Standalone Mode"
**Describe the bug**
I am trying to deploy OPC Publisher module from marketplace, while creating new edge device in the process and once I hit the step, where iot edge device modules settings should be prefilled I am getting following error:
Unable to initialize form due to unexpected error. You can proceed with new deployment settings or close the form.

**To Reproduce**
Steps to reproduce the be

[2021-11-02 10:00] mwiot commented on #1437
Hi again,

approx when can we expect the new container version being available in MCR, with the bug fix?

[https://mcr.microsoft.com/v2/iot/industrial-iot-services-all/tags/list](https://mcr.microsoft.com/v2/iot/industrial-iot-services-all/tags/list)

Best regards

[2021-11-02 10:41] cristipogacean commented on #1437
Hi @mwiot,

We are in the final phase of releasing 2.8.1 version. We aim to have it available latest end of this week.

Kind regards

[2021-11-02 11:16] cristipogacean commented on #1437
Hi @teknokrat1,

Thank you very much for your feedback. This aligns very well with our strategy and plans. In the next iteration, we will be working on extending the configuration plane for the Publisher module that will cover PubSub message mode as well.

Kind regards,
Cristian

[2021-11-02 11:40] cristipogacean commented on #1445
@derSchtefan, thank you very much for your feedback. You're right, this is a known gap in the functionality of the publisher that we will address in the next releases.

[2021-11-02 11:59] cristipogacean commented on #1446
@MarekLani, I just unsuccessfully tried to replicate your issue. In my IoT Hub (deployed in West Europe) adding a new iotEdge device and attaching the opc publisher module in Azure Portal work just fine.

Can you check the health state of your IoT Hub (e.g. quotas not exceeded, if the user has sufficient access rights, etc).

If this does not help, please provide us more details to be able to repl

[2021-11-05 10:05] felixmondelo opened #1457 "Debugging IoT Edge module on Visual Studio 2019"
**Describe the bug**
I'm trying to debug Microsoft.Azure.IIoT.Modules.OpcUa.Publisher module on Visual Studio 2019 and it works well, but I'm not able to add CMD parameters to the module.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the module to the deployment.debug.template.json with this configuration:
"Microsoft.Azure.IIoT.Modules.OpcUa.Publisher": {
            "version": "1.0.0"

[2021-11-05 11:20] Mikael159 opened #1458 "China deploy.cmd minimum"
Hello,

I would like to deploy Azure industrial IoT on Azure China but it didn't work.

.\deploy.cmd -type minimum -version 2.7.206 -resourceGroupName myresourcegroup -subscriptionId "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" -aadApplicationName "Azure Industrial IoT Platform" -resourceGroupLocation chinaeast2 -localisation e2ch -environmentName AzureChinaCloud
Az installed.
AzureAD installed.
Using '

[2021-11-05 15:10] marcschier commented on #1458
Only Azure Global cloud is currently supported.  I have tagged this as a feature request.

[2021-11-05 15:11] #1446 closed, assigned to nobody

[2021-11-05 15:38] Mikael159 commented on #1458
Hello,
Thank you for your answer.
Is there a workaround?
best regards

[2021-11-06 08:50] marcschier commented on #1458
You should be able to make the changes to select a different cloud and related endpoints in the PowerShell scripts and templates in the deploy folder.  We have no detailed instructions what changes those are though.

[2021-11-08 09:45] Mikael159 commented on #1458
Hello,
I have already modified it.
AzureCloud by AzureChinaCloud
on these files :
- deploy/scripts/deploy.ps1
- deploy/scripts/aad-register.ps1
What else do I need to do ?
Thanks

[2021-11-09 12:15] hansgschossmann commented on #1458
@Mikael159  you need to address the issues one by one. Do you still see the same issue as in your first post?

[2021-11-09 12:35] marcschier commented on #1458
Hi @Mikael159, the service endpoints for all Azure services in China cloud are different than in Global cloud, they need to be provided to the templates, and ultimately services.  Note that only Global cloud is tested, and thus supported at this point (i.e. what can be deployed with the deployment scripts provided).  We have tagged this as feature request and will evaluate it for inclusion into a

[2021-11-09 14:53] cristipogacean commented on #1457
@felixmondelo, can you detail a bit the steps you do to start the publisher module that you want to debug?

If you're using the deployment manifest and the module is started in IoT Edge context (as a docker container), you will need to attach with VS debugger after gets started. For debugging purposes there is a command line argument available in the debug build only  called `wfd` (or `waitfordebu

[2021-11-10 10:02] Mikael159 commented on #1458
Hello,

I have changed all "https://graph.microsoft.com" by "https://microsoftgraph.chinacloudapi.cn"

The deployement start but crash at keyvault creation :
Starting deployment...
10:49:11 - The deployment 'azuredeploy' failed with error(s). Showing 2 out of 2 error(s).
Status Message: Premium vaults are not supported in this region. (Code:SkuNotSupported)

Status Message: The resource operation

[2021-11-10 11:54] felixmondelo commented on #1457
Thanks, @cristipogacean!

I run the IoT Edge project from Visual Studio 2019, that launches the modules in the deployment manifest.

I can debug the modules, but my problem is that I can't pass in the createOptions any CMD argument because the module doesn't get them, but all the other fields are got (for example ExposedPorts or HostConfig).

[2021-11-11 12:17] cristipogacean commented on #1457
@felixmondelo, would you be so kind and detail a bit for me this statement:
 "I run the IoT Edge project from Visual Studio 2019, that launches the modules in the deployment manifest."
and add some steps to reproduce.

[2021-11-11 14:46] felixmondelo commented on #1457
Hi @cristipogacean,

I explain step by step.

1) I check out Industrial-IoT project and open Industrial-IoT.sln
2) I added to the solution an Azure IoT Edge project, wherein the deployment.debug.template.json file I added the configuration that is at the beginning of this thread.
3) I click right mouse button on my Azure IoT Edge project -> Setup IoT Edge Simulator and insert the connection device

[2021-11-12 08:53] b-enigma-con opened #1465 "OPC publisher & Azure Cosmos DB RU consumption"
L.S.,

We've deployed the IIoT stack in Azure, using the microservices setup (see https://azure.github.io/Industrial-IoT/services/). We currently have one IoT Edge device running the following modules (amongst others): OPC twin and OPC publisher. To start with, we configured an initial limit of 400 RU’s for the “iiot_opc” container in the Azure Cosmos DB account.

After adding approx. 3500 - 4000

[2021-11-16 23:19] cristipogacean opened #1469 "pn.json schema validation backwards compatibility issues"
@WilliamBerryiii, @suneetnangia, @karok2m, setting up an issue to continue the conversation within the PR https://github.com/Azure/Industrial-IoT/pull/1464.

@WilliamBerryiii, we would really appreciate your help as a PR here. Your plan looks perfect to tackle this topic. I totally agree that mixing (Node)Id and ExpandedNodeId usage in the same configuration is a bit odd, especially since the Id i

[2021-11-17 00:22] WilliamBerryiii commented on #1469
@cristipogacean - sounds good!

We will draft a PR with the following supports:

- [ ] Update the Schema Generator tool to produce a schema that only performs type validation on `ID` and `ExpandedNodeId` fields, removing value validation.
- [ ] Update the Schema Generator tool to produce a schema that allows both `ID` and `ExpandedNodeId` to be present in an `OpcNodes` array item.
- [ ] Update the

[2021-11-17 04:15] WilliamBerryiii commented on #1469
@cristipogacean as I'm looking at the following sample and finding myself confused as to how OpcNodes with both `ID` and `ExpandedNodeId` defined are supposed to behave.

[code]

I can reconcile that these two values "could" be present on the same item; but it seems like this should at minimum yield a warning, where users are told which identifier OPC Publisher will actually use to access a given

[2021-11-17 11:32] chmagitt commented on #1458
Hello

We are stuck in the deployment of I-IoT in e2ch region
the deployment creates the following services : Cosmos, EH, IoT hub, Managed Identity, Route Table, Storage Account, Service Bus
then it breaks when it comes to Keyvault

<img width="606" alt="Screenshot 2021-11-17 at 12 31 53" src="https://user-images.githubusercontent.com/26851738/142192888-0b71c123-5774-4664-b07a-6f97c0454342.png">

[2021-11-17 15:09] chmagitt commented on #1458
Hello

back to Azure portal we've notice this in the failed deployment logs

{
  "id": "/subscriptions/85dxxxxxxxxxxxxb3d/resourceGroups/gsebdsppdaiie2chrsg00/providers/Microsoft.Resources/deployments/infrastructure.minimum",
  "name": "infrastructure.minimum",
  "type": "Microsoft.Resources/deployments",
  "properties": {
    "templateLink": {
      "uri": "https://raw.githubusercontent.com/Azure

[2021-11-17 19:04] emulic commented on #1389
@karok2m any ideas?

[2021-11-18 16:13] felixmondelo opened #1470 "OPC Publisher and REST API alone deployment"
**Describe the bug**

We want to deploy only the OPC Publisher edge module and the Publisher REST API, but we don't know how to deploy it alone without deploying all the infrastructure.

How to deploy and configure the edge module and the API Rest to connect each other.

Any documentation for deploying individual parts and configuring?

There is documentation about using the OPC Publisher module i

[2021-11-18 16:28] cristipogacean commented on #1470
OPC Publisher module in orchestrated mode requires the cloud based IIoT services infrastructure. It is dependent on the discovery and opc twin edge modules modules. You can find detailed documentation on the services and resources required in the [operations manual](https://github.com/Azure/Industrial-IoT/blob/main/docs/manual/readme.md)

[2021-11-18 16:56] cristipogacean commented on #1469
@WilliamBerryiii, right, in the actual implementation, when `Id` is present the `ExpandedNodeId` is simply ignored. When `Id` is not present the `ExpandedNodeId` is interpreted as if it was `Id` and processed accordingly.
I like the idea of issuing a warning when `ExpandedNodeId`s are found. Perhaps a "ExpandedNodeId is a legacy attribute (use Id instead)" like warning?

[2021-11-18 17:23] cristipogacean commented on #1465
@b-enigma-con, thank you for bringing this up.

A workaround for this issue is documented in the [Operations Manual ](https://github.com/Azure/Industrial-IoT/blob/main/docs/manual/readme.md)

...

[2021-11-19 10:34] ahe27 opened #1473 "Authenticate to OPC UA Server with username and password"
I can discover my OPC Server using the Engineering Tool.
While browsing the adress space of the endpoint I am not able to discover the nodes of my iot device. I guess this is since the device is secured with username and password. As far as i know i cannot authenticate to the UA Server with credentials using the Engineering Tool.

Is there an other way to subscribe to the values of those nodes?

[2021-11-22 15:25] felixmondelo opened #1476 "PublishedNodesFile encoding"
**Describe the bug**
Our clients have the OPC signals with symbols or accents like:

 "OpcNodes": [
      {
        "Id": "ns=2;s=_AdvancedTags.PLC.Producción.PLC1",
        "OpcSamplingInterval": 1000,
        "OpcPublishingInterval": 1000,
        "HeartbeatInterval": 3000,
        "SkipFirst": false
      },
      {
        "Id": "ns=2;s=_AdvancedTags.PLC.Temperature (ºC)",
        "OpcSampling

[2021-11-22 16:08] felixmondelo commented on #1476
Seems that is the publishednodes schema file and not the encoding ...

[2021-11-22 16:36] cristipogacean commented on #1476
@felixmondelo, indeed the issue seem to be caused by the schema validation. Which version of the publisher do you use? If possible please use the most recent release - 2.8.1 (where the schema validation is not enabled) or update your main branch. The schema validation was temporarily disabled in main branch with the PR: https://github.com/Azure/Industrial-IoT/pull/1464.

[2021-11-23 11:39] felixmondelo commented on #1476
I have the version 2.8.1-rc.43+d172d55062, the problem solves when add the parameter pfs to empty.

[2021-11-23 11:53] felixmondelo opened #1477 "OPC Publisher > Is mandatory encription when UseSecurity OpcAuthenticationMode=UsernamePassword"
**Describe the bug**
If we want use UseSecurity = true and OpcAuthenticationMode = UsernamePassword, the module tries to connect with encryption (SecurityMode.Best).

In Industrial-IoT\components\opc-ua\src\Microsoft.Azure.IIoT.OpcUa.Edge.Publisher\src\Storage\PublishedNodesJobConverter.cs, at ToWriterGroupJobs sets this condition:

SecurityMode = item.UseSecurity == false && item.OpcAuthenticatio

[2021-11-23 11:54] #1470 closed, assigned to cristipogacean

[2021-11-23 12:10] hansgschossmann commented on #1465
@b-enigma-con has this workaround fixed your problem?

[2021-11-23 12:17] hansgschossmann commented on #1473
@ahe27 can you clarify your issue description. you are stating that your are browsing the address space of the endpoint. i assume that you have been able to connect to the endpoint successfully. connecting to the endpoint is typically where you provide your username/password. if you can connect and browse, then you will see the nodes which the system administrator of the OPC UA server has configur

[2021-11-23 12:23] hansgschossmann commented on #1477
@felixmondelo which SecurityMode do you want to select instead of Best. The architecture of the Industrial-IoT platform is to use the highest possible security which is supported by client (OPC Publisher) and server (OPC UA server).

[2021-11-23 12:26] felixmondelo commented on #1477
@hansgschossmann I know that is the best option, but we have customers that use UsernamePassword without encryption because the connection is behind a VPN. I need that this can be configurable.

[2021-11-23 12:55] cristipogacean commented on #1457
@felixmondelo, this seem to be an issue of the IoT edge simulator not transferring properly the arguments to the module. Unfortunately we don't use this tool in our dev processes therefore no real experience with it, so we cannot really help you further. You may want to open an issue on their repo.

Please reopen if you need support on the alternative debugging options I mentioned above.

[2021-11-23 12:55] #1457 closed, assigned to cristipogacean

[2021-11-24 13:35] ahe27 commented on #1473
My issue has been resolved.

I can explore my Server even when I am not authenticated but several nodes are hidden this way.
I overlooked the "Asset Login" section. After entering the credentials of the server in this section I can see the corresponding nodes.
At first it was not clear, that those credentials are stored for the session and used for all following server requests.

[2021-11-24 13:35] #1473 closed, assigned to nobody

[2021-11-26 08:43] felixmondelo opened #1481 "OPC Twin > Only one OPC UA Server"
**Describe the bug**
Hi, I've got only one OPC Server UA and one IoT Edge device configured with OPC Publisher. I want to use OPC Twin module, but there is missing documentation in https://github.com/Azure/Industrial-IoT/blob/main/docs/architecture-flow.md.

How is the simple way to configure this scenario? How are the steps to best configure this scenario?

[2021-11-29 04:14] ChenCheng368 opened #1482 "Azure Industrial IoT Gateway Installer"
**Describe the bug**
The issue observed: The installer execution will cause the azure edge VM network failure, and to fix it I will need to manually clean up the Ubuntu changelog file via $sudo truncate -s 0 /var/lib/ubuntu-release-upgrader/release-upgrade-available, and the modules will be deployed.

However the deployed edge runtime version is v1.1, not the latest v1.2. and the installer is usin

[2021-11-29 11:40] felixmondelo opened #1483 "OPC-Twin-Service v2 Swagger's "Try it out" it's working?"
**Describe the bug**
I want to test the OPC Twin Service v2 through "Try it out" utility from Swagger (http://localhost:9041/swagger/index.html for example).

When I call any of the OPC Twin Service v2 I always get the same exception:

`"ResponsePayload": "{\"ClassName\":\"System.ArgumentNullException\",\"Message\":\"Value cannot be null.\",\"Data\":null,\"InnerException\":null,\"HelpURL\":null,\"

[2021-12-02 14:40] hansgschossmann commented on #1477
@felixmondelo thanks for your answer. i will follow up with the dev team on this. do you want to propose a PR?

[2021-12-02 14:46] hansgschossmann commented on #1481
@felixmondelo I assume you have the cloud microservices deployed, since using the modules standalone is only supported for OPC Publisher, but not for OPC Twin.
You may also want  to check the operations manual for some details: https://azure.github.io/Industrial-IoT/manual/

[2021-12-02 14:52] hansgschossmann commented on #1482
I am sorry to inform you that the Azure Industrial IoT Gateway Installer is no longer supported by our team. We recommend instead using the [documentation](https://github.com/Azure/Industrial-IoT/blob/main/docs/deploy/howto-install-iot-edge.md) in this github repo.

[2021-12-02 14:52] #1482 closed, assigned to nobody

[2021-12-02 14:56] hansgschossmann commented on #1483
@felixmondelo have you validated that the Engineering Tool is able to access and browse your OPC UA server?

[2021-12-02 15:00] felixmondelo commented on #1483
Hi @hansgschossmann, I can access directly through OPC Twin's Direct Methods, for example:

[code]
And receive the response from OPC:

[code]

[2021-12-02 16:01] felixmondelo commented on #1481
@hansgschossmann then I need to "Discovery and Activation" the only OPC UA Server the first time, even I know where is and then, use this registration with OPC Twin. Isn't it?

[2021-12-02 16:05] felixmondelo commented on #1477
I think that the modification is on Industrial-IoT\components\opc-ua\src\Microsoft.Azure.IIoT.OpcUa.Edge.Publisher\src\Storage\PublishedNodesJobConverter.cs class on the method ToWriterGroupJobs:

[code]

Maybe here instead of "SecurityMode.None : SecurityMode.Best" should be a configuration parameter.

[2021-12-03 11:33] cristipogacean commented on #1481
@felixmondelo, indeed, before making any browse/read/write, etc operations with the twin you need to discover the endpoint and then activate it. Activation operation instructs the twin to create and activate a session into the OPC UA Server so the other service calls are possible.

[2021-12-03 11:44] cristipogacean commented on #1476
Closing since the most recent released version does not have this issue and the issue was fixed on main branch in the meanwhile.
Please reopen if you need more support.

[2021-12-03 11:44] #1476 closed, assigned to nobody

[2021-12-03 12:09] marcschier commented on #1483
The REST calls require a endpoint id, not endpoint object.  Is it possible that this endpoint id does not exist?  It is the twin identity that is created after a discovery run completes and finds the endpoint.

[2021-12-03 12:14] felixmondelo commented on #1483
@marcschier I'm talking about the request received by the Twin module.

The request reaches the correct endpoint because from Swagger I add the Endpoint Id parameter and I received it on my Twin module in the IoT Edge.

The request reaches zipped and the content it's:

[code]

Instead of something similar to this:

[code]

[2021-12-04 13:46] rploeg opened #1488 "Deployment error"
**Describe the bug**
When I run deploy on my Windows 10 machine I get the following error:

![image](https://user-images.githubusercontent.com/49752333/144711797-fcce93b7-f7db-433c-b6a4-aee40a3c4111.png)

I have removed my username and organisation tenant ID's

**To Reproduce**
Steps to reproduce the behavior:
1. Open PowerShell
2. Run .\Deploy

<img width="302" alt="2021-12-04_14-44-48" src="http

[2021-12-04 13:52] rploeg commented on #1488
Use the following command I have resolved above issue:

`close all PS session
Navigate to C:\Users\<User Name>\ .Azure
delete "AzureRmContext.json"
open PS session
type Connect-AzAccount -UseDeviceAuthentication
open a browser with the URL https://microsoft.com/devicelogin
Enter the code displayed on screen`

<img width="840" alt="2021-12-04_14-53-08" src="https://user-images.githubusercontent.com

[2021-12-06 16:08] b-enigma-con opened #1490 "Cosmos DB document limit reached, what to do?"
L.S.,

We would like some guidance on the following issue. We've deployed the IIoT stack in Azure, using the microservices setup (see https://azure.github.io/Industrial-IoT/services/). We currently have one IoT Edge device running the following modules (amongst others): OPC twin and OPC publisher. We have quite some published/monitored nodes, and our Cosmos DB document (storing our published node

[2021-12-07 11:00] b-enigma-con commented on #1490
As can be read here (https://azure.github.io/Industrial-IoT/manual/#limits-and-contributing-factors):

_**Size of job definitions**
Job definitions that are stored in Cosmos DB have 2MB limit on their size. This puts an indirect limit on number of nodes that can be put in a single job._

I can't find any documentation on how to handle this situation.

[2021-12-07 12:47] jehona-m commented on #1481
Please reactivate if further help is needed.

[2021-12-07 12:47] #1481 closed, assigned to nobody

[2021-12-07 12:55] hansgschossmann commented on #1483
@felixmondelo if i understand you correct:
- a direct method call to the OPC Twin module is working
- a call to the REST API to browse is not working, but you get all null values in the module

Can this be related to what is described in [#1481](https://github.com/Azure/Industrial-IoT/issues/1481) ?

[2021-12-07 14:01] mwiot opened #1492 "Unhandled error during Publish. BadTimeout 'BadTimeout'"
Hi, we are having some issues with the publisher. Getting bad timeout. Can you see from the logs what is causing this?
Had a stream running for the publisher for several hours, that suddenly stopped working. When checking the logs there were errors there regarding bad timeout. After the restart it is publishing data, but this error keeps coming on regular intervals. This is some timeout error rela

[2021-12-07 14:06] cristipogacean commented on #1492
This seem like either a networking issue between the publisher and the OPC UA Server, or the server is becoming unresponsive. Do you have a chance to look into the logs of the server and check if something goes wrong there?

[2021-12-07 14:13] rploeg commented on #1488
Solved the issue;

- created a new onmicrosoft.com account in the AAD with admin rights

Not using my MSDN subscription ID (that is also part of my AAD)

[2021-12-07 14:13] #1488 closed, assigned to karok2m

[2021-12-07 14:29] mwiot commented on #1492
Hi, yes.
What is the default settings for the container create option "ot|operationtimeout" "The operation timeout of the publisher OPC UA client in ms." ?
Can it help to alter the timeout?

Did not find anything in the logs. The UA server is a DA/UA converter from Softing.

[2021-12-07 14:50] cristipogacean commented on #1492
Default operation timeout is 15seconds. I'm not sure though it it makes sense to increase it. Especially when the publishing interval is much smaller than 15seconds.  Perhaps it makes more sense to increase the publishing interval when this is acceptable.

[2021-12-07 14:57] mwiot commented on #1492
Currently we are sending every value every 2 minutes even if there are no value changes (customer request) and are using these settings for every nodeid. 215 tags configured like this:

      samplingInterval: 00.00:02:00
      publishingInterval: 00.00:02:00
      HeartbeatInterval: 00.00:02:00

[2021-12-07 15:05] b-enigma-con commented on #1465
We increased the JobCheckInterval and HeartbeatInterval to 2 hours, but the result is not what we hoped for. Attached image is our QA environment, the changes are applied at the yellow mark.

10.000 Cosmos DB RU is not enough in our production environment with +/- 20500 published nodes (and +/- 450K IoT Hub messages a day), causing "429" responses.

![image](https://user-images.githubusercontent.c

[2021-12-07 15:20] cristipogacean commented on #1492
oh, in this case let's try to increase the operation timeout.

[2021-12-07 16:07] hansgschossmann commented on #1490
@b-enigma-con the 2MB are a limitation of Azure Cosmos DB. The only way to address this is to change how we store the nodes in the document, which is a feature request.
I am curious to know how many nodes you are trying to publish when you hit the 2MB limit.

[2021-12-07 16:11] b-enigma-con commented on #1490
Currently about 20500 nodes, and we are planning on using +/- 75000 nodes in the very near future. This is the same setup as mentioned in issue #1465.

[2021-12-08 06:59] mwiot commented on #1492
Tried to set operation time to 60 000msec, but the error  still shows up. Any other ideas?

[2021-12-09 15:09] b-enigma-con commented on #1465
We're not able to figure this out. We changed the interval parameters by sending a PATCH request to "/registry/v2/publishers/" with the following body:

[code]

In the publisher module we see the following log:
_[14:44:01 INF Microsoft.Azure.IIoT.Modules.OpcUa.Publisher.Controller.ConfigurationSettingsController] Agent configuration updated.
[14:44:01 INF Microsoft.Azure.IIoT.Module.Framework.Host

[2021-12-10 09:55] cristipogacean commented on #1465
@b-enigma-con, thank you for the investigation! It looks like you have run into a bug/regression that prevents the publisher module to apply the newly configured  Heartbeat and JobCheck intervals during runtime. A workaround for it is to manually restart the publisher modules, then the configured values are being picked-up. Furthermore, for heartbeat value the maximum configurable value is 1 minut

[2021-12-10 11:30] cristipogacean commented on #1492
We have seen similar issues when the the host machine running the IoTEdge runtime/publisher is under heavy load. Could it be the case here?

[2021-12-10 11:45] mwiot commented on #1492
The stream has now been running for 2 days continuously, but the error still shows up in the logs.

[2021-12-10 11:56] mwiot commented on #1492
The load seems fine?

![image](https://user-images.githubusercontent.com/82022527/145570532-425c3b69-e59b-464a-a0fd-f031851eb8cd.png)

[2021-12-10 12:42] cristipogacean commented on #1492
Indeed, that looks fine.

You mentioned you see the exception on regular basis, how often does this timeout occur? is it somehow in the same cycle as the operation timeout?
Would you be able to provide us a larger log snippet that contains multiple exceptions so we can further investigate?

Do you see any data loss when the exception occurs?
I will mark this thread as a bug now since we need to un

[2021-12-10 12:51] mwiot commented on #1492
[code]

[2021-12-10 13:28] cristipogacean commented on #1492
I managed to replicate this issue in my environment. On a first look it seems like a miss-configuration issue between the publishing interval and the keep-alive count on the publisher side but the issue requires deeper investigation.

The good news is I don't see any loss of data in the upstream. I'm assuming the publish request that expires is empty and the next one that succeeds will return the

[2021-12-10 17:41] karok2m commented on #1483
@felixmondelo, can I please ask you to provide a screenshot from the Swagger UI with your input parameters and with the result after you hit `Execute` button ?

[2021-12-14 13:23] hansgschossmann commented on #1320
Closing this one and continue on #1321

[2021-12-14 13:26] hansgschossmann commented on #1321
hi @nelsonmorais we discussed internally and the functionality you are looking for (recursive parameterization of publishing) is not something we will support in OPC Publisher.
We recommend that you implement a two step approach to achieve this:
1) browse all nodes under a specific node and generate a publishing configuration for OPC Publisher out of the browse results
2) configure OPC Publisher w

[2021-12-14 21:43] nelsonmorais commented on #1321
@hansgschossmann Understood. Thanks for the feedback.

[2021-12-14 21:46] nelsonmorais commented on #1320
@hansgschossmann This issue and the one reported on #1321 are not the same. Why is this one being closed?

[2021-12-15 14:20] hansgschossmann commented on #1334
Hi @Mkasakka the *.nodeset2.xml file does describe the OPC UA namespace of the server. I am not familiar with the Beckhoff modeling tool. Can you check with the Beckhoff documentation (or the people who have configured the OPC UA servers address space) what would be the equivilant to the nodeset2.xml file?

[2021-12-15 14:33] hansgschossmann commented on #1384
@TechPreacher we discussed this and this is expected behavior. The retry will stop as soon as an endpoint is deactivated. Since you are using the OPC Twin API directly, this might be creating the condition you are seeing here.
Closing the issue for now. Pls reactivate if needed.

[2021-12-15 14:33] #1384 closed, assigned to nobody

[2021-12-15 14:59] hansgschossmann commented on #1379
This is on our backlog, but I cannot yet give you a date when this will be in the product.

[2021-12-19 14:58] Padu98 opened #1503 "Use existing iot-Hub for iiot deployment"
I recently deployed the Industrial-IoT Platform and its components with the deployment script. I now want to use a diffrent IoT-hub (free tier) and delete the autogenerated one. How can i connect the opc-cloud microservices and the engineering tool after those steps to my new IoT-hub. And if that is not possible, is there any way to use an existing IoT-Hub in the deployment script?

[2021-12-19 21:15] Padu98 opened #1504 "OPC Publisher Direct Methods Reference (Publish, Twin, Discovery)"
Is there any documentation about the direct methods which can be used to access the edge modules? I just deployed the minimal srcript and was wondering how to call the twin moduls without the opc-cloud-microservices running. I know that there is a lot of documentation about the rest api which cant be to far off the direct mehtod calls.

[2021-12-20 14:50] mwiot commented on #1492
Thanks for putting fix in the next release.

[2021-12-20 15:06] mwiot opened #1506 "Discovery module: "Transient network error", "name does not resolve""
Hi, we have ran into an issue that we have not been able to figure out. A registered edge device in the iot hub does not show up in the engineering tool. When checking the discovery module logs i see that it reports an error: **Transient network error/ name does not resolve**. Any idea what is causing this? No errors are reported in the other modules.

Using
IIOT 2.8.1 (for all in one services and

[2021-12-20 23:33] mike-romanowski commented on #1504
I have the same question...  We would like to use as many of the "off the shelf" modules supplied by Microsoft as possible however we have a requirement to be able to operate for up to 10 days without an internet connection.  For this reason we cannot rely on running our business logic against the OPC Twin Micorservice REST API, which to my knowledge, can only be deployed in the Azure cloud.  We a

[2021-12-21 13:03] hansgschossmann commented on #1483
@felixmondelo have you been able to solve your issue meanwhile?

[2021-12-21 13:22] hansgschossmann commented on #1504
@Padu98 , @mike-romanowski we have no plans to document the direct method interface of the modules which are part of the Industrial-IoT platform. those are part of an E2E solution and built to work in this setup.

We see a need for a direct method interface of the industrial modules and will address this in the near future:
- OPC Publisher will support a DM interface in standalone mode in the next

[2021-12-21 13:45] cristipogacean commented on #1506
It seems to me that the network setting in the container create options of the discovery module prevent (for some reason that I don't know) name resolution for the iothub connection string. By default the discovery module is set in network host mode. An Idea is to start discovery in bridge network mode, like the publisher and twin modules are started - basically remove the network related options

[2021-12-21 13:57] cristipogacean commented on #1503
The parameters for of the various Azure resources in the the iiot deployment are stored in the deployment's key-vault. If you want to use a different IoT Hub, you need to change a couple of secrets in this key-vault: pcs-iothub-connstring and pcs-iothub-eventhubendpoint to point to the new IoT Hub connection string respective endpoint. Also make sure the new IoTHub has the following consumer group

[2021-12-21 15:02] mike-romanowski commented on #1504
We are looking for a method to set and get variables on an OPC-UA server programmatically.  We were thinking that the OPC Twin module would have worked well if it had a locally accessible interface.  We have a requirement to function with only local network availability due to the possibility of losing internet access for days in the environments in which our systems are deployed.  What is the est

[2021-12-22 10:01] felixmondelo commented on #1483
@karok2m this are the screenshots:

![image](https://user-images.githubusercontent.com/14011841/147074295-f0b5be1c-0764-42c1-8152-bb8fa6379f84.png)

![image](https://user-images.githubusercontent.com/14011841/147074206-877647c8-8aab-4b70-982c-77b7b45aead2.png)

@hansgschossmann the problem continues, the body that the module OPCTwin on the IoT Edge receives is incorrect from the Swagger as you can

[2021-12-22 12:11] mwiot commented on #1506
Hi thanks for the reply. Working now.
Changed from

[code]

to

[code]

[2021-12-22 13:44] cristipogacean commented on #1506
thanks for the feedback!

[2021-12-22 13:44] #1506 closed, assigned to cristipogacean

[2021-12-22 14:14] hansgschossmann commented on #1438
@JCrezelius we are planning to address this in the next version.

[2021-12-22 14:21] hansgschossmann commented on #1458
We have discussed this in more detail and we are not going to support deployment in china because of various required resources are not available in china. Closing it for now.

[2021-12-22 15:02] DidierDrogba2 opened #1511 "add modules to the edge device"
Hi, I have some issues with my edge Device. I deployed the IIoT Platform using the full deployment-script. Additionally i created an edge device for the genarated iot-hub.  I did that by just copying the following in the device twin:

    "tags": {
        "__type__": "iiotedge",
        "os": "Linux"
    }

After that I got the following Modules auto-generated:
twin
discovery
publisher
metricscol

[2021-12-22 15:20] DidierDrogba2 opened #1512 "Support for opc-twin module api direct method calls with input arguments (not requiring OPC Twin micro services)"
Hi, want to call some opcua-methods with the opc-twin restapi. The restapi and the authentication worked just fine for me, but every time I want to call a method with some arguments I get the same error. Methods which dont take any parameters work fine.

Example Request body (using postman):
![Screenshot 2021-12-22 161134](https://user-images.githubusercontent.com/96531996/147113885-7f9c66a8-49cb-

[2021-12-22 15:22] DidierDrogba2 commented on #1512
* this is the post url:
https://{{OPC-SERVICEURL}}/twin/v2/call/myDeviceId?nodeId=urn%3Afreeopcua%3Apython%3Aserver%23i%3D2031

[2021-12-22 15:23] cristipogacean commented on #1511
Hi @DidierDrogba2,
In order to disable the layered deployment you need to mark this device as "unmanaged" by IIoT Platform. Then the changes you make on the modules will be kept. Nevertheless, as long as the edge device contains the publisher/twin/discovery modules as well as the appropriate routing, the device will be recognized by the IIoT Platform and can be operated normally.

[code]

If you w

[2021-12-22 15:33] DidierDrogba2 commented on #1511
@cristipogacean thanks for the quick reply!

[2021-12-22 15:49] cristipogacean commented on #1512
@DidierDrogba2, can you check if calling this method works when using the engineering tool UI?

Everything you did seem to be fine. So maybe you want to double check if the nodesId (method&object) are correct and the method's attributes have the datatypes, order and count as expected by the server. If you can confirm that, we will have to validate if indeed this is a regression.

[2021-12-22 21:32] DidierDrogba2 commented on #1512
I just checked and i definitely used the correct nodeId and attributes. But I got this issue with every method of my opc server(if the method gets one or more input arguments). I changed the method itself temporary so that no input arguments are required. You can see the response below (The same node I used before):

![Screenshot from 2021-12-22 22-22-48](https://user-images.githubusercontent.com/

[2022-01-06 12:05] mwiot opened #1517 "Publisher job canceled."
Hi,

We recently ran into a problem on an edge machine publishing data to azure.
After moving the cloud services and engtool to a different app service plan, the publishers managed to connect to the new app services. But on one of the installations, the job status was set to canceled.

Endpoint that is still working after change:

[code]
Endpoint that is not working after change:

[code]
I then us

[2022-01-11 12:14] hansgschossmann commented on #1504
@mike-romanowski  thanks for your answers. we plan to have something at private preview quality in the next 6 months for OPC Twin like functionality. in the same timeframe there will also be the update to OPC Publisher available.

If i do not reply to this issue till end of march, pls ping me here for an update.

[2022-01-11 12:25] hansgschossmann commented on #1483
@karok2m can you provide a sample on how to call the /v2/browse API via swagger. I am not sure if we have an example in our documentation.

[2022-01-11 12:29] hansgschossmann commented on #1511
@DidierDrogba2 looks like this issue is resolved. Please reactivate if you still see issues.

[2022-01-11 12:29] #1511 closed, assigned to cristipogacean

[2022-01-12 14:21] #1458 closed, assigned to nobody

[2022-01-13 13:50] Padu98 opened #1521 "OPC Twin Microservice"
Hi there, I refer to the information about the OPC Twin Microservice on https://github.com/Azure/Industrial-IoT/blob/main/docs/services/twin.md .

When I write a "desired property" from the OPC twin microservice towards an Endpoint Identity - will it create a corresponding desired property in the device twin for the Endpoint Identity in the IoT Hub? To me it would seem logical to do that in order

[2022-01-14 09:56] marcschier commented on #1521
Hi @Padu98, you are correct, this would indeed be the way to go, but the Azure IoT Device twin is effectively a JSON document in a no-SQL database and is very small (properties together as JSON must be less than I believe 64k).  For this scenario it would quickly reach its limits.  Right now all transactions are through direct methods instead, which unfortunately require the edge to be online.  Th

[2022-01-16 13:00] Padu98 commented on #1521
Hi @marcschier,
Thanks for the quick reply!
In the Documentation it is also mentioned that WRITING a value on a Variable node is exposed as Desired/Reported Property on the “endpoint identity” on the Edge-Device. Does that mean that the “desired properties” of the Endpoint Identity running on the Edge are set by direct methods?
If I get this right it should at least be possible to communicate when

[2022-01-18 13:16] marcschier commented on #1521
Hi @Padu98, I am truly sorry, but the documentation in twin.md is incorrect and from it the confusion stems.  I have just submitted an update to the documentation in PR #1525 to remove the reference to desired/reported properties.  Reading and writing of OPC UA values (and attributes) is supported via the REST API referred to in the second link.  You are correct that the REST API just translates i

[2022-01-18 14:40] karok2m commented on #1483
@felixmondelo, `endpointId` that you are providing does not look correct. It should be a GUID taken from Registry microservice, there is a `Endpoints` section for endpoints-related operations. One of them is getting all available endpoints. Please note that you need an activated endpoint to browse.

For example this is what I would have to do to browse an endpoint for a new server:

1. Discover a

[2022-01-21 08:55] felixmondelo commented on #1477
Hi @hansgschossmann how do you consider progress with this?

[2022-01-23 00:12] linexc opened #1528 "deployment "killed" and bash does not response"
**Describe the bug**
I am trying building a connection between OPC UA and Azure and thereofore use the tutorial from [Ingesting OPC UA data with Azure Digital Twins](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-ingest-opcua-data?tabs=portal). When I followed the tutorial step by step until starting the deployment. Since it is on Ubuntu 18, I gave the command **./deploy.sh**. But aft

[2022-01-25 10:16] marcschier opened #1529 "OPC Publisher should honor operation limits of server"
See https://github.com/MicrosoftDocs/azure-docs/issues/79082 (Can't subsribe to more than 194 nodes / PLC)

Note: It looks like in some cases the number of operations in a single call might be too high when configuring the subscription.  Investigate whether we are honoring the server operation limits.

[2022-01-25 12:09] derSchtefan opened #1530 "2.8.1 - publishednodes.json mode - Session Manager keeps reporting "Failed to create session (BadNotConnected)" even though that connection has been removed from pn.json"
**Describe the bug**
In `publishednodes.json` mode, when the file contains a single endpoint that points to a non-existing server (localhost:40001 in our example), the session manager will correctly keep trying to connect to that endpoint at first. When `publishednodes.json` is updated with the correct url (10.50.0.5:40001 in our example), the change is detected, a new session is created and succe

[2022-01-25 12:26] hansgschossmann commented on #1483
@felixmondelo are you able to browse nodes using the steps @karok2m has  provided?

[2022-01-25 12:38] hansgschossmann commented on #1528
@linexc using deploy.sh from this repository is most likely installing much more than you are expecting. this will install the full Industrial-IoT platform which includes a bunch of microservices and is not what is described [here](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-ingest-opcua-data?tabs=portal).

The best description of how to deploy OPC Publisher in standalone mode can

[2022-01-25 12:45] hansgschossmann commented on #1530
@cristipogacean can we try to repro and fix for the next version?

[2022-01-25 12:45] felixmondelo commented on #1483
Yes, sorry for the delay and thanks to @karok2m.

[2022-02-01 14:07] hansgschossmann commented on #1483
Thanks @karok2m for your comprehensive answer.

[2022-02-01 14:07] #1483 closed, assigned to karok2m

[2022-02-01 14:08] hansgschossmann commented on #1528
@linexc  were my comments above helpful in any way?

[2022-02-04 10:34] jaypaddy opened #1547 "opcpublisher disconnected due to Communication_Error - now Disconnected_Retrying..."
OPCPublisher is unable to connect to OPC-UA Server and is raising an error:

[19:47:41 INF Root] Starting module OpcPublisher version 2.8.1.2.
[19:47:41 INF Root] Initiating prometheus at port 9702/metrics
[19:47:41 INF Root] Prometheus metric server started.
opcstacktracemask set to: 0x0
[19:47:41 WRN Microsoft.Azure.IIoT.Module.Framework.Client.IoTSdkFactory] Bypassing certificate validation for

[2022-02-04 11:56] mpaxh opened #1548 "Support OPC UA Historical Access implemented?"
Does OPC Publisher support part 11 (Historical Access) of the opc ua specification? The documentation does not detail which release / parts of the opc ua specification are implemented. If yes, an example would be great.

[2022-02-04 16:52] cristipogacean commented on #1548
OPC UA Historical Access is out of the scope of OPC Publisher. HA is integrated in the OPC Twin module and can only be used together with the IIoT platform microservices.

[2022-02-04 17:06] cristipogacean commented on #1547
This publisher logged error:

refers to the upstream connectivity to the IoT hub. It has nothing to do with the connectivity to the OPC UA Server.

To me it looks like the IoT Edge runtime is not running properly. If troubleshooting/reinstalling the runtime does not help, I would recommend you try with IoT edge 1.1 (LTS) as well.

[2022-02-04 20:49] jaypaddy commented on #1547
Thank you @cristipogacean. You are correct. it was a problem with edgeAgent and as we debug we found the issue and got it resolved.... OPCPublisher is working fine now.

[2022-02-04 20:49] #1547 closed, assigned to nobody

[2022-02-07 07:19] Haeavar commented on #1548
Hi @cristipogacean
Since the IIoT platform microservices will be discontinued. Are there any plans to support HA in the future? Do you have any detailed information about HA and the IIoT platform microservices?

[2022-02-08 13:07] hansgschossmann commented on #1528
@linexc pls reactivate if you still have questions.

[2022-02-08 13:07] #1528 closed, assigned to hansgschossmann

[2022-02-08 13:12] hansgschossmann commented on #1548
@Haeavar i am interested to understand your use case for HA in more detail. Can you share those here?

[2022-02-08 13:39] mpaxh commented on #1548
@hansgschossmann If the connection to the opc ua server is interrupted for whatever reason (e.g. network not available) a gap in the collected data by OPCPublisher results. However, typically the system on which the opc ua server runs stores the data for some period of time. HA could be a way to backfill the gaps in the data once the connection to the OPC UA server is restored.

[2022-02-09 10:32] cristipogacean commented on #1477
The Security mode should be independent on the user authentication mode.

Fix is  in https://github.com/Azure/Industrial-IoT/pull/1494. The fix will be part of version 2.8.2

[2022-02-09 10:32] #1477 closed, assigned to cristipogacean

[2022-02-11 15:04] #1530 closed, assigned to cristipogacean

[2022-02-11 15:05] cristipogacean commented on #1385
fixed in main branch

[2022-02-11 15:05] #1385 closed, assigned to cristipogacean

[2022-02-11 15:10] cristipogacean commented on #1438
fixed with https://github.com/Azure/Industrial-IoT/pull/1545

[2022-02-11 15:10] #1438 closed, assigned to cristipogacean

[2022-02-14 19:00] saramonteiro opened #1572 "Expose the local OPC UA servers transparently in the platform"
**Describe the solution you'd like**
Some SCADA systems, like [System Platform](https://www.aveva.com/en/products/system-platform/), has a built-in OPC-UA client that connects directly to OPC-UA servers to monitor and control assets.
When these SCADA systems are on premise in the same equipments' network, it's quite simple to connect them using the endpoints URLs. But if the SCADA system is on a r

[2022-02-14 19:58] saramonteiro opened #1573 "Enable the coexistence of IoT devices"
**Describe the solution you'd like.**
As far as I understood, IIoT platform was designed to connect to OPC-UA compatible devices, like OPC-UA PLCs and also other assets that use other shop floor protocols through the connectivity adapter module in the IoT Edge device.
But let's say we have an hybrid factory that also contains IoT devices that use no shop floor protocol and can use internet connect

[2022-02-15 06:54] DidierDrogba2 commented on #1506
@cristipogacean What exactly is the purpose of running the Discovery Container in the host network anyway? Is it relevant for performing the Scans?

[2022-02-15 13:08] hansgschossmann commented on #1548
@mpaxh thank you for your feedback. we are also discussing to support enabling queue size on MonitoredItems. Would this be enough for you? HA would definitely provide data for longer dropouts if the server supports it.

[2022-02-15 13:13] hansgschossmann commented on #1572
@saramonteiro we had in the past done a similar implementation of this, but removed it because of limited customer request and involved maintenance cost. Way back we had done what was called OPC Proxy. This was made of a client part and a modified OPC Stack. If you look on github you may still find all of those implementations.

[2022-02-15 13:21] hansgschossmann commented on #1573
This is an interesting idea. Although the difficult part of you suggestion is "in such a way the user can make use of the same microservices' APIs to access and control items like these devices". If you look at your IoT Devices, what are the methods they expose?

[2022-02-15 14:45] mpaxh commented on #1548
@hansgschossmann Not sure, what would the max queue size be? We would like to be able to backfill at least 5 days, for around 20k variables per server with the fastest variables sampling at 1 Hz. More than 5 days are welcome, that would make fixing the connection problem a bit more relaxed ;)
For reference, our servers provide the full history for 13 weeks.

[2022-02-15 17:50] saramonteiro commented on #1572
Hi @hansgschossmann can you be more specific about where I can find these stuff?
Maybe, which release this was still present?

[2022-02-16 07:14] DidierDrogba2 opened #1578 "Discovery docker network"
Hi,
I have a question regarding the Discovery Modul on the Gateway. What exactly is the reason for the Container running in host-network? All the other Container don't do so. Is it necessary to perform the Scans?

[2022-02-16 07:25] cristipogacean commented on #1578
Hi.

The reason for this is ease-of-use only.

When the scan addresses range is not specified in the discover request, the discovery module looks for all the network adapters and performs scans in the address ranges associated to the respective network adapters. This way, discovery module will only be able to access the edge appliance's peer opc ua servers when the module uses the host network.

W

[2022-02-21 10:57] dacolgit commented on #1333
Closed because the bug is not reproducible.
Please reopen if you find it again, with detailed instructions on how to reproduce it..

[2022-02-21 10:57] #1333 closed, assigned to nobody

[2022-02-21 17:18] dev-nimbeo opened #1586 "Reverse Connect"
**Feature request**
We need the OPC UA server to start the connection with the client, instead of the client starting the connection with the server.

**Solution**
So it would be great to have the reverse connect OPC UA capability implemented in the OPC Publisher Module

[2022-02-22 12:08] hansgschossmann commented on #1548
@mpaxh Queuesize is most likely too small for 5 days. As @cristipogacean pointed out in his first answer this is a feature which would require to use the full Industial-IoT platform (including microservices) and using the OPC Twin REST API to access HA data.

[2022-02-22 12:13] hansgschossmann commented on #1578
@cristipogacean thanks for providing the information. I will close this issue. @DidierDrogba2  pls reactivate if you need further information.

[2022-02-22 12:13] #1578 closed, assigned to cristipogacean

[2022-02-22 12:53] hansgschossmann commented on #1572
here is a link to the old OPC Proxy module. The gateway service in Industrial-IoT was experimental in 2.7.0:: https://github.com/Azure/Industrial-IoT/blob/release/2.7/docs/services/twin-gateway.md
It is still available as a container in 2.8.1, but no longer supported or recommended to use.

[2022-02-22 12:53] #1572 closed, assigned to hansgschossmann

[2022-02-22 13:54] mpaxh commented on #1548
@hansgschossmann @cristipogacean ok, since the iiot platform microservices will be discontinued, what is the solution for HA then?

[2022-02-23 15:46] aleducq opened #1592 "OPC publisher stop sending after subscribing to new tags"
**Describe the bug**
OPC publisher was sending telemetry data normally then after adding a new tag, without any error messages, the telemetry stops.
We have several edges and it happens only this time on this edge. The differences between this edge and the others is this edge runtime is a 1.2 running on Ubuntu and others are in 1.1 running in Cent OS

**Screenshots**
an extract from the publisher

[2022-02-24 09:35] cristipogacean commented on #1592
From the logs here I can only see that after the reconfiguration the server is only sending the initial datachange for the 3 monitored items within the timeframe of 59 seconds. Could it be that the 3 monitored items are "constant" in this timeframe, or the sampling interval for the 3 monitored items is set to something > 59 seconds?

BTW, Could you please try to update to the LTS version (2.8.x)?

[2022-02-24 12:49] aleducq commented on #1592
Hello Cristian, thanks for your reply. No, one of the item is a simulated heartbeat tag from OPC server increasing every second to check the health of the communication. What you see above is a part of the log, but if I look all the logs, I have nothing sent until the restart of the publisher module after 2h45 of run:
[code]
Regarding the version, we can't upgrade to the 2.8 version because we are

[2022-02-25 13:56] cristipogacean commented on #1592
@aleducq, thanks for validating this for us. I still think we don't have enough details to figure out what could cause this issue.
Would you be able to provide us the support bundle of this edge device?
Would you be so kind and write down the steps to replicate this issue so we can try it out internally?

[2022-03-01 12:09] hansgschossmann commented on #1592
@aleducq information on how to collect support-bundle information can be found at:  https://docs.microsoft.com/en-us/azure/iot-edge/troubleshoot?view=iotedge-2020-11

[2022-03-01 12:11] hansgschossmann commented on #1573
No follow-up. Closing for now. Please reactivate if needed.

[2022-03-01 12:11] #1573 closed, assigned to hansgschossmann

[2022-03-01 12:42] hansgschossmann commented on #1548
@mpaxh i am tagging this as feature request for OPC Publisher and will follow-up internally with the team.

[2022-03-01 12:54] aleducq commented on #1592
Hi @hansgschossmann, I've sent the support bundle information directly to @cristipogacean and @karok2m by email.

[2022-03-01 23:10] saramonteiro commented on #1573
Hi @hansgschossmann
What I meant is that the user could access telemetry data from an IoT device and also set data (like writable attributes) the same way we do for a OPC UA device that uses edge as gateway.

[2022-03-02 19:14] emulic opened #1610 "Node publishing doesn't work for more then 5 activated OPC UA endpoints"
**Describe the bug**
We are running an Edge device with IIoT modules in orchestrated mode in the version 2.8.
Discovery feature of the IIoT solution  found 9 OPC UA endpoints in the customer network and we activated node publishing for 5 endpoints without any issues.
Unfortunately, the publishing doesn't work for the 6th configured OPC UA endpoint.
During the configuration everything looked fine b

[2022-03-04 12:13] Haeavar commented on #1548
@hansgschossmann To safe costs and bandwidth, we want to send historical opcua data via file transfer to the cloud and only a few most important nodes via OpcPublisher live stream.

[2022-03-08 12:03] hansgschossmann commented on #1592
@aleducq thanks for sending. @cristipogacean , @karok2m  have you had a chance to look at the support bundle?

[2022-03-08 12:25] hansgschossmann commented on #1610
@cristipogacean can this be limited by the MaxWorker settings of PublisherConfigApiModel and then can be changed by the REST API call "Update publisher configuration" (documented here: https://github.com/Azure/Industrial-IoT/tree/main/docs/api/registry)?

@emulic if you have time, you can give it a shot as well.

[2022-03-08 12:49] hansgschossmann commented on #1548
@Haeavar then you would pull the HA data from the server in your custom module which is doing the file upload when you are missing some datapoints?

[2022-03-08 13:44] cristipogacean commented on #1610
@emulic, the default MaxWorker setting is set to 5, so one publisher will handle up to 5 publishing jobs. You can increase this value to a more appropriate value in the engineering tool as in the following print-screen:

![image](https://user-images.githubusercontent.com/14314727/157248785-3b386467-0c91-47ce-9571-32b5879e9a7d.png)

Alternatively, the registry service api can be called as @hansgsch

[2022-03-08 14:13] karok2m commented on #1592
@hansgschossmann, unfortunately OPC Publisher logs in the support bundle did not indicate any issues. I've asked @aleducq to enable debug logs for this deployment and send us new support bundle once the issue occurs again. It would also be useful to have the steps to replicate the problem. @aleducq, can you please add some information about that here ?

[2022-03-10 14:46] emulic commented on #1610
Thanks @hansgschossmann & @cristipogacean, this worked.

[2022-03-10 14:46] #1610 closed, assigned to cristipogacean

[2022-03-14 16:51] #1330 closed, assigned to nobody

[2022-03-15 09:54] lordalek opened #1625 "Iothub stops receiving data from edge device"
Iothub stops receiving data from edge device.
The $edgeHub container retries every five minutes but same result every time.

Having scrolled through the $edgeHub logs, there is nothing that indicates that there is a way to manually trigger this behavior.
The publisher container has no logs available from the incident.

Firstly we restarted the publisher container but the connection was not restore

[2022-03-15 12:10] hansgschossmann commented on #1592
@aleducq have you had a chance to replicate with debug logs enabled?

[2022-03-15 12:19] hansgschossmann commented on #1625
@lordalek the following two lines indicate that this seems to be an issue related to azureiotedge-hub:
Firstly we restarted the publisher container but the connection was not restored.
Restarting the $edgeHub container restored the connection.

Do you know if the latest 1.1.x version was pulled to you edge device (you can find this out when restarting edgeHub and checking its logs).

The root caus

[2022-03-15 12:49] aleducq commented on #1592
No, we didn't replicate the issue. I don't remember how to activate log level debug for a specific module of a specific iotedge. I have in mind something in container creation options like "-ll=debug" is that correct ? How can I choose a specific iot edge to deploy it only for this one ?

[2022-03-15 13:01] lordalek commented on #1625
Is it this line you mean?

```<6> 2022-03-14 08:34:40.595 +00:00 [INF] - Version - 1.1.8.48502653 (54b31809c98ee83e36679ecf92c5582de37172c4)```

[2022-03-15 15:29] hansgschossmann commented on #1625
yep. 1.1.11 is the latest available. but i have not seen any significant changed in edgeHub since 1.1.8. can you cleanup the images on your edge and start over. before you are doing this, capture a support-bundle using the iotedge command.
if you hit this issue again, pls fetch a support-bundle as soon as you get aware of the issue.

[2022-03-21 14:47] rploeg opened #1640 "Script is not compatible with your computer"
I have installed Industrial IoT solution before, but on a new tenant I want to install the environment with the standard deployment script.  But when the registration of AAD begins, I get this error:

![2022-03-21_15-42-12](https://user-images.githubusercontent.com/49752333/159285619-496eee82-93f6-43cf-bfd1-41cce6084748.png)

The user is owner of the subscription and is global administrator of AAD

[2022-03-21 15:32] dagefjestad opened #1641 "Unable to connect to an OPC endpoint using Base256 with OPC Publisher"
Hi

I have some trouble to connect to an OPC endpoint which use:
•	Security policy: Basic256
•	Message Security Mode: Sign & Encrypt

We have exchange certificates - and  added it to thrusted.
I am using Latest version of OPC Publisher.

Error message:
2022-03-21 15:14:41.418 +00:00 [INF] Azure IIoT b37d9b2f8445a4382e96f1d18342b2a48c455343 took "00:00:00.2354173".
2022-03-21 15:14:41.429 +00:00 [W

[2022-03-22 13:01] hansgschossmann commented on #1592
I think that it is not possible to set it via command line for exactly one specific IoT Edge device if the config come from a  layered deployment. You would need to author a deployment manifest for this edge to add the --ll. But i think there is also an option to set it via the module twin at least for OPC Twin and Discovery modules. For OPC Publisher: @cristipogacean and @karok2m can you help her